This is a package containing only the executables for XEmacs with
Mule(version %%XEMACS_VER%%), the next generation of Emacs.

You need to install a package, xemacs-common-%%XEMACS_VER%%, containing emacs
lisp files, info pages, and so on (except executables) for
XEmacs with Mule(version %%XEMACS_VER%%).

This package is built with Japanese support by using SKK, SJ3, Canna,
Wnn4 or Wnn6 as an external input engine. Each input method would be
supported in following ports respectively:

	japanese/xemacs%%XEMACS_MAJOR_VER%%-canna ........ SKK, SJ3, Canna
	japanese/xemacs%%XEMACS_MAJOR_VER%%-canna+wnn4 ... SKK, SJ3, Canna, Wnn4
	japanese/xemacs%%XEMACS_MAJOR_VER%%-canna+wnn6 ... SKK, SJ3, Canna, Wnn6
	japanese/xemacs%%XEMACS_MAJOR_VER%%-wnn4 ......... SKK, SJ3, Wnn4
	japanese/xemacs%%XEMACS_MAJOR_VER%%-wnn6 ......... SKK, SJ3, Wnn6

If you use with SJ3 or SKK, you should be installed sj3serv or skkserv
in advance. SKK is supported as already builtin. Also it will
support several input methods under leim. 

This package and the package xemacs-common-%%XEMACS_VER%%, might clobber any
existing emacs installation.  In particular, the executables and man
pages of etags/ctags are installed, and the info pages that come with
the original emacs will be overwritten too.

Although this shouldn't cause any problems to run both mule and emacs,
it may cause some confusion when one of them is pkg_delete'd.  If
someone has a solution to this, please tell me.
Or to avoid this problem, you could select prefix for top install
directory. By default it is pointed to the usual place, /usr/local.
