--- Tgif.tmpl.orig	Tue May 22 17:10:16 2007
+++ Tgif.tmpl	Tue May 22 17:13:48 2007
@@ -59,3 +59,5 @@
 XCOMM LOCAL_LIBRARIES	= $(XMULIB) $(XTOOLLIB) $(XLIB)
 XCOMM SYS_LIBRARIES	= -ldl -lm
 SYS_LIBRARIES	= -lm
+
+#include "Tgif.tmpl-freebsdports"
