TTY /dev/cuau0
READ_TIME 1000
LOG_TYPE 1
LOG_FORMAT "%b %d %H:%M:%S Sensor %s C: %.2C F: %.2F"
CNT_FORMAT "%b %d %H:%M:%S Sensor %s #%n %C"
HUM_FORMAT "%b %d %H:%M:%S Sensor %s C: %.2C F: %.2F H: %h%%"
SENSORS 3
ROM 0 0x10 0x68 0x46 0x4A 0x01 0x08 0x00 0xCA
ROM 1 0x10 0x02 0xFF 0x4D 0x01 0x08 0x00 0xFC
ROM 2 0x10 0x78 0x94 0x72 0x01 0x08 0x00 0x18
