--- files/portmaster.rc.sample.orig	2018-01-14 21:53:23 UTC
+++ files/portmaster.rc.sample
@@ -15,6 +15,12 @@
 # Make and save a package of the new port (-g)
 # MAKE_PACKAGE=gopt
 #
+# Format of saved packages (--package-format={txz,tbz,tgz,tar})
+# PACKAGE_FORMAT=txz
+#
+# Format of backup packages (--backup-format={txz,tbz,tgz,tar})
+# BACKUP_FORMAT=txz
+#
 # Do not preclean the port's build directory (-C)
 # DONT_PRE_CLEAN=Copt
 #
