--- rebar.config.orig	2016-06-24 23:50:49 UTC
+++ rebar.config
@@ -8,8 +8,6 @@
 {clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.
 
 {deps, [
-        {parse_trans, ".*",
-         {git, "git://github.com/uwiger/parse_trans.git", {tag, "3.0"}}}
        ]}.
 
 {profiles,
@@ -30,8 +28,6 @@
    [
     {deps,
      [
-      {meck, ".*",
-       {git, "git://github.com/eproxus/meck.git", "0.8.2"}}
      ]}
    ]}
  ]}.
