--- Mxkill.tmpl.orig	1997-08-30 09:03:15.000000000 -0700
+++ Mxkill.tmpl	2021-03-13 19:26:13.659667000 -0800
@@ -54,10 +54,10 @@
 XCOMM these:
 XCOMM LOCAL_LIBRARIES= $(XMLIB) $(XTOOLLIB) $(XLIB)
 XCOMM or
-XCOMM  LOCAL_LIBRARIES= -lXm -lXt -lX11
+LOCAL_LIBRARIES= -lXm -lXt -lX11
 XCOMM
 
-LOCAL_LIBRARIES= XmClientLibs
+XCOMM  LOCAL_LIBRARIES= XmClientLibs
 
 #ifdef HPArchitecture
 CCOPTIONS= -Aa -D_HPUX_SOURCE -Dhpux
