--- src/VBox/Installer/freebsd/virtualbox.desktop.orig	2010-10-11 17:39:54.000000000 +0200
+++ src/VBox/Installer/freebsd/virtualbox.desktop	2010-10-11 17:40:06.000000000 +0200
@@ -7,7 +7,6 @@
 Type=Application
 Exec=VirtualBox
 TryExec=VirtualBox
-DocPath=file://$VBOX_DOC_PATH/UserManual.pdf
 Icon=VBox
 Categories=Emulator;System;
 Comment=Run several virtual systems on a single host computer
