;;; site-init.el -- site-dependent initialization file

;;
;; Init file for FreeBSD port: emacs20-mule-devel
;;

; change a default file name of the internal DOC-string.
(Snarf-documentation "%%DOC_FILE%%")

;;; site-init.el ends here
