--- pythonfilter-modules.conf.sample.orig	2009-02-15 11:58:07.000000000 +0100
+++ pythonfilter-modules.conf.sample	2009-02-15 11:55:36.000000000 +0100
@@ -1,5 +1,5 @@
 # [add_signature.py]
-# domains = {'': '/etc/courier/signatures/default'}
+# domains = {'': '/usr/local/etc/courier/signatures/default'}
 
 # [attachments.py]
 # blockedPattern = r'^.*\.(scr|exe|com|bat|pif|lnk|sys|mid|vb|js|ws|shs|ceo|cmd|cpl|hta|vbs)$'
@@ -9,7 +9,7 @@
 # whitelistPurgeInterval = 60 * 60 * 12
 
 # [clamav.py]
-# localSocket = '/tmp/clamd'
+# localSocket = '/var/run/clamav/clamd'
 # action = 'quarantine'
 
 # [comeagain.py]
@@ -58,14 +58,14 @@
 # dnswlZone = ['list.dnswl.org']
 
 # [authdaemon.py]
-# socketPath = '/var/spool/authdaemon/socket'
+# socketPath = '/var/run/authdaemond/socket'
 
 [TtlDb]
 # dbmType can be dbm (dbm file), psycopg2 (postgresql database),
 # or mysql (mysql database)
 type = 'dbm'
 # The 'dbm' db type requires a dmbDir
-dir = '/var/lib/pythonfilter'
+dir = '/var/spool/courier/pythonfilter'
 # SQL db types require host, port, database name, username, and password
 # host = 'localhost'
 # port = '5432'
@@ -75,7 +75,7 @@
 
 [Quarantine]
 siteid = '7d35f0b0-4a07-40a6-b513-f28bd50476d3'
-dir = '/var/lib/pythonfilter/quarantine'
+dir = '/var/spool/courier/pythonfilter/quarantine'
 days = 14
 # notifyRecipient = 1
 # alsoNotify = 'quarantinemgr@example.com'
