--- rebar.config.orig	2016-11-08 13:08:47 UTC
+++ rebar.config
@@ -27,7 +27,7 @@
 {port_specs, [{"priv/lib/fast_tls_drv.so", ["c_src/fast_tls_drv.c"]},
               {"priv/lib/p1_sha.so", ["c_src/p1_sha.c"]}]}.
 
-{deps, [{p1_utils, ".*", {git, "git://github.com/processone/p1_utils", {tag, "1.0.6"}}}]}.
+{deps, []}.
 
 {clean_files, ["c_src/fast_tls_drv.gcda", "c_src/fast_tls_drv.gcno",
                "c_src/fast_sha.gcda", "c_src/fast_sha.gcno"]}.
