--- snmpd/snmpd.config	Fri Feb 25 14:50:43 2005
+++ snmpd/snmpd.config	Wed Oct  5 10:57:30 2005
@@ -83,7 +83,7 @@
 #
 # Netgraph module
 #
-begemotSnmpdModulePath."netgraph" = "/usr/local/lib/snmp_netgraph.so"
-
-%netgraph
-begemotNgControlNodeName = "snmpd"
+#begemotSnmpdModulePath."netgraph" = "/usr/local/lib/snmp_netgraph.so"
+#
+#%netgraph
+#begemotNgControlNodeName = "snmpd"
