#! /bin/sh

# $FreeBSD$

OPTIONS=""
IFACES=""

if ! PREFIX=$(expr $0 : "\(/.*\)/etc/rc\.d/$(basename $0)\$"); then
	echo "$0: Cannot determine the PREFIX" >&2
	exit 1
fi

case "$1" in
start)
	${PREFIX}/sbin/dhcpd $OPTIONS $IFACES > /dev/null 2>&1
	echo -n ' dhcpd'
	;;
stop)
	killall dhcpd
	;;
restart)
	$0 stop
	$0 start
	;;
status)
	ps -auxww | egrep '(conserver|console)' | egrep -v "($0|egrep)"
	;;
*)
	echo "usage: ${0##*/} {start|stop|restart|status}" >&2
	;;
esac

exit 0
