--- Makefile.master.orig	2018-04-05 10:43:14 UTC
+++ Makefile.master
@@ -8,5 +8,5 @@ include $(PATHTOROOT)/Plugins/Makefile.master
 
 CXXFLAGS += -DOFX_EXTENSIONS_VEGAS -DOFX_EXTENSIONS_NUKE -DOFX_EXTENSIONS_NATRON -DOFX_EXTENSIONS_TUTTLE -DOFX_SUPPORTS_OPENGLRENDER
 
-CXXFLAGS += -I$(TOP_SRCDIR)/Misc -I$(OFXSEXTPATH)
+CXXFLAGS += -I$(TOP_SRCDIR)/Misc -I$(OFXSEXTPATH) -I/usr/local/include
 VPATH += $(TOP_SRCDIR)/Misc $(OFXSEXTPATH)
