Mew is a "Message interface to Emacs Window" to integrate

   - Email
   - MIME(Multipurpose Internet Mail Extensions)
   - PGP(Pretty Good Privacy)

and to make it easy to view and compose them. With Mew you can send a
picture of a birthday cake with the song "Happy Birthday to you" to your
friend, which is encrypted by strong cryptograph.

This port is the Mew%%MEW_MAJOR_VER%%(Mew with version %%MEW_MAJOR_VER%%) for %%EMACS_CMD%%(%%EMACS_PORTSDIR%%). 
The Mew%%MEW_MAJOR_VER%% port and corresponding Emacs port are listed bellow and elisp
`site-lisp' directory(elisp load path), info path and etc directory(only
effective for xemacs ports) are shown as well. 

mail/%%PORTNAME%%%%MEW_MAJOR_VER%%-%%EMACS_PORT_NAME%%(%%PKGNAME%%) ===> %%EMACS_PORTSDIR%%(%%EMACS_CMD%%) 
	Lisp directory : %%ELISPDIR%%
	Info directory : %%INFODIR%%
	ETC directory  : %%ETCDIR%%
