# Example slurm.conf file.
#
# You can run configurator.html (included as part of the documentation) to build
# a configuration file customized for your environment.
#
# See the slurm.conf man page for more information.
#

# NOTE: The parent directories for Slurm's log files, process ID
# files, state save directories, etc. are not created by Slurm. They
# must be created and made writable by the slurm user as needed prior to
# starting Slurm daemons.
#
# If you keep the configuration directives below, you should create
# the directories /var/log/slurm/, /var/run/slurm/, and
# /var/spool/slurmd and make them owned and writable by the slurm user. 

AuthType=auth/munge
#BackupAddr=
#BackupController=
CacheGroups=0
ClusterName=FreeBSD
#ControlAddr=
ControlMachine=Master
#Epilog=
#FirstJobId=
#JobCredentialPrivateKey=
#JobCredentialPublicCertificate=
MailProg=/usr/bin/mail
#MaxJobCount=
MpiDefault=none
#PlugStackConfig=
#PluginDir=
ProctrackType=proctrack/pgid
#Prolog=
#PropagatePrioProcess=
#PropagateResourceLimits=
#PropagateResourceLimitsExcept=
ReturnToService=0
#SrunEpilog=
#SrunProlog=
SlurmUser=slurm
SlurmctldPidFile=/var/run/slurm/slurmctld.pid
SlurmctldPort=6817
SlurmdPidFile=/var/run/slurm/slurmd.pid
SlurmdPort=6818
SlurmdSpoolDir=/var/spool/slurmd
#SlurmdUser=root
StateSaveLocation=/var/run/slurm
SwitchType=switch/none
#TaskEpilog=
#TaskPlugin=
#TaskProlog=
#TmpFS=
#TrackWCKey=no
#TreeWidth=50
#UsePAM=

# TIMERS
InactiveLimit=0
KillWait=30
MinJobAge=300
SlurmctldTimeout=300
SlurmdTimeout=300
Waittime=0

# SCHEDULING
FastSchedule=1
#PriorityDecayHalfLife=14-0
#PriorityMaxAge=1-0
#PriorityType=priority/multifactor
#PriorityUsageResetPeriod=14-0
#PriorityWeightAge=1000
#PriorityWeightFairshare=100000
#PriorityWeightJobSize=1000
#PriorityWeightPartition=10000
#SchedulerAuth=
#SchedulerPort=
#SchedulerRootFilter=
SchedulerType=sched/backfill
SelectType=select/linear

# LOGGING
#JobCompLoc=
JobCompType=jobcomp/none
SlurmctldDebug=3
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdDebug=3
SlurmdLogFile=/var/log/slurm/slurmd.log

# ACCOUNTING
#AccountingStorageHost=
#AccountingStorageLoc=
#AccountingStoragePass=
#AccountingStorageType=accounting_storage/slurmdbd
#AccountingStorageUser=
#JobAcctGatherFrequency=30
#JobAcctGatherType=jobacct_gather/none

# COMPUTE NODES
NodeName=slave[1-10]  Procs=48  State=UNKNOWN
NodeName=slave[11-20] Procs=16  State=UNKNOWN

# PARTITIONS
PartitionName=all Nodes=slave[1-20] Default=YES MaxTime=INFINITE State=UP
