[Desktop Entry]
Version=1.0
Name=Remmina Remote Desktop Client
Name[bg]=Клиент за отдалечен достъп Remmina
Name[ca]=Client d'escriptori remot Remmina
Name[cs]=Klient vzdálené plochy Remmina
Name[da]=Remmina Fjernskrivebords Klient
Name[de]=Remmina Betrachter für entfernte Arbeitsflächen
Name[el]=Remmina Απομακρυσμένη Σύνδεση
Name[es]=Cliente de escritorio remoto Remmina
Name[eu]=Remmina, urruneko mahaigainen bezeroa
Name[fr]=Visionneur de bureaux distants Remmina
Name[hu]=Remmina távoli asztal kliens
Name[id]=Remmina Remote Desktop Client
Name[it]=Client di connessione a desktop remoti Remmina
Name[kk]=Remmina қашықтаған жұмыс үстел клиенті
Name[lt]=Remmina nutolusio darbalaukio klientas
Name[nl]=Remmina Extern Bureaublad Client
Name[pl]=Klient zdalnego pulpitu Remmina
Name[pt_BR]=Cliente de área de trabalho remota Remmina
Name[pt_PT]=Visualizador de Área de Trabalho Remota
Name[ru]=Клиент удалённого рабочего стола Remmina
Name[sk]=Klient pripojenia k vzdialenej ploche Remmina
Name[sv]=Remmina - Klient för fjärrskrivbord
Name[th]=Remmina ลูกข่ายพื้นโต๊ะระยะไกล
Name[tr]=Remmina Uzak Masaüstü Bağlantı Aracı
Name[uk]=Клієнт з'єднань з відаленим комп'ютером Remmina
Name[zh_CN]=Remmina 远程桌面客户端
Comment=Connect to remote desktops
Comment[bg]=Свързване към отдалечени компютри
Comment[ca]=Connecteu-vos a escriptoris remots
Comment[cs]=Připojení ke vzdáleným plochám
Comment[da]=Tilslut fjernskriveborde
Comment[de]=Zu entfernten Arbeitsflächen verbinden
Comment[es]=Conectar a escritorio remoto
Comment[eu]=Konektatu urruneko mahaigainekin
Comment[fr]=Connectez-vous à des bureaux distants
Comment[hu]=Kapcsolódás távoli asztalokhoz
Comment[id]=Mengakses remote desktop
Comment[it]=Connessione a desktop remoti
Comment[kk]=Қашықтаған жұмыс үстелдерге қосылу
Comment[lt]=Jungtis prie nutolusių darbalaukių
Comment[nl]=Verbinding maken met bureaubladen op afstand
Comment[pl]=Łączy ze zdalnymi pulpitami
Comment[pt_BR]=Conecte-se a áreas de trabalho remotas
Comment[pt_PT]=Ligar a áreas de trabalho remotas
Comment[ru]=Подключение к удалённым рабочим столам
Comment[sk]=Pripojenie k vzdialeným plochám
Comment[sv]=Anslut till fjärrskrivbord
Comment[th]=เชื่อมต่อไปยังพื้นโต๊ะระยะไกล
Comment[tr]=Uzak masaüstlerine bağlan
Comment[uk]=З'єднання з відаленим комп'ютером
Comment[zh_CN]=连接到远程桌面
TryExec=remmina
Exec=remmina
Icon=remmina
Terminal=false
Type=Application
Actions=
Categories=GTK;GNOME;X-GNOME-NetworkSettings;Network;

