# Added encoding declaration to setup.cfg
# https://github.com/agronholm/cbor2/commit/ba05c122
# https://github.com/agronholm/cbor2/issues/38

# pytest uses py which vendors iniconfig, which isn't unicode aware
# Patch out unicode characters for now
# https://github.com/pytest-dev/pytest/issues/3799
# https://github.com/RonnyPfannschmidt/iniconfig/issues/5
# https://github.com/RonnyPfannschmidt/iniconfig/issues/4

# coverage is not a compulsory dependency
# this block clobbers ports pytest args

--- setup.cfg.orig	2021-10-14 11:14:02 UTC
+++ setup.cfg
@@ -1,8 +1,9 @@
+# coding: utf-8
 [metadata]
 name = cbor2
 description = Pure Python CBOR (de)serializer with extensive tag support
 long_description = file: README.rst
-author = Alex Grönholm
+author = Alex Gronholm
 author_email = alex.gronholm@nextday.fi
 maintainer = Kio Smallwood (Sekenre)
 maintainer_email = kio@mothers-arms.co.uk
@@ -34,10 +35,6 @@ doc = 
 doc = 
 	sphinx_rtd_theme
 	sphinx-autodoc-typehints >= 1.2.0
-
-[tool:pytest]
-addopts = -rsx --cov --tb=short
-testpaths = tests
 
 [coverage:run]
 source = cbor2
