--- gg2.desktop.orig	Wed Jan 14 20:37:47 2004
+++ gg2.desktop	Fri Jan 30 17:18:58 2004
@@ -3,9 +3,10 @@
 Encoding=UTF-8
 Name=GNU Gadu
 Comment=Instant Messanger Client
-Comment[pl]=Wolne Gadanie
+Comment[pl]=Free-wolne Gadanie
 TryExec=gg2
-Icon=gg2.png
+Exec=gg2
+Icon=%%PREFIX%%/share/gg2/pixmaps/icon.png
 Terminal=false
 Type=Application
 Categories=Application;Network;InstantMessaging;GTK;
