--- etc/desktop/proofgeneral.desktop.orig	2012-04-11 20:39:33.000000000 -0700
+++ etc/desktop/proofgeneral.desktop	2012-04-11 20:41:16.000000000 -0700
@@ -5,7 +5,7 @@
 Name=Proof General
 GenericName=Theorem proving environment
 Comment=Organise your proofs!
-Icon=proofgeneral.png
+Icon=%%PREFIX%%/share/pixmaps/proofgeneral.png
 FilePattern=proofgeneral
 TryExec=proofgeneral
 Exec=proofgeneral %F
