--- etc/desktop/proofgeneral.desktop.orig	Sat Aug 13 14:19:29 2005
+++ etc/desktop/proofgeneral.desktop	Sat Aug 13 14:19:46 2005
@@ -2,7 +2,7 @@
 Name=Proof General
 Comment=Organise Your Proofs!
 Exec=proofgeneral %F
-Icon=proofgeneral.png
+Icon=%%PREFIX%%/share/pixmaps/proofgeneral.png
 Terminal=false
 Type=Application
 Encoding=UTF-8
