(autoload 'wl "wl" "Wanderlust" t)
(autoload 'wl-draft "wl" "Write draft with Wanderlust." t)
(setq load-path (cons "%%PREFIX%%/%%EMACS_LIBDIR%%/site-lisp/wanderlust" load-path))
(require 'semi-setupel)
(require 'flim-setupel)
(require 'apel-setupel)
(load "mime-setup")
(provide 'wanderlust-startup)
