--- client/Makefile.dist.orig	Fri Oct 13 21:03:19 2000
+++ client/Makefile.dist	Fri Jan 26 05:05:24 2001
@@ -52,8 +52,8 @@
 	  echo "No client script available."; \
 	else \
 	  $(INSTALL) $(TOP)/client/scripts/$(SCRIPT)\
-					$(DESTDIR)$(ETC)/dhclient-script; \
-	  $(CHMOD) 700 $(DESTDIR)$(ETC)/dhclient-script; \
+				$(DESTDIR)$(CLIENTBINDIR)/dhclient-script; \
+	  $(CHMOD) 700 $(DESTDIR)$(CLIENTBINDIR)/dhclient-script; \
 	fi
 	$(MANINSTALL) $(MANFROM) dhclient.$(MANCAT)8 $(MANTO) \
 			$(DESTDIR)$(ADMMANDIR)/dhclient$(ADMMANEXT)
@@ -93,6 +93,7 @@
 
 dhclient.man8: dhclient.8
 	sed -e "s#ETCDIR#$(ETC)#g" -e "s#DBDIR#$(VARDB)#g" \
+		-e "s#CLIENTBINDIR#$(CLIENTBINDIR)#g" \
 		-e "s#RUNDIR#$(VARRUN)#g" < dhclient.8 >dhclient.man8
 
 dhclient-script.cat8:	dhclient-script.man8
@@ -100,6 +101,7 @@
 
 dhclient-script.man8:	dhclient-script.8
 	sed -e "s#ETCDIR#$(ETC)#g" -e "s#DBDIR#$(VARDB)#g" \
+		-e "s#CLIENTBINDIR#$(CLIENTBINDIR)#g" \
 		-e "s#RUNDIR#$(VARRUN)#g" < dhclient-script.8 \
 						>dhclient-script.man8
 
