--- requirements/optional.txt.orig	2021-10-27 09:01:25 UTC
+++ requirements/optional.txt
@@ -1,27 +1,27 @@
 -r required.txt
 
 # Format support
-aeidon==1.10.1        # Subtitles
+aeidon>=1.10.1        # Subtitles
 # Format support
 BeautifulSoup4>=4.3  # Trados
 # Encoding detection
-chardet==4.0.0              # chardet
+chardet>=4.0.0              # chardet
 # Tmserver backend
-cheroot==8.6.0       # tmserver
+cheroot>=8.6.0       # tmserver
 # Format support
-fluent.syntax==0.18.1 # Fluent
+fluent.syntax>=0.18.1 # Fluent
 # Format support
-iniparse==0.5        # INI
+iniparse>=0.5        # INI
 # Format support
-phply==1.2.5         # PHP
+phply>=1.2.5         # PHP
 # To provide translations for language names without need for OS package.
-pycountry==22.1.10          # Languages
-pyenchant==3.2.2     # spellcheck
+pycountry>=22.1.10          # Languages
+pyenchant>=3.2.2     # spellcheck
 # Windows Resources (rc2po and po2rc)
-pyparsing==3.0.6     # RC
+pyparsing>=3.0.6     # RC
 # Faster matching in e.g. pot2po
 python-Levenshtein>=0.12    # Levenshtein
 # Format support
-ruamel.yaml==0.17.20 # YAML
+ruamel.yaml>=0.16.12 # YAML
 # Format support
-vobject==0.9.6.1     # iCal
+vobject>=0.9.6.1     # iCal
