--- requirements/optional.txt.orig	2021-04-02 06:24:50 UTC
+++ requirements/optional.txt
@@ -1,25 +1,25 @@
 -r required.txt
 
 # Format support
-aeidon==1.9        # Subtitles
+aeidon>=1.9        # Subtitles
 # Format support
 BeautifulSoup4>=4.3  # Trados
 # Encoding detection
-chardet==4.0.0              # chardet
+chardet>=4.0.0              # chardet
 # Tmserver backend
-cheroot==8.5.2       # tmserver
+cheroot>=8.5.2       # tmserver
 # Format support
-iniparse==0.5        # INI
+iniparse>=0.5        # INI
 # Format support
-phply==1.2.5         # PHP
+phply>=1.2.5         # PHP
 # To provide translations for language names without need for OS package.
-pycountry==20.7.3          # Languages
-pyenchant==3.2.0     # spellcheck
+pycountry>=20.7.3          # Languages
+pyenchant>=3.2.0     # spellcheck
 # Windows Resources (rc2po and po2rc)
-pyparsing==2.4.7     # RC
+pyparsing>=2.4.7     # RC
 # Faster matching in e.g. pot2po
 python-Levenshtein>=0.12    # Levenshtein
 # Format support
-ruamel.yaml==0.17.4 # YAML
+ruamel.yaml>=0.16.12 # YAML
 # Format support
-vobject==0.9.6.1     # iCal
+vobject>=0.9.6.1     # iCal
