--- turpial.desktop.orig	2011-01-22 22:05:07.000000000 +0100
+++ turpial.desktop	2011-02-18 23:38:51.000000000 +0100
@@ -3,8 +3,10 @@
 Encoding=UTF-8
 Name=Turpial
 Name[es]=Turpial
+Name[fr]=Turpial
 GenericName=Twitter client
 GenericName[es]=Cliente Twitter
+GenericName[fr]=Client pour Twitter et Identi.ca
 Comment=Twitter client written in Python
 Comment[es]=Cliente Twitter escrito en Python
 Exec=turpial
