--- config/settings.d/dns_nsupdate.yml.example.orig	2015-12-24 23:16:48 UTC
+++ config/settings.d/dns_nsupdate.yml.example
@@ -3,6 +3,6 @@
 # Configuration file for 'nsupdate' dns provider
 #
 
-#:dns_key: /etc/rndc.key
+#:dns_key: %%LOCALBASE%%/etc/namedb/rndc.key
 # use this setting if you are managing a dns server which is not localhost though this proxy
 #:dns_server: dns.domain.com
