--- config/settings.d/realm.yml.example.orig	2016-08-24 09:01:39.000000000 +0200
+++ config/settings.d/realm.yml.example	2016-09-05 23:44:35.005749000 +0200
@@ -7,7 +7,7 @@
 #:realm_provider: freeipa
 
 # Authentication for Kerberos-based Realms
-:realm_keytab: /etc/foreman-proxy/freeipa.keytab
+:realm_keytab: %%LOCALBASE%%/etc/foreman-proxy/freeipa.keytab
 :realm_principal: realm-proxy@EXAMPLE.COM
 
 # FreeIPA specific settings
