--- config/settings.yml.example.orig	2017-05-08 15:18:42 UTC
+++ config/settings.yml.example
@@ -38,7 +38,7 @@
 #:foreman_ssl_key: ssl/private_keys/fqdn.pem
 
 # by default smart_proxy runs in the foreground. To enable running as a daemon, uncomment 'daemon' setting
-#:daemon: true
+:daemon: true
 # Only used when 'daemon' is set to true.
 # Uncomment and modify if you want to change the default pid file '/var/run/foreman-proxy/foreman-proxy.pid'
 #:daemon_pid: /var/run/foreman-proxy/foreman-proxy.pid
