#     $FreeBSD: /tmp/pcvs/ports/x11/kdelibs2/files/Attic/kde.dist,v 1.2 2000-03-25 19:42:56 imura Exp $
#

/set type=dir uname=root gname=wheel mode=0755
.
    share
        applnk
            Applications
            ..
            Development
            ..
            Games
            ..
            Graphics
            ..
            Internet
            ..
            Multimedia
            ..
            Network
            ..
            Settings
            ..
            System
            ..
            Utilities
            ..
        ..
        apps
        ..
        config
        ..
        doc
            HTML
                cs
                ..
                da
                ..
                de
                ..
                el
                ..
                es
                ..
                fi
                ..
                fr
                ..
                hu
                ..
                ja
                ..
                it
                ..
                nl
                ..
                pl
                ..
                pt
                ..
                ru
                ..
                sv
                ..
                zh_CN.GB2312
                ..
            ..
        ..
        icons
            large
            ..
            mini
            ..
        ..
        locale
            br
                LC_MESSAGES
                ..
            ..
            ca
                LC_MESSAGES
                ..
            ..
            cs
                LC_MESSAGES
                ..
            ..
            da
                LC_MESSAGES
                ..
            ..
            de
                LC_MESSAGES
                ..
            ..
            el
                LC_MESSAGES
                ..
            ..
            en_UK
                LC_MESSAGES
                ..
            ..
            eo
                LC_MESSAGES
                ..
            ..
            es
                LC_MESSAGES
                ..
            ..
            et
                LC_MESSAGES
                ..
            ..
            fi
                LC_MESSAGES
                ..
            ..
            fr
                LC_MESSAGES
                ..
            ..
            he
                LC_MESSAGES
                ..
            ..
            hr
                LC_MESSAGES
                ..
            ..
            hs
                LC_MESSAGES
                ..
            ..
            hu
                LC_MESSAGES
                ..
            ..
            is
                LC_MESSAGES
                ..
            ..
            it
                LC_MESSAGES
                ..
            ..
            ja
                LC_MESSAGES
                ..
            ..
            ko
                LC_MESSAGES
                ..
            ..
            mk
                LC_MESSAGES
                ..
            ..
            nl
                LC_MESSAGES
                ..
            ..
            no
                LC_MESSAGES
                ..
            ..
            pl
                LC_MESSAGES
                ..
            ..
            pt
                LC_MESSAGES
                ..
            ..
            pt_BR
                LC_MESSAGES
                ..
            ..
            ro
                LC_MESSAGES
                ..
            ..
            ru
                LC_MESSAGES
                ..
            ..
            sk
                LC_MESSAGES
                ..
            ..
            sl
                LC_MESSAGES
                ..
            ..
            sv
                LC_MESSAGES
                ..
            ..
            th
                LC_MESSAGES
                ..
            ..
            tr
                LC_MESSAGES
                ..
            ..
            zh_CN.GB2312
                LC_MESSAGES
                ..
            ..
            zh_TW.Big5
                LC_MESSAGES
                ..
            ..
        ..
        mimelnk
            application
            ..
            audio
            ..
            image
            ..
            inode
            ..
            text
            ..
            video
            ..
        ..
        sounds
        ..
        toolbar
        ..
        wallpapers
        ..
    ..
..
