--- ./rebar.config.orig	2013-10-30 12:57:04.000000000 +0900
+++ ./rebar.config	2013-10-30 12:57:11.000000000 +0900
@@ -1,26 +1,5 @@
 %% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
 %% ex: ts=4 sw=4 ft=erlang et
-{deps, [
-        {jiffy, ".*",
-         {git, "git://github.com/davisp/jiffy.git", {tag, "0.8.3"}}},
-
-        {ibrowse, ".*",
-         {git, "git://github.com/opscode/ibrowse.git", {tag, "v4.0.1.1"}}},
-
-        {ej, "",
-         {git, "git://github.com/seth/ej.git", {tag, "0.0.2"}}},
-
-        {gen_bunny, ".*",
-         {git, "git://github.com/seth/gen_bunny.git", {branch, "master"}}},
-        
-        {envy, ".*",
-         {git, "git://github.com/manderson26/envy.git", {branch, "master"}}}
-       ]}.
-
-{dev_only_deps, [
-                 {neotoma, "",
-                  {git, "git://github.com/seancribbs/neotoma.git", {tag, "1.6.1"}}}
-                ]}.
 
 {erl_opts, [debug_info]}.
 {cover_enabled, true}.
