--- ./src/backend/utils/misc/postgresql.conf.sample.orig	2009-08-24 22:08:40.000000000 +0200
+++ ./src/backend/utils/misc/postgresql.conf.sample	2009-10-04 19:21:09.000000000 +0200
@@ -230,6 +230,7 @@
 
 # - Where to Log -
 
+log_destination = 'syslog'
 #log_destination = 'stderr'		# Valid values are combinations of
 					# stderr, csvlog, syslog and eventlog,
 					# depending on platform.  csvlog
@@ -264,6 +265,7 @@
 #syslog_facility = 'LOCAL0'
 #syslog_ident = 'postgres'
 
+silent_mode = on
 #silent_mode = off			# Run server silently.
 					# DO NOT USE without syslog or
 					# logging_collector
@@ -367,6 +369,9 @@
 #track_counts = on
 #track_functions = none			# none, pl, all
 #track_activity_query_size = 1024
+
+# On FreeBSD, this is a performance hog, so keep it off if you need speed
+update_process_title = off
 #update_process_title = on
 #stats_temp_directory = 'pg_stat_tmp'
 
