# OnlyKey Security KEY
notify 100 {
        match "system"          "USB";
        match "subsystem"       "DEVICE";
        match "type"            "ATTACH";
        match "vendor"          "0x1d50";
        match "product"         "0x60fc";
        action "chgrp u2f /dev/$cdev; chmod g+rw /dev/$cdev";
};

notify 100 {
        match "system"          "USB";
        match "subsystem"       "DEVICE";
        match "type"            "ATTACH";
        match "vendor"          "0x16c0";
        match "product"         "0x0486";
        action "chgrp u2f /dev/$cdev; chmod g+rw /dev/$cdev";
};

attach 100 {
        match "vendor"          "0x1d50";
        match "product"         "0x60fc";
        action "chgrp u2f /dev/$device-name; chmod g+rw /dev/$device-name";
};

attach 100 {
        match "vendor"          "0x16c0";
        match "product"         "0x0486";
        action "chgrp u2f /dev/$device-name; chmod g+rw /dev/$device-name";
};

