--- analog.cfg.orig	2004-12-19 13:51:22 UTC
+++ analog.cfg
@@ -10,7 +10,8 @@
 #
 # If you need a LOGFORMAT command (most people don't -- try it without first!),
 # it must go here, above the LOGFILE commands.
-LOGFILE logfile.log
+LOGFORMAT COMBINED
+LOGFILE /var/log/httpd-access.log
 # LOGFILE /old/logs/access_log.*
 # OUTFILE Report.html
 # HOSTNAME "[my organisation]"
