--- src/snappy/rebar.config.orig	2024-11-17 19:38:49 UTC
+++ src/snappy/rebar.config
@@ -2,7 +2,7 @@
 {port_sources, ["c_src/*.cc", 
                 "c_src/snappy/*.cc"]}.
 {port_env, [
-    {"CXXFLAGS", "$CXXFLAGS -DNDEBUG"},
+    {"CXXFLAGS", "$CXXFLAGS -DNDEBUG -O0"},
     {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
      "LDFLAGS", "$LDFLAGS -lstdc++"}
 ]}.
