--- rebar.config.orig	2021-09-29 19:21:16 UTC
+++ rebar.config
@@ -8,16 +8,8 @@
  {platform_define, "^[0-9]+", namespaced_types}
 ]}.
 
-{plugins, [
-  { pc, { git, "git://github.com/blt/port_compiler.git", {tag, "1.6.0"}}}
-]}.
-
 {artifacts, ["priv/syslog_drv.so"]}.
 
-{provider_hooks, [
-  {post,
-     [
-       {compile, {pc, compile}},
-       {clean, {pc, clean}}
-     ]
-}]}.
+{pre_hooks, [{"", compile, "/usr/local/bin/enc compile"}]}.
+{post_hooks, [{"", clean, "/usr/local/bin/enc clean"}]}.
+
