--- NsCDE/share/doc/examples/xsession-integration/nscde.desktop.orig	2021-05-01 21:41:34 UTC
+++ NsCDE/share/doc/examples/xsession-integration/nscde.desktop
@@ -2,7 +2,7 @@
 Encoding=UTF-8
 Name=NsCDE
 Comment=Not so Common Desktop Environment
-Exec=/opt/NsCDE/bin/nscde
+Exec=${PREFIX}/sbin/nscde
 Terminal=False
 DesktopNames=NsCDE
 
