--- rel/reltool.config.orig	2013-09-17 20:53:23.000000000 +0200
+++ rel/reltool.config	2013-09-17 20:55:40.000000000 +0200
@@ -37,8 +37,12 @@
        {boot_rel, "riak"},
        {profile, embedded},
        {excl_sys_filters, ["^bin/.*",
-                           "^erts.*/bin/(dialyzer|typer)"]},
+                           "^erts.*/bin/(dialyzer|typer)",
+                           "^erts.*/bin/(dialyzer|typer)",
+                           "^erts.*/doc",
+                           "^erts.*/man"]},
        {excl_archive_filters, [".*"]},
+       {app, mnesia, [{incl_app_filters, ["ebin/*"]}]},
        {app, cluster_info, [{incl_cond, include}]},
        {app, erlang_js, [{incl_cond, include}]},
        {app, ebloom, []},
