--- src/kmplayer.desktop.orig	Wed Nov 10 23:22:35 2004
+++ src/kmplayer.desktop	Wed Nov 10 23:24:51 2004
@@ -35,7 +35,7 @@
 Name[sv]=Kmplayer
 Name[ta]=கேஎம்இயக்கி
 Name[xx]=xxKMPlayerxx
-MimeType=audio/x-mp3;audio/mpegurl;audio/x-pn-realaudio;audio/x-scpls;audio/x-vorbis;application/x-kmplayer;application/x-mplayer2;application/x-ogg;audio/x-mp2;video/mpeg;audio/x-mpegurl;audio/x-wav;audio/x-mod;video/x-avi;video/x-ms-asf;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/quicktime;video/x-flic;
+MimeType=audio/x-mp3;audio/x-pn-realaudio;audio/x-scpls;audio/x-vorbis;application/x-kmplayer;application/x-mplayer2;application/x-ogg;video/mpeg;audio/x-mpegurl;audio/x-wav;audio/x-mod;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/quicktime;video/x-flic;application/vnd.ms-asf;application/vnd.rn-realmedia;audio/ac3;audio/vorbis;audio/x-matroska;video/x-matroska;video/x-ogm;
 InitialPreference=7
 Categories=Qt;KDE;AudioVideo
 GenericName=Media Player
