--- src/kmplayer.desktop.orig	Sun Jan 18 18:28:05 2004
+++ src/kmplayer.desktop	Thu Feb  5 20:53:34 2004
@@ -35,7 +35,7 @@
 Name[sv]=Kmplayer
 Name[ta]=KM Å¡º¢ôÀÅ÷
 Name[xx]=xxKMPlayerxx
-MimeType=audio/x-mp3;audio/x-pn-realaudio;audio/x-vorbis;application/x-mplayer2;application/x-ogg;audio/x-mp2;video/mpeg;audio/x-mpegurl;audio/x-wav;audio/x-mod;video/x-avi;video/x-ms-asf;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/quicktime;video/x-flic;
+MimeType=audio/x-mp3;application/x-ogg;video/mpeg;audio/x-mpegurl;audio/x-wav;audio/x-mod;application/vnd.ms-asf;video/x-msvideo;video/quicktime;video/x-flic;
 InitialPreference=7
 Categories=Qt;KDE;AudioVideo
 GenericName=Media Player
