--- project.cfg.orig	2021-04-25 15:51:21 UTC
+++ project.cfg
@@ -1,5 +1,5 @@
 [project]
-name = Rx
+name = rx
 project = RxPY
 # Please make sure the version here remains the same as in rx/__init__.py
 version = 3.2.0
