[Desktop Entry]
Version=1.0
Type=Application
StartupNotify=false
Terminal=false
Name=GanttProject
Comment=Gantt chart based project scheduling and management tool
Icon=ganttproject
Exec=ganttproject
MimeType=application/x-ganttproject;
Categories=Office;
