#!/bin/sh

case "$1" in
	start)		
		%%PREFIX%%/sbin/LCDd -c %%PREFIX%%/etc/LCDd.conf &
		echo -n " LCDd"
		;;
	stop)
		killall LCDd
		echo -n " LDCd"
		;;
	*)
		echo ""
		echo "Usage: `basename $0` { start | stop }"
		echo ""
		exit 64
		;;
esac
