#!/bin/sh

case "$1" in
	start)		
		/usr/local/bin/LCDd -c /usr/local/etc/LCDd.conf
		echo -n " drm-kmod"
		;;
	stop)
		killall LCDd
		echo -n " drm-kmod"
		;;
	*)
		echo ""
		echo "Usage: `basename $0` { start | stop }"
		echo ""
		exit 64
		;;
esac
