[Desktop Entry]
Version=1.0
Type=Application
Name=LyX
GenericName=Document Processor
Comment=High level LaTeX frontend
Exec=lyx %F
TryExec=lyx
Icon=lyx
StartupNotify=false
StartupWMClass=Lyx
Terminal=false
Categories=Office;WordProcessor;Qt;
MimeType=text/x-lyx;application/x-lyx;
