--- etc/pulse/client.conf.sample.orig	2011-04-26 07:29:20 UTC
+++ etc/pulse/client.conf.sample
@@ -23,11 +23,11 @@
 ; default-source =
 ; default-server =
 
-; autospawn = yes
+autospawn = no
 ; daemon-binary = /usr/bin/pulseaudio
 ; extra-arguments = --log-target=syslog
 
 ; cookie-file =
 
-; disable-shm = no
+disable-shm = yes
 ; shm-size-bytes = 0 # setting this 0 will use the system-default, usually 64 MiB
