--- ./rebar.config.orig	2013-10-30 12:31:09.000000000 +0900
+++ ./rebar.config	2013-10-30 12:31:16.000000000 +0900
@@ -2,12 +2,6 @@
 %% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
 %% ex: ts=4 sw=4 ft=erlang et
 
-{deps,
-    [{webmachine, ".*",
-       {git, "git://github.com/basho/webmachine", {tag, "1.10.1"}}}
-    ]
-}.
-
 %% Add dependencies that are only needed for development here. These
 %% dependencies will be hidden from upstream projects using this code
 %% as a dependency.
