--- src/backend/utils/misc/postgresql.conf.sample.orig	2008-01-30 19:35:55.000000000 +0100
+++ src/backend/utils/misc/postgresql.conf.sample	2008-02-18 13:49:42.000000000 +0100
@@ -231,6 +231,7 @@
 
 # - Where to Log -
 
+log_destination = 'syslog'
 #log_destination = 'stderr'		# Valid values are combinations of
 					# stderr, csvlog, syslog and eventlog,
 					# depending on platform.  csvlog
@@ -313,6 +314,7 @@
 					# and their durations, > 0 logs only
 					# statements running at least this time.
 
+silent_mode = on
 #silent_mode = off			# DO NOT USE without syslog or
 					# logging_collector
 					# (change requires restart)
@@ -365,6 +367,8 @@
 #track_counts = on
 #update_process_title = on
 
+# On FreeBSD, this is a performance hog, so keep it off if you need speed
+update_process_title = off
 
 # - Statistics Monitoring -
 
