--- Mxascii.tmpl.orig	1996-09-02 13:00:03.000000000 -0700
+++ Mxascii.tmpl	2021-03-13 19:53:58.410008000 -0800
@@ -49,10 +49,10 @@
 XCOMM these:
 XCOMM LOCAL_LIBRARIES= $(XMLIB) $(XTOOLLIB) $(XLIB)
 XCOMM or
-XCOMM  LOCAL_LIBRARIES= -lXm -lXt -lX11
+LOCAL_LIBRARIES= -lXm -lXt -lX11
 XCOMM
 
-LOCAL_LIBRARIES= XmClientLibs
+XCOMM  LOCAL_LIBRARIES= XmClientLibs
 
 CCOPTIONS= 
 
