--- src/kports.desktop.old	2009-01-21 20:13:06.000000000 +0100
+++ src/kports.desktop	2009-01-21 20:13:27.000000000 +0100
@@ -1,10 +1,10 @@
 [Desktop Entry]
 Encoding=UTF-8
 Name=KPorts
-Exec=kdesu -c 'kports %i %m -caption "%c"'
+Exec=/bin/sh -c 'if [ -x /usr/local/bin/kdesu ]; then /usr/local/bin/kdesu kports; elif [ -x /usr/local/kde4/lib/kde4/libexec/kdesu ]; then /usr/local/kde4/lib/kde4/libexec/kdesu kports; elif [ -x /usr/local/bin/gksu ]; then /usr/local/bin/gksu kports; else kports; fi'
 Icon=kports
 Type=Application
-DocPath=kports/index.html
 Comment=A tool for managing Software in FreeBSD
 Comment[de]=Ein Programm zur Softwareverwaltung unter FreeBSD
 Terminal=0
+Categories=Qt;KDE;System;
