--- Local.config.orig	2010-02-23 23:11:07.000000000 +0900
+++ Local.config	2010-06-24 05:20:52.000000000 +0900
@@ -20,9 +20,8 @@
 LPCCMD = /usr/sbin/lpc status
 #define LPCCMD 
 
-#if defined(__NetBSD__) || defined(__FreeBSD)
+#if defined(NetBSDArchitecture) || defined(FreeBSDArchitecture)
 SHAREDIR = @PREFIX@/share/xpaint
-LPCCMD = @PREFIX@/sbin/lpc status
 #endif
 
 XCOMM Enable/disable PRINTCAP (for BSD style printing configuration)
@@ -138,13 +137,13 @@
 XCOMM
 
 XCOMM  You must have the freetype2 library.
-XFT_INCLUDE = -I/usr/include/freetype2
-XFT_LIB = -lXft
+XFT_INCLUDE = -I. `pkg-config --cflags xft`
+XFT_LIB = `pkg-config --libs xft`
 
 XCOMM  You must have the XPM library.
 XCOMM  Make sure the path name to the library is correct.
 
-#if defined(__NetBSD__) || defined(__FreeBSD)
+#if defined(NetBSDArchitecture) || defined(FreeBSDArchitecture)
 XPM_LIB     = -L@XPMDIR@/lib -Wl,-R@XPMDIR@/lib -lXpm -lX11 -lm -lXmu -lXext
 #else
 XPM_LIB     = -L/usr/lib -Wl,-R/usr/lib -lXpm -lX11 -lm -lXmu -lXext
@@ -152,7 +151,7 @@
 
 XCOMM  Make sure this points to the location of the 'xpm.h' file.
 
-#if defined(__NetBSD__) || defined(__FreeBSD)
+#if defined(NetBSDArchitecture) || defined(FreeBSDArchitecture)
 XPM_INCLUDE = -I@XPMDIR@/include/X11
 #else
 XPM_INCLUDE = -I/usr/include/X11
@@ -182,7 +181,7 @@
 
 XCOMM This should take care of everything needed for BSD.
 
-#if defined(__NetBSD__) || defined(__FreeBSD__)
+#if defined(NetBSDArchitecture) || defined(FreeBSDArchitecture)
 TIFF_INCLUDE = -I@LOCALBASE@/include
 TIFF_LIB     = -L@LOCALBASE@/lib -Wl,-R@LOCALBASE@/lib -ltiff
 JPEG_INCLUDE = -I@LOCALBASE@/include
