--- Local.config.orig	2010-11-07 22:32:05.000000000 +0100
+++ Local.config	2010-12-28 19:07:55.000000000 +0100
@@ -20,9 +20,8 @@ XCOMM instead PRINTCAP (or disable it as
 LPCCMD = /usr/sbin/lpc status
 #define LPCCMD 
 
-#if defined(__NetBSD__) || defined(__FreeBSD)
-SHAREDIR = @PREFIX@/share/xpaint
-LPCCMD = @PREFIX@/sbin/lpc status
+#if defined(NetBSDArchitecture) || defined(FreeBSDArchitecture)
+SHAREDIR = /usr/local/share/xpaint
 #endif
 
 XCOMM Enable/disable PRINTCAP (for BSD style printing configuration)
@@ -174,22 +173,22 @@ XCOMM #define XawClientLibs -lXaw -Bstat
 XCOMM
 
 XCOMM  You must have the freetype2 library.
-XFT_INCLUDE = -I/usr/include/freetype2
-XFT_LIB = -lXft -lfontconfig
+XFT_INCLUDE = -I. `pkg-config --cflags xft`
+XFT_LIB = `pkg-config --libs xft`
 
 XCOMM  You must have the XPM library.
 XCOMM  Make sure the path name to the library is correct.
 
-#if defined(__NetBSD__) || defined(__FreeBSD)
-XPM_LIB     = -L@XPMDIR@/lib -Wl,-R@XPMDIR@/lib -lXpm -lX11 -lm -lXmu -lXext
+#if defined(NetBSDArchitecture) || defined(FreeBSDArchitecture)
+XPM_LIB     = -L/usr/local/lib -Wl,-R/usr/local/lib -lXpm -lX11 -lm -lXmu -lXext
 #else
 XPM_LIB     = -L/usr/lib -lXpm -lX11 -lm -lXmu -lXext
 #endif
 
 XCOMM  Make sure this points to the location of the 'xpm.h' file.
 
-#if defined(__NetBSD__) || defined(__FreeBSD)
-XPM_INCLUDE = -I@XPMDIR@/include/X11
+#if defined(NetBSDArchitecture) || defined(FreeBSDArchitecture)
+XPM_INCLUDE = -I/usr/local/include/X11
 #else
 XPM_INCLUDE = -I/usr/include/X11
 #endif
@@ -218,12 +217,12 @@ XCOMM CDEBUGFLAGS =
 
 XCOMM This should take care of everything needed for BSD.
 
-#if defined(__NetBSD__) || defined(__FreeBSD__)
-TIFF_INCLUDE = -I@LOCALBASE@/include
-TIFF_LIB     = -L@LOCALBASE@/lib -Wl,-R@LOCALBASE@/lib -ltiff
-JPEG_INCLUDE = -I@LOCALBASE@/include
-JPEG_LIB     = -L@LOCALBASE@/lib -Wl,-R@LOCALBASE@/lib -ljpeg
-PNG_INCLUDE = -I@LOCALBASE@/include/png
-PNG_LIB     = -L@LOCALBASE@/lib -Wl,-R@LOCALBASE@/lib -lpng -lz
-XPM_INCLUDE = -I@XPMDIR@/include/X11
+#if defined(NetBSDArchitecture) || defined(FreeBSDArchitecture)
+TIFF_INCLUDE = -I/usr/local/include
+TIFF_LIB     = -L/usr/local/lib -Wl,-R/usr/local/lib -ltiff
+JPEG_INCLUDE = -I/usr/local/include
+JPEG_LIB     = -L/usr/local/lib -Wl,-R/usr/local/lib -ljpeg
+PNG_INCLUDE = -I/usr/local/include/png
+PNG_LIB     = -L/usr/local/lib -Wl,-R/usr/local/lib -lpng -lz
+XPM_INCLUDE = -I/usr/local/include/X11
 #endif
