--- conf/carbon.conf.example.orig	2015-11-27 18:37:07 UTC
+++ conf/carbon.conf.example
@@ -29,6 +29,7 @@
 #   PID_DIR        = /var/run/
 #
 #LOCAL_DATA_DIR = /opt/graphite/storage/whisper/
+LOCAL_DATA_DIR = /var/db/carbon/whisper/
 
 # Enable daily log rotation. If disabled, carbon will automatically re-open
 # the file if it's rotated out of place (e.g. by logrotate daemon)
