--- config/cf/X11.tmpl.orig	Thu Apr  8 22:31:58 2004
+++ config/cf/X11.tmpl	Thu Apr  8 22:42:52 2004
@@ -544,7 +544,7 @@
 #define BuildXft1Library	BuildRenderLibrary
 #endif
 #ifndef UseFontconfig
-#define UseFontconfig		BuildXftLibrary
+#define UseFontconfig		(BuildXftLibrary || BuildXft1Library)
 #endif
 #ifndef BuildFontconfigLibrary
 #define BuildFontconfigLibrary	(UseFontconfig && !HasFontconfig)
@@ -1499,7 +1499,14 @@
 #endif
 
 #ifndef PsWrap
+#if defined(UseInstalled) || defined(UseInstalledPrograms)
+#define PsWrap pswrap
+#define PsWrapDependency /**/
+#else
 #define PsWrap $(PSWRAPSRC)/pswrap
+#define PsWrapDependency HostProgramTargetName($(PSWRAP))
+#endif
+         PSWRAP = PsWrap
 #endif
 
 #ifndef ResourceConfigurationManagement
