--- config/cf/xf86.tmpl.orig	Mon Sep  2 11:45:21 2002
+++ config/cf/xf86.tmpl	Mon Sep  2 11:45:24 2002
@@ -27,6 +27,8 @@
 #ifdef UseInstalled
 #define ImakeSubCmdHelper $(IMAKE) -DUseInstalled -I$(IMAKETOP) \
 			  -I$(IRULESRC) $(IMAKE_DEFINES)
+#elif defined(UseInstalledPrograms)
+#define ImakeSubCmdHelper $(IMAKE) -I$(IMAKETOP)  -I$(IRULESRC) $(IMAKE_DEFINES)
 #else
 #define ImakeSubCmdHelper $(IMAKEPREFIX)$(IMAKE) -I$(IMAKETOP) \
 			  -I$(IMAKEPREFIX)$(IRULESRC) $(IMAKE_DEFINES)
