{
    "absence_mode" = withAbsence;
    "address_blocksize" = 50;
    "enterprise_sub_view" = attributes;
    "formletter_kind" = winword;
    "job_blocksize" = 50;
    "job_no_of_cols" = 3;
    "job_view" = jobHistoryList;
    "joblist_view" = toDoList;
    "mail_editor_type" = internal;
    "mail_nextMesgAfterDelete" = 1;
    "mail_printviewer_headers" = (
      subject,
      from,
      to,
      cc,
      date
    );
    "mail_send_type" = plain;
    "mail_showUnreadMesgAsNext" = 1;
    "mail_show_all_unread_links" = 0;
    "mail_show_target_folder" = 1;
    "mail_viewAttachmentBodysInEditor" = 0;
    "mail_viewAttachmentsInline" = 1;
    "mail_viewImagesInline" = 1;
    "mail_viewStatus" = 0;
    "news_blocksize" = 30;
    "news_filterDays" = 7;
    "news_showNewsOnTop" = 0;
    "persons_sub_view" = attributes;
    "projects_blocksize" = 50;
    "projects_no_of_cols" = 3;
    "rootAccessformletter_kind" = 1;
    "rootAccessmail_editor_type" = 1;
    "rootAccessmail_send_type" = 1;
    "rootAccessmail_viewAttachmentsInline" = 1;
    "rootAccessmail_viewImagesInline" = 1;
    "rootAccessscheduler_end_hour" = 1;
    "rootAccessscheduler_start_hour" = 1;
    "rootAccessscheduler_time_input_type" = 1;
    "rootAccessscheduler_view" = 1;
    "scheduler_additional_popup_entries" = 20;
    "scheduler_appointment_view" = attributes;
    "scheduler_custom_everyyear_holidays" = {};
    "scheduler_custom_holidays" = {};
    "scheduler_daychart_columnsperday" = 24;
    "scheduler_dayoverview_dayend" = 1080;
    "scheduler_dayoverview_daystart" = 480;
    "scheduler_dayoverview_timeinterval" = 3600;
    "scheduler_end_hour" = 12;
    "scheduler_mail_template_date_format" = "%Y-%m-%d";
    "scheduler_no_of_cols" = 2;
    "scheduler_overview_short_info" = 1;
    "scheduler_overview_with_resources" = 1;
    "scheduler_popup_persons" = (

    );
    "scheduler_popup_resourceNames" = (

    );
    "scheduler_popup_teams" = (

    );
    "scheduler_show_holiday_christmasEve" = 1;
    "scheduler_show_holiday_deathsSunday" = 0;
    "scheduler_show_holiday_holidaygroup_advent" = 0;
    "scheduler_show_holiday_holidaygroup_bay" = 0;
    "scheduler_show_holiday_holidaygroup_ber" = 0;
    "scheduler_show_holiday_holidaygroup_bra" = 0;
    "scheduler_show_holiday_holidaygroup_bre" = 0;
    "scheduler_show_holiday_holidaygroup_bwb" = 0;
    "scheduler_show_holiday_holidaygroup_bylaw" = 1;
    "scheduler_show_holiday_holidaygroup_custom_all" = 1;
    "scheduler_show_holiday_holidaygroup_custom_private" = 1;
    "scheduler_show_holiday_holidaygroup_hes" = 0;
    "scheduler_show_holiday_holidaygroup_hh" = 0;
    "scheduler_show_holiday_holidaygroup_mvp" = 0;
    "scheduler_show_holiday_holidaygroup_nrw" = 0;
    "scheduler_show_holiday_holidaygroup_nsa" = 0;
    "scheduler_show_holiday_holidaygroup_rpf" = 0;
    "scheduler_show_holiday_holidaygroup_saa" = 0;
    "scheduler_show_holiday_holidaygroup_sac" = 0;
    "scheduler_show_holiday_holidaygroup_sah" = 1;
    "scheduler_show_holiday_holidaygroup_slh" = 0;
    "scheduler_show_holiday_holidaygroup_thu" = 0;
    "scheduler_show_holiday_mothersDay" = 0;
    "scheduler_show_holiday_newYearsEve" = 1;
    "scheduler_show_holiday_shrovetide" = 0;
    "scheduler_show_holiday_summertimeChange" = 1;
    "scheduler_show_holiday_wintertimeChange" = 1;
    "scheduler_start_hour" = 11;
    "scheduler_time_input_type" = PopUp;
    "scheduler_view" = overview;
    "scheduler_weekchart_columnsperday" = 24;
    "scheduler_write_access_accounts" = (

    );
    "scheduler_write_access_teams" = (

    );
    "skyp4_desktop_tab" = favorites;
    "skyp4_projectviewer_tab" = attributes;
    "usermanager_blocksize" = 30;
    ImapSentFolderName = "sent-mail";
	JobPreferredExecutantsEnabled = YES;
	JobReferredPersonEnabled = YES;
    LSPageRefreshOnBacktrack = YES;
    LSPluginEnabledUserAgents = (
        "Mozilla/4.0 (compatible; MSIE"
    );
    LSPluginViewerEnabled = YES;
    ServerSideSortingDisabled = NO;
    ShowOnlySubscribedInRoot = YES;
    ShowOnlySubscribedInSubFolders = YES;
    ShowVacationPanel = YES;
    SkyButtonRowDefaultButtonsLeft = 0;
    SkyButtonRowHideInactiveButtons = 1;
    SkyButtonTextMode = 0;
    SkyDockShowBookmarks = 1;
    SkyDockShowDesktop = 1;
    SkyDockTextMode = 0;
    SkyDockablePagesOrdering = (
		UserManager,
		News,
		Scheduler2,
		ResourceScheduler,
		Persons,
		Enterprises,
		Projects,
		Jobs,
		Imap,
		PalmSync
    );
	SkyLanguages = (
		English_OOo,
		German_OOo,
		English_blue,
		German_blue,
		English_orange,
		German_orange,
		English_kde
	);
    SkyMaxFavoritesCount = 5;
    SkyMaxNavLabelLength = 32;
    UseSkyrixLoginForImap = NO;
    WOCachingEnabled = YES;
    WOContactSNS = NO;
    WODebuggingEnabled = YES;
    WODefaultSessionTimeout = 1200;
    WOResourcePrefix = "";
    WOUseWatchDog = NO;
    language = "English";
    popupIfNewMails = 1;
    rootAccessSkyDockShowBookmarks = 1;
    rootAccessSkyDockShowDesktop = 1;
    rootAccessSkyDockablePagesOrdering = 1;
    rootAccesslanguage = 1;
    rootAccesstimezone = 1;
    timezone = MET;
    OGoMinimumActiveSessionCount = 0;
    ImapDebugEnabled = NO;
}
