{
    AptNotifyBeVerbose = NO;
    AptNotifyFromAddress = "ogo@localhost";
    AptNotifySentResourcesFile = "/var/log/opengroupware/OGosent-resources";
    AptNotifySkyrixPassword = "";
    AptNotifySkyrixUser = root;
}
