--- dnsmasq.conf.example.orig	2015-06-12 20:39:11 UTC
+++ dnsmasq.conf.example
@@ -123,6 +123,12 @@
 # running another nameserver on the same machine.
 #bind-interfaces
 
+# Accept DNS queries only from hosts whose address is on a local
+# subnet, ie a subnet for which an interface exists on the server.
+# This option only has effect if there are no --interface
+# --except-interface, --listen-address or --auth-server options.
+local-service
+
 # If you don't want dnsmasq to read /etc/hosts, uncomment the
 # following line.
 #no-hosts
