[Accounts]
gpasswd_add_cmd = pw groupmod {group} -m {user}
gpasswd_remove_cmd = pw groupmod {group} -d {user}
useradd_cmd = pw useradd {user} -m
userdel_cmd = pw userdel {user} -r
usermod_cmd = pw usermod {user} -G {groups}
groupadd_cmd = pw groupadd {group}

[MetadataScripts]
default_shell = /bin/sh

[InstanceSetup]
set_multiqueue = false
optimize_local_ssd = false
# google-cloud-sdk only supports python2 at the moment, disabling boto will
# avoid issues when running this agent with python3.
set_boto_config = false
