--- build/resources/0ad.desktop.orig	2010-10-08 16:08:54.000000000 +0200
+++ build/resources/0ad.desktop	2012-05-10 15:27:23.306790356 +0200
@@ -3,7 +3,7 @@
 Name=0 A.D.
 Comment=A real-time strategy game of ancient warfare
 Comment[it]=Videogioco strategico in tempo reale di guerre antiche
-Exec=/usr/bin/0ad
+Exec=/usr/local/bin/0ad
 Icon=0ad
 Terminal=false
 Type=Application
