--- config/XView.tmpl.orig	2012-02-03 13:15:49.992408249 -0800
+++ config/XView.tmpl	2012-02-03 13:17:45.694502291 -0800
@@ -97,12 +97,14 @@
  */
 #if !defined(__linux__) && !defined(__CYGWIN__)
 #if UseInstalled
-            MKDIRHIER = BourneShell BinDir/mkdirhier
+            MKDIRHIER = mkdirhier
 #endif
 #endif
 
 #if OsHasLocale
-            LOCALE_DEFINES = -DOS_HAS_LOCALE
+            LOCALE_DEFINES = -DOS_HAS_LOCALE -DCOMPAT_43TTY
+#else
+            LOCALE_DEFINES = -DCOMPAT_43TTY
 #endif
 
 #if OsHasMmap
@@ -194,15 +196,6 @@
                      AS = as
  */
 /*
- *	use the same trick X11R5 does for defining rules for installed libs
- */
-#undef _Use
-#ifdef UseInstalled
-#define _Use(a,b) a
-#else
-#define _Use(a,b) b
-#endif
-/*
  *	Temporary directory used during build process before the include
  *	files are installed.  This is just a place where symbolic links are
  *	placed to point back to the actual files in the build hierarchy to
@@ -227,7 +220,7 @@
  *	afterwards.
  */
 #ifndef XVIncludeDirName
-#define XVIncludeDirName /include
+#define XVIncludeDirName include
 #endif
                  INCDIR = XVIncludeDirName
 /*
@@ -332,7 +325,7 @@
 #ifdef __CYGWIN__
             DEPXVIEWLIB = -lrpc
 #else
-	    DEPXVIEWLIB =
+            DEPXVIEWLIB =
 #endif
                XVIEWLIB = -L$(LIBRARY_DEST) -lxview
 #else
@@ -393,8 +386,8 @@
              XVCLIENTINCLUDES = -I$(OPENWINHOME)/include
 #else
              XVCLIENTI18NDEFINES = -DOW_I18N_L3
-             XVCLIENTMISCLIB = 
-             XVCLIENTINCLUDES = 
+             XVCLIENTMISCLIB =
+             XVCLIENTINCLUDES =
 #endif
 
              XVCLIENTDEFINES = $(XVCLIENTSYSDEFINES) $(XVCLIENTI18NDEFINES)
@@ -430,7 +423,7 @@
 #if defined __linux__ || defined __CYGWIN__
 #define SharedXViewRev 3.2.4
 #else
-#if SystemV4
+#if SystemV4 || UseElfFormat
 # define SharedXViewRev 3
 #else
 # define SharedXViewRev 3.2
@@ -470,12 +463,8 @@
  *	Include the XView specific makefile macros.
  */
 
-/*  This is just needed here because X11 is installed with gcc as
-    a default compiler.
-	lumpi@dobag.in-berlin.de
-
 #undef CcCmd
 #define CcCmd cc
-#define LibraryCcCmd cc */
+#define LibraryCcCmd cc
 #include <XView.rules>
 #endif
