--- nzbget.conf.example	2008-08-22 07:50:40.000000000 -0700
+++ nzbget.conf.example	2008-10-02 17:00:00.000000000 -0700
@@ -307,11 +307,11 @@
 # the names of broken files
 CreateBrokenLog=yes
 
-# Create memory dump (core-file) on abnormal termination (POSIX only) (yes, no)
+# Create memory dump (core-file) on abnormal termination (Linux only) (yes, no)
 # Core-files are very helpful for debugging.
 # NOTE: core-files may contain sensible data, like your login/password to
 # newsserver etc.
-DumpCore=no
+# DumpCore=no
 
 # See also option "logfile" in secion "PATHS"
 
