    _____
   /     \_________  __    __ __   __ __  ___
  /   o  /        /_|_ |  (__)  \ |  |  |/  /
 /   ___/___   __/___/ |__|_ |   \|  |     /_
 \___/    /     \   |______/_|__|\___|__|\___\(NT)
          \_____/ ###    N E T W O R K S
                 ###
        _____ _ ###     _________
       |     | #######\/        / ___
       |     |####  ####  _____/ |   |
       |     ###  O  /###/    ___|   |
       |     ###     \###\___/_      |
       |     |####\ ####       \ \   |
       |_____|__######_\________\____|
