# *****************************************************************
# * PTlink IRCd is (C) CopyRight PTlink Coders Team 1999-2000     *
# * http://www.ptlink.net/Coders - coders@PTlink.net              *
# * This program is distributed under GNU Public License          *
# * Please read the file COPYING for copyright information.       *
# *****************************************************************

# File: main.dconf
# Desc: ircd main dconf file
# Author: Lamego@PTlink.net
# Date: Mon 15 Jan 2001 07:18:17 PM WET


# Legend:
# [YES] - If option value is undefined, YES is assumed

# First we include network settings
.include network.dconf

# Define if you want to try reverse hostname lookup
# during client's connection  [YES]
ReverseLookup	Yes

# Define if you want to use ident lookup
CheckIdentd No

# Define if you want to hide information notices sent to users
# during connection.
HideConnectInfo No

# Define /helpsys paths
UserHelpFile	"help.user"
OperHelpFile	"help.oper"
AdminHelpFile	"help.admin"

# When AllowChanCTCP is NO, only ops or voices can send
# CTCP's to the entire channel
AllowChanCTCP	NO

# Defines the allowed interval between repeated messsages
# sent to a noflood (+d) channel
ChanFloodTime	10

# If defined clock time zone will be set to the specified string
# on ircd startup
# NOTE: This is normally required for ircds running on foreign machines
# related to the network time zone.
#TimeZone	"GMT+0"

# If defined connecting clients will be checked for clones
# if more than CheckClonesLimit connect from the same host 
# during CheckClonesPeriod that host will be throttled for CheckClonesDelay
CheckClones		YES

  # after this number of connections from same host
  CheckClonesLimit		3
  
  # during this period
  CheckClonesPeriod		15s
  
  # throttle this host for this time
  CheckClonesDelay		1m

#  CheckTargetLimit:
#
#	Will block users who are using too many different targets
#	on privmsg/notice during a short period of time.
#	A good option to block spammers

CheckTargetLimit	YES

#  CheckSpamOnTarget
#
#   If defined when triggering CheckTargetLimit the message will be checked for spamwords,
#   if a spamword or a channel name is found on the message, the user will get zombie and
#   zombie.

# CheckSpamOnTarget YES

# Defines the maxinum number of channels a user can join
MaxChansPerUser	5

# Defines the maximum number of channels a registered user can join
# If defined will override MaxChansPerUser for registered nicks
MaxChansPerRegUser 20

# Define if you want to use IRCNTP
# this will make all time stamps to be adjusted with an 
# offset calculated relative to the hub or services time
# during their connection
UseIRCNTP Yes

# Path for codepage files needed by unicode translation
CodePagePath "codepage"

# List of codepage files that should be loaded from CodePagePath
# a .cp extension will be appended to the filename
CodePages "iso8859-1,iso8859-5,iso8859-9,cp1251,cp1253,cp850,cp860,cp866"

# Define if you want users to join a given channel after connect
# NOTES:
#   Do not prefix channel names with the # symbol 
#   You can specify multiple channels splitting them with ","
# AutoJoinChan "PTlink"

# END OF FILE
