# *****************************************************************
# * PTlink IRCd is (C) CopyRight PTlink Coders Team 1999-2000     *
# * http://www.ptlink.net/Coders - coders@PTlink.net              *
# * This program is distributed under GNU Public License          *
# * Please read the file COPYING for copyright information.       *
# *****************************************************************
# $Id: network.dconf.sample,v 1.19 2004/12/26 09:54:55 stinger Exp $
# Legend:
# [YES] - If option value is undefined, YES is assumed

# File: network.dconf
# Desc: network configuration file
# Author: Lamego@PTlink.net
# Date: Thu 14 Feb 2002 08:45:09 PM WET

# Network name
NetworkName	"PTlink"

# NetworkAUP
NetworkAUP	"Our network AUP can be found at http://www.ptlink.net/aup/"

# host to be advised on server full/no authorization
RandomHost	"irc.ptlink.net"

# Network Description 
NetworkDesc	"PTlink IRC Network"

# Help Channel
HelpChan	"#PTlink"

# Services server name
ServicesServer	Services.PTlink.net

# Enable this to hide ServicesServer on /LINKS
HideServicesServer      YES

# will force the use of /service instead of /msg service
# where services is a services client name (e.g.: nickserv)
# note that the /service alias is always available	[YES]
ForceServicesAlias	YES

# Services flood protection system settings
  # to limit services usage
  ServicesInterval	1m

  # maximum services usage count during ServicesInterval
  ServicesUseCount	10
  

# If defined channel admins will be prefixed with '.'
# on the channel user list              [YES]
AdminWithDot	YES

# Spam words (blocked on no spam (+S) channel mode)
# comma delimited, max: 31 words
SpamWords	"http,www.,/server"


# If defined user quit messages will be overridden with NoQuitMsg
#NoQuitMsg "No quit messages on this server"

# Anti Spam Exit
# If AntiSpamExitMsg is defined, the clients exit message 
# to be sent to a channel if the client has been on for less than 
# AntiSpamExitTime will be replaced with AntiSpamExitMsg
# (idea due to ThaDragon)
  AntiSpamExitMsg	"Not enough time connected"
  AntiSpamExitTime 	2m

# If defined quit messages will be checked for SpamWords,
# if any word is found, the message will be replaced 
# with NoSpamExitMSg
#NoSpamExitMsg	"No spam on this server"

# If defined colored quit messages will be replaced with NoColorsQuitMsg
#NoColorsQuitMsg "Good clients don't use colored quits"

# If defined all user quit messages will be prefixed with QuitPrefix
QuitPrefix	"Quit: "

# If defined all quits of a zombied user will be replaced with ZombieQuitMsg
#ZombieQuitMsg "Hmmzzz, it's spooky out there"

# If defined netsplit message will be override with OverrideNetsplitMessage
OverrideNetsplitMessage "User lost on netsplit"

# If defined will hide the user's server from the whois reply
HideServerOnWhois	YES

# will replace some part of the user's host in order to protect him
# from DoS.		[YES]
HostSpoofing 	YES

  # Available masking methods
  # 0 - Prefixed checksum mask
  # 1 - crypt() mutation mask
  SpoofMethod	0

  # Prefix to be used for host spoofing, the meaning depends 
  # on the spoof method:
  # 0 - String to be merged on soofed host
  # 1 - Salt for crypt()

HostPrefix		"PTlink"

# Used for spoof method 0
# Use a random set of numbers to crypt the hosts
# NOTE: If you have a network, make sure all network servers use the SAME CryptKey
CryptKey 77335465

# Spoofed mask settings
# You can use "+" on the beginning of the mask to provide a @nick.mask format
    
  # TechAdmin mask
  TechAdminMask "Tech@Admin.PTlink.net"
  
  # NetAdmin mask
  NetAdminMask 	"Net@Admin.PTlink.net"

  # Services Admin mask
  SAdminMask	"Services@Admin.PTlink.net"
  
  # Server Admin mask
  AdminMask		"Server@Admin.PTlink.net"

  # Global Operator mask
  OperMask		"Oper@PTlink.net"
	
  # Local Operator mask
  LocopMask		"LocOp@PTlink.net"
  
  # Helper mask
  HelperMask	"Helper.PTlink.net"
  

  
# IRC Operator Options

	# If YES a nick needs to have +r before getting /oper [ YES ]
	OnlyRegisteredOper	YES

	# If YES Opers are able to join +i/+k/+l channels (also if banned)
	OperCanAlwaysJoin	NO

	# If YES Opers can always send messages to any channel
	OperCanAlwaysSend 	YES

	# if YES Opers are able to change their host with /NEWMASK
	OperCanUseNewMask	YES

	# if YES Opers cannot be kicked by normal users
	OperKickProtection	NO

	# if defined allows a IRC Opers to join any channel
	# if using OperByPass string has the key
	OperByPass	"operbypass"

	# If defined allows self /kills
	EnableSelfKill		NO

	# If defined will remove oper flag when the user is idle
	# for more than MaxOperIdleTime
	MaxOperIdleTime		1h

# Disable the /links command to users?
DisableLinksForUsers   NO

# Can't send messages #
NoCTCP_Msg	"cannot send CTCP's to channel"
Moderated_Msg	"channel is moderated, you do not have a voice"
NoExternal_Msg	"channel does not allow external messages"
Banned_Msg	"you are banned from this channel"
NoSpam_Msg	"no url/server messages allowed on this channel"
NoFlood_Msg	"cannot send repeated messages to this channel"
NoDCCSend_Msg	"You cannot send files (possible virus infection)"

# You MUST put the "%i", they will be replace with the number of
# lines and number of seconds
FloodLimit_Msg  "Flood! (%i lines in %i seconds)"

# QModeMsg - +q channel modes quit message
# If define this message will be used has the quit reason
# for quitting users on +q channels.
QModeMsg       "Quit"

# If defined will disable nick changes after connect
# (can be useful for web interfaces)
LockNickChange NO

# If defined, only IRC opers will be able to join new channels
# and +r channels will be kept even when after empty.
# NOTE: This option should be used with no expire channels
# or else empty non used channels can be kept "forever".

RestrictedChans	No

# RestrictedChans - the message that will be sent to users joining
# 	a non existing channel with RestrictedChans On
RestrictedChansMsg	"Cannot create new channels on this network, please type /list and join a existing one"

# If defined all other users will see this message as
# the glined user quit instead of gline reason
GLineOthersReason "Connection closed"

# If defined all other users will see this message as
# the glined user quit instead of gline reason
KLineOthersReason "Connection closed"

# If define this time will be used when no valid time
# is specified on /GLINE 
DefaultGLineTime    10d

# If define this will be the reason used for glines
# when no reason is supplied on /GLINE
DefaultGLineReason  "Please read http://www.ptlink.net/aup/"

# Do you want to GLine all users that are killed by Excess Flood?
# If set 0d it will be disabled
# GLineOnExcessFlood 1d

# If YES all users will be able to use /IRCOPS to list online opers
IRCopsForAll		Yes

# if YES the numerical IP will be used instead of the real hostname 
# on user info for IRC Opers/Services
IPIdentifyMode		Yes

# if YES modes will only be allowed on registered channels 
# when services are present
SecureModes	Yes

# if YES, anyone will be able to use the SETNAME feature
# otherwise, only opers can change their real names
AllowSetNameToEveryone 	No

# if Yes everyone will see his own realhost on his/her whois, also
# IRC Operators will see usermodes and realhost of the user they do a /whois on
WhoisExtension	No

# When defined will automatically set users as away when
# they become idle more than AutoAwayIdleTime .
AutoAwayIdleTime 1h
