--- nxclient-wizard.desktop.orig	Tue Apr 26 08:23:07 2005
+++ nxclient-wizard.desktop	Tue Apr 26 08:26:56 2005
@@ -1,6 +1,8 @@
 [Desktop Entry]
+Encoding=UTF-8
 Comment=Launch connection wizard
-Exec=/usr/NX/bin/nxclient -wizard
-Icon=/usr/NX/share/icons/nxclient-wizard.png
+Exec=nxclient -wizard
+Icon=nxclient-wizard.png
 Name=NX Connection Wizard
 Type=Application
+Categories=Application;Network;
