--- nxclient-help.desktop.orig	Tue Apr 26 08:23:07 2005
+++ nxclient-help.desktop	Tue Apr 26 08:26:44 2005
@@ -1,6 +1,7 @@
 [Desktop Entry]
+Encoding=UTF-8
 Comment=Help online
-Exec=konqueror http://www.nomachine.com/help
-Icon=konqueror
+URL=http://www.nomachine.com/help
 Name=NX Help on the Web
-Type=Application
+Type=Link
+Categories=Application;Network;
