--- config/X11.tmpl.orig	Wed Oct 28 13:36:37 1998
+++ config/X11.tmpl	Sun Nov 22 01:24:46 1998
@@ -417,7 +417,8 @@
 
 #define	WnnSpecialObjectRule(obj, depends, direct, define)	@@\
 obj : depends							@@\
-	$(CC) -c $(CFLAGS) define direct/`basename $@ .o`.c	@@\
+	(cd unshared ; $(CC) -c $(CFLAGS) define direct/`basename $@ .o`.c)	@@\
+	$(CC) -c $(CFLAGS) define $(SHLIBDEF) $(SHAREDCODEDEF) $(PICFLAGS) direct/`basename $@ .o`.c	@@\
 
 #ifdef	MakeDir
 #undef MakeDir
@@ -520,7 +521,9 @@
 #endif
 
 #ifndef WnnLibDir
-#define WnnLibDir	$(USRLIBDIR)
+#undef UsrLibDirPath
+#define UsrLibDirPath	/usr/local/lib
+#define WnnLibDir	/usr/local/lib
 #endif
 
        WNNOWNER = WnnOwner
@@ -660,6 +663,7 @@
 XCOMM for SDK
 #define BuildWnn	YES
 #define BuildJlib	YES
+#define InstallOnlyJlib	YES
 
  EXTRA_INCLUDES =
   EXTRA_DEFINES =
