dns-addr = "1.1.1.1"
dns-port = "53"

# If you want to run SpoofDPI remotely (e.g., on a physically separated machine), then you should set this value
# to 0.0.0.0. Otherwise, it is recommended to leave this option as default.
listen-addr = "127.0.0.1"

# Port to listen on.
listen-port = "8080"

doh-endpoint = "https://dns.google/dns-query"
