--- ./rebar.config.orig	2013-10-29 08:55:21.000000000 +0900
+++ ./rebar.config	2013-10-29 08:55:27.000000000 +0900
@@ -1,6 +1 @@
-{deps, [
-        {ibrowse, ".*", {git, "git://github.com/opscode/ibrowse",
-                            {tag, "v4.0.1.1"}}},
-        {envy, ".*", {git, "git://github.com/manderson26/envy.git", {branch, "master"}}}
-        ]}.
 {erl_opts, [warnings_as_errors, debug_info]}.
