--- setup.cfg.orig	2021-10-20 16:32:03 UTC
+++ setup.cfg
@@ -11,11 +11,11 @@
 
 defines = 
 
-extra_compile_args = -Wall -O1 -g -DPYMALLOC_DEBUG
+extra_compile_args = -Wall
 extra_objects = 
 
 # Use re-entrant libldap_r
-libs = ldap_r
+libs = ldap
 
 [metadata]
 license_file = LICENSE
