targets:
  - one.one.one.one
  - google-public-dns-a.google.com
  - google-public-dns-b.google.com

dns:
  refresh: 2m15s
  nameserver: 1.1.1.1

ping:
  interval: 2s
  timeout: 3s
  history-size: 42
  payload-size: 120
