--- yaps.rc.orig	1997-06-11 17:39:06 UTC
+++ yaps.rc
@@ -6,14 +6,13 @@
 #	global section			#
 #########################################
 #
-#	This is a comma seperated list of available services. This
-#	is required for autodetect the matching service for a
-#	pager-id
-services	D1,D2,E+
+#	This is a comma seperated list of available services. This list
+#	is required to autodetect the matching service for a pager-id.
+services	D1_170,D1_171,D2_172,D2_173,E+_177,E+_178
 +services	Telmi,Telmi-Fun,Telmi-Family,Telmi-Top,Telmi-Pro
 +services	Skyper,Quix
 #
-#	This is the default caller-id. If the protocol/service allowes
+#	This is the default caller-id. If the protocol/service allows
 #	it, this is inserted in the message (and the receiver gets this
 #	as the sender's number)
 call-id		+1-(555)-1234
@@ -22,17 +21,17 @@ call-id		+1-(555)-1234
 #	this string to each message.
 signature	(It's me!)
 #
-#	You can either switch the use of the signature here on for all
+#	You can either enable the use of the signature here for all
 #	services or in each service section for that particular service.
 use-signature	True
 #
-#	To get more verbose output when running yaps increase this value.
+#	Increase this value to get more verbose output when running yaps.
 #	Currently 4 is the highest supported value.
 verbose		0
 #
 #	If you'd like to log every sending session define this. It should
 #	point to a writeable file. If you install the software setgid, then
-#	change the group of this file to the same yaps uses and make it
+#	change the group of this file to the one yaps uses and make it
 #	group writeable.
 logfile		/var/log/yaps.log
 #
@@ -40,7 +39,7 @@ logfile		/var/log/yaps.log
 #	in each service section.
 modems		standard
 #
-#	some global defaults for the serial interface (even if the most
+#	some global defaults for the serial interface (even if most
 #	protocols are assuming 7e1, these settings seem to work well)
 speed		38400
 bits-per-byte	8
@@ -48,13 +47,13 @@ parity		none
 stopbits	1
 
 #
-#	To calculate the cost for each call, you can define some globales
-#	here and do the fine tuning in each protocol
+#	To calculate the cost for each call, you can define some globals
+#	here and do the fine tuning in each protocol section
 cost	cost=0.12,unit=DM,remainder=2,dial-overhead=13
 
 #
-#	These are two example of internal conversion tables. The can be
-#	used using the `convert' entry (see below).
+#	These are two examples of internal conversion tables. They can be
+#	used via the `convert' entry (see below).
 cv-default	{
 	Ä	[
 	Ö	\
@@ -74,7 +73,7 @@ cv-extend	{
 
 #
 #	These values are normally only found in each service section,
-#	but are listen here with an explaination for completeness.
+#	but are listed here with an explaination for completeness.
 #
 #	This is the phone number of the modem gateway for this service
 #phone		0015559876
@@ -86,13 +85,13 @@ cv-extend	{
 #protocol	tap
 
 #
-#	Most services limit the length of a message to a specific length.
-#	Enter the value here to check valid messages
+#	Most services limit the length of a message to some value.
+#	Enter the value here to check valid messages.
 #max-size	160
 
 #
 #	If a message is longer than max-size, you can set this to split
-#	it off into several single messages of allowed length
+#	it off into several single messages of maximum allowed length.
 #may-split	True
 
 #
@@ -102,7 +101,7 @@ cv-extend	{
 
 #
 #	Some services allow to send more than one message per session. If
-#	it is limited, set it using this parameter
+#	there is a limit, set it using this parameter.
 #max-messages	1
 
 #
@@ -110,8 +109,8 @@ cv-extend	{
 #use-call-id	True
 
 #
-#	If the service is reachable over a phonenumber where the pager-id
-#	is part of the phone number, define this and add a `%P' anywehere
+#	If the service is reachable over a phone number where the pager-id
+#	is part of the phone number, define this and add a `%P' anywhere
 #	in the `phone' number.
 #insert-pager-id	True
 
@@ -124,8 +123,8 @@ rm-invalids-pid	+ (-)
 rm-invalids-cid	+ (-)
 
 #
-#	Check for valid call id (see below for more details) While 
-#	valid-pid is required, this is optional
+#	Check for valid call id (see below for more details). While 
+#	valid-pid is required, this is optional.
 #valid-cid	^(001|1)
 #change-cid	001
 
@@ -135,7 +134,7 @@ rm-invalids-cid	+ (-)
 #	which must match the prefix of the pager-id.
 #valid-pid	^(0171|0049171)
 #valid-pid	0171|0049171
-#	Use these paramters in the global section if you want do not want
+#	Use these paramters in the global section if you do not want
 #	to check pager-ids (and do not set change-pid):
 #valid-pid	.
 #valid-pid	-
@@ -147,26 +146,26 @@ rm-invalids-cid	+ (-)
 
 #
 #	As the services do not use (in general) the ISO 8859/1 character set,
-#	one can define convertion tables. you can either specify a file which
+#	one can define conversion tables. You can either specify a file which
 #	contains the convertion rules:
 #conv-table	/usr/local/lib/yaps/iso2din.tab
 
-#	or use predefined convertion rules
+#	or use predefined conversion rules:
 #convert	*no-control,*no-8bit,cv-default,cv-extended
 
 #
 #	If this is set, send a message even if a requested feature is
-#	not available
+#	not available.
 #force		True
 
 #
-#	If the provider supportes to set a delay for sending the message,
-#	set this
+#	If the provider supports to set a delay for sending the message,
+#	set this.
 #can-delay	True
 
 #
-#	If the provider can delete a buffered message after a period of time,
-#	set this
+#	If the provider may delete a buffered message after some period of time,
+#	set this.
 #can-expire	True
 
 #
@@ -175,17 +174,17 @@ rm-invalids-cid	+ (-)
 
 #
 #	To check wether a call-id/pager-id is valid use these paramters.
-#	For the exact syntax see the documentation
+#	For the exact syntax see the documentation.
 #check-call-id	>1111111111111111<
 #check-pager-id	>1111111111111111<
 #check-call-id	+minimum=0,maximum=16,type=numeric
 
 #
 #	These values are typically found in a modem section, but can also
-#	appear in the global section to set some defaults
+#	appear in the global section to set some defaults.
 
 #
-#	Set this to the modem device you wish to use
+#	Set this to the modem device you wish to use.
 #device		/dev/modem
 #device		/dev/cua1
 #device		/dev/cua/a
@@ -200,22 +199,22 @@ rm-invalids-cid	+ (-)
 #
 #	The different format of the part which is appended to the lockfile
 #	and the contents can be specified here. See documentation for a
-#	full list inclusive explaination
+#	full list inclusive explaination.
 #lock-method	sysv4
 #lock-method	binary
 #lock-method	timeout=10
 
 #
 #	These are send/expect sequences to talk to the modem. For an exact
-#	definition see (again) the documentation. Following entries are
+#	definition see (again) the documentation. The following entries are
 #	supported:
-#	init:		to initialize the modem
+#	init:		initialize the modem
 #	local-init:	a second initialization string, used to customize
-#			already defined modems for different handling
-#	dial:		to dial a phone number %L is replaced with the
-#			phone number itself
-#	timeout:	the default timeout in seconds to wait for answers
-#	reset:		to reset the modem
+#			already initialized modems
+#	dial:		dial a phone number; %L is replaced with the
+#			phone number to dial
+#	timeout:	the default timeout in seconds to wait for an answer
+#	reset:		reset the modem
 
 #########################################
 #	service section			#
@@ -223,7 +222,28 @@ rm-invalids-cid	+ (-)
 #
 #	D1 (by Deutsche Telekom)
 #
-[D1]
+[D1_170]
+protocol	tap
+valid-pid	0170|0049170|49170
+change-pid	0170
+convert		*no-8bit,cv-d1
+cv-d1		{
+	Ä	[
+	Ö	\
+	Ü	~
+	ä	{
+	ö	|
+	ü	~
+	ß	^]
+}
++cost		timetable=Wk0800-1800=5.7;Wk1800-0800=11.4;Ss=11.4
+phone		01712092522
+max-size	160
+may-split	True
+use-call-id	False
+tap-old		True
+#
+[D1_171]
 protocol	tap
 valid-pid	0171|0049171|49171
 change-pid	0171
@@ -246,7 +266,7 @@ tap-old		True
 #
 #	D2 (by Mannesmann Mobilfunk)
 #
-[D2]
+[D2_172]
 modem		standard-d2
 protocol	ucp
 valid-pid	0172|0049172|49172
@@ -264,10 +284,28 @@ check-call-id	>1111111111111111<
 check-pager-id	>1111111111111111<
 ucp-extend	True
 #
+[D2_173]
+modem		standard-d2
+protocol	ucp
+valid-pid	0173|0049173|49173
+change-pid	0173
+convert		*no-8bit,cv-default
++cost		timetable=Wk0800-1800=5.7;Wk1800-0800=11.4;Ss=11.4
+phone		01722278020
+max-size	160
+may-split	True
+use-call-id	True
+can-delay	True
+can-expire	True
+can-rds		True
+check-call-id	>1111111111111111<
+check-pager-id	>1111111111111111<
+ucp-extend	True
+#
 #	E+ (by ???)
 #	!! UNTESTED !!
 #
-[E+]
+[E+_177]
 protocol	tap
 valid-pid	0177|0049177|49177
 change-pid	0177
@@ -278,6 +316,18 @@ max-size	160
 may-split	True
 use-call-id	False
 #
+[E+_178]
+protocol	tap
+valid-pid	0178|0049178|49178
+change-pid	0178
+convert		*no-8bit,cv-default
++cost		timetable=Wk0800-1800=5.7;Wk1800-0800=11.4;Ss=11.4
+ls -ltr
+phone		01771167
+max-size	160
+may-split	True
+use-call-id	False
+#
 #	Telmi, Telmi-* (by Deutsche Funkruf)
 #	!! ONLY TESTED FOR TELMI-FUN !!
 #
@@ -335,9 +385,10 @@ use-call-id	True
 #	Locking
 #
 #	Older Unix versions
-lock-prefix	/usr/spool/uucp/LCK..
+#lock-prefix	/usr/spool/uucp/LCK..
 #	Newer Unix versions
-#lock-prefix	/var/spool/uucp/LCK..
+lock-prefix	/var/spool/uucp/LCK..
+#lock-prefix	/var/spool/lock/LCK..
 #lock-prefix	/var/lock/LCK..
 #	SysV4
 #lock-prefix	/var/spool/locks/LK.
