--- rkward/rkward.sh.template.orig	2009-06-23 22:20:48.000000000 +0200
+++ rkward/rkward.sh.template	2009-10-27 23:12:15.000000000 +0100
@@ -30,7 +30,7 @@
 }
 
 debugger=
-for i in `seq $#`
+for i in `seq2 $#`
 do
   arg=$(eval echo \$\{`echo ${i}`\})
   if [ "${arg}" = "--debugger" ]; then
