--- rkward/rkward.sh.template.orig	2008-01-21 19:58:24.000000000 +0100
+++ rkward/rkward.sh.template	2009-05-07 23:31:23.000000000 +0200
@@ -69,4 +69,5 @@
 export LC_NUMERIC="C"
 
 ## Start rkward. Running through R CMD to set all the relevant R enviroment variables
+cd %%PREFIX%%/share/apps && \
 exec $R_binary CMD $debugger $0.bin ${args}
