--- chrome/browser/resources/signin/signin_shared.css.orig	2022-10-29 17:50:56 UTC
+++ chrome/browser/resources/signin/signin_shared.css
@@ -34,7 +34,7 @@ a {
   padding: var(--action-container-padding);
 }
 
-<if expr="is_macosx or is_linux or is_chromeos">
+<if expr="is_macosx or is_posix or is_chromeos">
 .action-container {
   flex-flow: row-reverse;
   justify-content: flex-start;
