--- makeMakefile.config.orig	2012-07-18 09:17:42.000000000 +0200
+++ makeMakefile.config	2013-06-18 12:18:55.000000000 +0200
@@ -1,20 +1,20 @@
 [GENERAL]
 #**********************************************************
 #* build OGDF as a static library (false) or shared library (true)
-sharedLib = false
+sharedLib = true
 
 #* name of the static (import) library
 libName = libOGDF.a 
 #* name of the shared library (.dll for Windows, .so for Linux)
 sharedlibName = libOGDF.so
 
-compilerCommand = g++
+compilerCommand = %%CXX%%
 compilerParams = -I.
 
 #* command used to create a static library
 libCommand = ar
 #* command used to create a shared library
-sharedlibCommand = g++
+sharedlibCommand = %%CXX%%
 
 #* blank means don't call ranlib
 ranlibCommand = ranlib
@@ -43,16 +43,16 @@
 [COIN]
 #**********************************************************
 #* set to "true" to use COIN
-useCoin = false
-coinIncl = /somewhere/COIN/include
+useCoin = %%USE_COIN%%
+coinIncl = %%LOCALBASE%%/include
 
 #* Select your solver for COIN
 #* CPLEX:
 # solver_name = COIN_OSI_CPX
 # solver_incl = /somewhere/ILOG/cplex90/include/ilcplex
 #* Coin's CLP:
-# solver_name =  COIN_OSI_CLP
-# solver_incl = 
+solver_name =  COIN_OSI_CLP
+solver_incl =  %%LOCALBASE%%/include
 #* Coin's Symphony
 # solver_name =  COIN_OSI_SYM
 # solver_incl = /home/plug/COIN/SYMPHONY/include
@@ -70,7 +70,7 @@
 
 [ABACUS]
 #**********************************************************
-useAbacus = false
-# abacusDef = -DABACUS_COMPILER_GCC
-# abacusIncl = /somewhere/abacus/include
-# abacusLib = -L/somewhere/abacus/lib/linux-gcc33 -labacus-cplex80
+useAbacus = %%USE_ABACUS%%
+abacusDef = -DABACUS_COMPILER_GCC
+abacusIncl = %%LOCALBASE%%/inclue/abacus
+abacusLib = -L%%LOCALBASE%%/lib -labacus-osi
