--- gui/gpsbabel.desktop.orig	2020-07-06 17:33:15 UTC
+++ gui/gpsbabel.desktop
@@ -4,6 +4,6 @@ Name=GPSBabel
 Comment=Qt GUI interface for GPSBabel
 GenericName=GPSBabel
 Icon=gpsbabel
-Exec=gpsbabelfe-bin
+Exec=gpsbabelfe
 Terminal=false
 Categories=Geography;Education;Utility;
