# configuration file for newsyslog for librenms
#
# see newsyslog.conf(5) for details
#
# logfilename                   [owner:group]    mode count size when  flags [/pid_file] [sig_num]
/var/log/librenms/*.log	        www:www          644  14    *    $D0   -     /var/run/librenms/librenms.pid
