[Desktop Entry]
Type=Application
Version=1.0
Name=Goxel
GenericName=3D Voxel Editor
Icon=goxel
Exec=goxel
Keywords=3d;voxel;
Categories=Graphics;3DGraphics;
Terminal=false
