--- abiword.desktop.orig	Tue Oct  4 13:22:33 2005
+++ abiword.desktop	Tue Oct  4 13:23:58 2005
@@ -3,11 +3,11 @@
 Icon=abiword_48.png
 Terminal=false
 Type=Application
-Categories=Application;Office;WordProcessor;X-Red-Hat-Base;
+Categories=Application;Office;WordProcessor;
 StartupNotify=true
 Encoding=UTF-8
 X-Desktop-File-Install-Version=0.9
-MimeType=application/x-abiword;text/x-abiword;text/x-xml-abiword;text/plain;application/vnd.ms-word;application/rtf;application/vnd.plain;application/xhtml+xml;text/html;
+MimeType=application/x-abiword;text/x-abiword;text/x-xml-abiword;application/vnd.ms-word;application/msword;application/rtf;application/vnd.plain;application/xhtml+xml;text/html;
 Name=Word Processor
 Comment=AbiWord Word Processor
 Name[de]=Textverarbeitung
