:foreman:
  :enable_module: true
  :host: 'https://localhost/'
  :username: 'admin'
  :password: 'changeme'

  # Check cache status on each request
  #:refresh_cache: false

  # API request timeout, set -1 for infinity
  #:request_timeout: 120 #seconds
