--- src/3rdparty/gn/build/build_linux.ninja.template.orig	2022-09-26 10:05:50 UTC
+++ src/3rdparty/gn/build/build_linux.ninja.template
@@ -5,7 +5,7 @@ rule alink_thin
   deps = gcc
 
 rule alink_thin
-  command = rm -f $out && $ar rcsT $out $in
+  command = rm -f $out && $ar rcs $out $in
   description = AR $out
 
 rule link
