--- src/3rdparty/chromium/chrome/browser/resources/signin/signin_shared.css.orig	2025-08-15 18:30:00 UTC
+++ src/3rdparty/chromium/chrome/browser/resources/signin/signin_shared.css
@@ -54,7 +54,7 @@ a {
   border-radius: var(--scrollbar-width);
 }
 
-<if expr="is_macosx or is_linux or is_chromeos">
+<if expr="is_macosx or is_posix or is_chromeos">
 .action-container {
   flex-flow: row-reverse;
   justify-content: flex-start;
