
*******************************************************************
 To use amavisd-new, you need to install at least one virus scanner.
 For example McAfee VirusScan is available as a FreeBSD port
 in /usr/ports/security/vscan. If you want to use the amavis sendmail
 milter interface, you need to type the following command:

	touch %%AMAVISDIR%%/use.milter

 A configuration template is available in %%PREFIX%%/etc
 as amavisd.conf-dist. Copy it to amavisd.conf and edit it to
 suit your needs. Documentation is available in
 %%DOCSDIR%%.
*******************************************************************


*******************************************************************
 To use amavisd-new, you need to install at least one virus scanner.
 For example McAfee VirusScan is available as a FreeBSD port
 in /usr/ports/security/vscan. If you want to use the amavis sendmail
 milter interface, you need to type the following command:

	touch %%AMAVISDIR%%/use.milter

 A configuration template is available in %%PREFIX%%/etc
 as amavisd.conf-dist. Copy it to amavisd.conf and edit it to
 suit your needs. Documentation is available in
 %%DOCSDIR%%.
*******************************************************************

