
*******************************************************************
 WARNING: You appear to be running perl version %%PERLVERSION%%.

 amavisd-new has been tested and is guaranteed to run only with
 perl 5.8.2 and above. There are numerous problems with amavisd-new
 when running under previous perl versions, including perl crashes,
 taint bugs and others.  You are strongly advised to upgrade your
 perl by using the /usr/ports/lang/perl5.8 port.
*******************************************************************
