This is XEmacs lisp files, info pages, and so on (except executables)
for XEmacs with Mule(version %%XEMACS_VER%%), the next generation of Emacs. 

You must install one of packages, xemacs-mule-%%XEMACS_VER%%,
ja-xemacs-*-%%XEMACS_VER%% (ja-xemacs-canna-%%XEMACS_VER%%, ja-xemacs-canna+freewnn-%%XEMACS_VER%%, etc.),
each of which contains only the executables for XEmacs with Mule(vresion %%XEMACS_VER%%).

This package and the above package of the executables *will* clobber any
existing XEmacs installation.  In particular, the executables and man
pages of etags/ctags are installed, and the info pages that come with
the original emacs get installed too.

Although this shouldn't cause any problems to run both mule and emacs,
it may cause some confusion when one of them is pkg_delete'd.  If
someone has a solution to this, please tell me.

-- 
Kazz
