--- ./rebar.config.orig	2013-11-05 12:00:45.000000000 +0900
+++ ./rebar.config	2013-11-05 12:00:55.000000000 +0900
@@ -3,12 +3,4 @@
 {erl_opts, [debug_info, warnings_as_errors]}.
 {erl_first_files, ["src/sqerl_client.erl"]}.
 
-{deps, [
-        %% This is until a patch of ours gets merged into the main epgsql repo
-        {epgsql, ".*",
-         {git, "git://github.com/opscode/epgsql.git", "master"}},
-
-        {pooler, ".*",
-         {git, "git://github.com/seth/pooler.git", {tag, "1.0.0"}}}]}.
-
 {cover_enabled, true}.
