--- modules/src/Makefile.template.orig	Mon Nov 14 20:21:27 2005
+++ modules/src/Makefile.template	Mon Nov 14 20:21:50 2005
@@ -77,7 +77,7 @@
 	
 .%.d:%.c
 	$(H)echo " building dep for $<"
-	$(H)$(CC) -I. -I$(PREFIX)/include $(CFLAGS) -MM $< > $@;
+	$(H)$(CC) ${CFLAGS} -MM $< > $@;
 
 .%.d:%.pkg
 	$(H)echo " building dep for $<"
