#!/bin/sh

if [ "x$2" = "xPOST-DEINSTALL" ]; then
	cd ${PKG_PREFIX}/%%FONTSDIR%%;  ${PKG_PREFIX}/bin/mkfontdir
	cd ${PKG_PREFIX}/%%T1_FONTSDIR%%; %%LOCALBASE%%/bin/type1inst -nogs -nolog -quiet
	${PKG_PREFIX}/bin/xset fp rehash ||
	(
	 echo "**********************************************************"
	 echo "You should restart X server or do 'xset fp rehash' command"
	 echo "to enable this update."
	 echo "**********************************************************"
	)
	[ `wc -c ${PKG_PREFIX}/%%FONTSDIR%%/fonts.dir | awk '{print $1}'` = 2 ] && rm -f ${PKG_PREFIX}/%%FONTSDIR%%/fonts.dir
	[ `wc -c ${PKG_PREFIX}/%%T1_FONTSDIR%%/fonts.dir | awk '{print $1}'` = 2 ] && rm -f ${PKG_PREFIX}/%%T1_FONTSDIR%%/fonts.dir
	[ `wc -c ${PKG_PREFIX}/%%T1_FONTSDIR%%/fonts.scale | awk '{print $1}'` = 2 ] && rm -f ${PKG_PREFIX}/%%T1_FONTSDIR%%/fonts.scale
# Remove a backup file made by type1inst
	rm -f ${PKG_PREFIX}/%%T1_FONTSDIR%%/fonts.scale.bak
	rmdir ${PKG_PREFIX}/%%T1_FONTSDIR%% 2>/dev/null || true
fi
