--- config/mime_drivers.php.dist.orig	2007-12-02 22:13:52.000000000 -0900
+++ config/mime_drivers.php.dist	2007-12-11 17:17:21.000000000 -0900
@@ -42,40 +42,23 @@
  */
 $mime_drivers_map['horde']['registered'] = array(
     'audio',
-    'css',
-    'enriched',
-    'html',
-    'images',
-    'ooo',
-    'pdf',
-    'php',
-    'plain',
-    'rar',
-    'report',
-    'rfc822',
-    'richtext',
-    'security',
-    'simple',
-    'smil',
-    'tgz',
-    'tnef',
-    'vcard',
-    'zip',
-    /* The following mime drivers require external applications to be
-     * installed and are disabled by default. */
-    // 'deb',
-    // 'enscript',
-    // 'msword',
-    // 'msexcel',
-    // 'mspowerpoint',
-    // 'rpm',
-    // 'rtf',
-    // 'srchighlite',
-    // 'webcpp',
-    // 'wordperfect',
+    'css'
+//UNCOMMENTIFDEB , 'deb'
+   , 'enriched'
+//UNCOMMENTIFES , 'enscript'
+   , 'html', 'images'
+//UNCOMMENTIFWV , 'msword'
+//UNCOMMENTIFXL , 'msexcel', 'mspowerpoint'
+   , 'ooo', 'pdf', 'php', 'plain', 'rar', 'report',
+    'rfc822', 'richtext'
+//UNCOMMENTIFRPM , 'rpm'
+   , 'security', 'simple', 'smil'
+//UNCOMMENTIFSRCHIGH , 'srchighlite'
+   , 'tgz', 'tnef', 'vcard'
+//UNCOMMENTIFWCPP , 'webcpp'
+   , 'zip'
 );
 
-
 /**
  * If you want to specifically override any MIME type to be handled by
  * a specific driver, then enter it here.  Normally, this is safe to
@@ -255,78 +238,79 @@
  * Web C Plus Plus driver settings
  * http://webcpp.sourceforge.net/
  */
-$mime_drivers['horde']['webcpp'] = array(
-    'location' => '/usr/bin/webcpp',
-    'inline' => true,
-    'handles' => array(
-        'text/xml', 'text/sgml', 'application/xml', 'application/x-sh',
-        'application/x-javascript', 'application/x-tcl', 'x-extension/asm',
-        'application/x-asp', 'x-extension/bas', 'x-extension/cs',
-        'text/x-csrc', 'x-extension/rc', 'text/x-c++src', 'text/x-c++src',
-        'text/x-c++src', 'text/x-chdr', 'x-extension/bat', 'text/x-fortran',
-        'x-extension/f77', 'x-extension/f90', 'x-extension/for',
-        'x-extension/ftn', 'text/x-java', 'application/x-javascript',
-        'text/sgml', 'text/xml', 'text/x-pascal', 'application/x-cgi',
-        'application/x-perl', 'application/x-python', 'text/x-sql',
-        'text/x-tcl', 'application/x-shellscript', 'x-extension/vhd',
-        'x-extension/vhdl'
-    ),
-    'icons' => array(
-        'default'                  => 'text.png',
-        'text/xml'                 => 'xml.png',
-        'text/x-csrc'              => 'source-c.png',
-        'text/x-chdr'              => 'source-h.png',
-        'text/x-java'              => 'source-java.png',
-        'application/x-javascript' => 'script-js.png'
-    )
-);
+//UNCOMMENTIFWCPP$mime_drivers['horde']['webcpp'] = array(
+//UNCOMMENTIFWCPP    'location' => '%%LOCALBASE%%/bin/webcpp',
+//UNCOMMENTIFWCPP    'inline' => true,
+//UNCOMMENTIFWCPP    'handles' => array(
+//UNCOMMENTIFWCPP    'text/xml', 'text/sgml', 'application/xml',
+//UNCOMMENTIFWCPP    'application/x-sh', 'application/x-javascript', 'application/x-tcl',
+//UNCOMMENTIFWCPP    'x-extension/asm', 'application/x-asp', 'x-extension/bas',
+//UNCOMMENTIFWCPP    'x-extension/cs', 'text/x-csrc', 'x-extension/rc',
+//UNCOMMENTIFWCPP    'text/x-c++src', 'text/x-c++src', 'text/x-c++src',
+//UNCOMMENTIFWCPP    'text/x-chdr', 'x-extension/bat', 'text/x-fortran',
+//UNCOMMENTIFWCPP    'x-extension/f77', 'x-extension/f90', 'x-extension/for',
+//UNCOMMENTIFWCPP    'x-extension/ftn', 'text/x-java', 'application/x-javascript',
+//UNCOMMENTIFWCPP    'text/sgml', 'text/xml', 'text/x-pascal',
+//UNCOMMENTIFWCPP    'application/x-cgi', 'application/x-perl', 'application/x-python',
+//UNCOMMENTIFWCPP    'text/x-sql', 'text/x-tcl',
+//UNCOMMENTIFWCPP    'application/x-shellscript', 'x-extension/vhd', 'x-extension/vhdl'
+//UNCOMMENTIFWCPP    ),
+//UNCOMMENTIFWCPP    'icons' => array(
+//UNCOMMENTIFWCPP    'default'                  => 'text.png',
+//UNCOMMENTIFWCPP    'text/xml'                 => 'xml.png',
+//UNCOMMENTIFWCPP    'text/x-csrc'              => 'source-c.png',
+//UNCOMMENTIFWCPP    'text/x-chdr'              => 'source-h.png',
+//UNCOMMENTIFWCPP    'text/x-java'              => 'source-java.png',
+//UNCOMMENTIFWCPP    'application/x-javascript' => 'script-js.png'
+//UNCOMMENTIFWCPP    )
+//UNCOMMENTIFWCPP);
 
 
 /**
  * Source-Highlight driver settings
  * http://www.gnu.org/software/src-highlite/
  */
-$mime_drivers['horde']['srchighlite'] = array(
-    'location' => '/usr/bin/source-highlight',
-    'inline' => true,
-    'handles' => array(
-        'text/x-csrc', 'text/x-c++src', 'text/x-java', 'application/x-perl',
-        'application/x-python', 'text/x-c++src', 'text/cpp'
-    ),
-    'icons' => array(
-        'default'       => 'text.png',
-        'text/x-csrc'   => 'source-c.png',
-        'text/x-c++src' => 'source-c.png',
-        'text/cpp'      => 'source-c.png',
-        'text/x-java'   => 'source-java.png'
-    )
-);
+//UNCOMMENTIFSRCHIGH$mime_drivers['horde']['srchighlite'] = array(
+//UNCOMMENTIFSRCHIGH    'location' => '%%LOCALBASE%%/source-highlight',
+//UNCOMMENTIFSRCHIGH    'inline' => true,
+//UNCOMMENTIFSRCHIGH    'handles' => array(
+//UNCOMMENTIFSRCHIGH        'text/x-csrc', 'text/x-c++src', 'text/x-java', 'application/x-perl',
+//UNCOMMENTIFSRCHIGH        'application/x-python', 'text/x-c++src', 'text/cpp'
+//UNCOMMENTIFSRCHIGH    ),
+//UNCOMMENTIFSRCHIGH    'icons' => array(
+//UNCOMMENTIFSRCHIGH        'default'       => 'text.png',
+//UNCOMMENTIFSRCHIGH        'text/x-csrc'   => 'source-c.png',
+//UNCOMMENTIFSRCHIGH        'text/x-c++src' => 'source-c.png',
+//UNCOMMENTIFSRCHIGH        'text/cpp'      => 'source-c.png',
+//UNCOMMENTIFSRCHIGH        'text/x-java'   => 'source-java.png'
+//UNCOMMENTIFSRCHIGH    )
+//UNCOMMENTIFSRCHIGH);
 
 
 /**
  * GNU Enscript driver settings
  */
-$mime_drivers['horde']['enscript'] = array(
-    'location' => '/usr/bin/enscript',
-    'inline' => true,
-    'handles' => array(
-        'application/x-cgi', 'application/x-shellscript',
-        'application/x-javascript', 'application/x-perl', 'application/xml',
-        'text/xml', 'text/diff', 'text/x-diff', 'text/x-patch', 'text/x-csrc',
-        'x-extension/cs', 'text/x-java', 'text/x-chdr', 'text/x-c++src',
-        'text/x-c++hdr', 'x-extension/vhd', 'x-extension/vhdl', 'text/x-sql',
-        'x-extension/vb', 'x-extension/vba', 'text/x-emacs-lisp', 'text/x-tex'
-    ),
-    'icons' => array(
-        'default'                  => 'text.png',
-        'text/xml'                 => 'xml.png',
-        'application/xml'          => 'xml.png',
-        'text/x-csrc'              => 'source-c.png',
-        'text/x-chdr'              => 'source-h.png',
-        'text/x-java'              => 'source-java.png',
-        'application/x-javascript' => 'script-js.png'
-    )
-);
+//UNCOMMENTIFES$mime_drivers['horde']['enscript'] = array(
+//UNCOMMENTIFES    'location' => '%%LOCALBASE%%/enscript',
+//UNCOMMENTIFES    'inline' => true,
+//UNCOMMENTIFES    'handles' => array(
+//UNCOMMENTIFES        'application/x-cgi', 'application/x-shellscript',
+//UNCOMMENTIFES        'application/x-javascript', 'application/x-perl', 'application/xml',
+//UNCOMMENTIFES        'text/xml', 'text/diff', 'text/x-diff', 'text/x-patch', 'text/x-csrc',
+//UNCOMMENTIFES        'x-extension/cs', 'text/x-java', 'text/x-chdr', 'text/x-c++src',
+//UNCOMMENTIFES        'text/x-c++hdr', 'x-extension/vhd', 'x-extension/vhdl', 'text/x-sql',
+//UNCOMMENTIFES        'x-extension/vb', 'x-extension/vba', 'text/x-emacs-lisp', 'text/x-tex'
+//UNCOMMENTIFES    ),
+//UNCOMMENTIFES    'icons' => array(
+//UNCOMMENTIFES        'default'                  => 'text.png',
+//UNCOMMENTIFES        'text/xml'                 => 'xml.png',
+//UNCOMMENTIFES        'application/xml'          => 'xml.png',
+//UNCOMMENTIFES        'text/x-csrc'              => 'source-c.png',
+//UNCOMMENTIFES        'text/x-chdr'              => 'source-h.png',
+//UNCOMMENTIFES        'text/x-java'              => 'source-java.png',
+//UNCOMMENTIFES        'application/x-javascript' => 'script-js.png'
+//UNCOMMENTIFES    )
+//UNCOMMENTIFES);
 
 
 /**
@@ -387,16 +371,16 @@
  * Embedded images in Word documents need extra configuration. See 
  * http://wiki.horde.org/GraphicswvHtml 
  */
-$mime_drivers['horde']['msword'] = array(
-    'location' => '/usr/bin/wvHtml',
-    'inline' => false,
-    'handles' => array(
-        'application/vnd.ms-word', 'application/msword'
-    ),
-    'icons' => array(
-        'default' => 'msword.png'
-    )
-);
+//UNCOMMENTIFWV$mime_drivers['horde']['msword'] = array(
+//UNCOMMENTIFWV    'location' => '%%LOCALBASE%%/wvHtml',
+//UNCOMMENTIFWV    'inline' => false,
+//UNCOMMENTIFWV    'handles' => array(
+//UNCOMMENTIFWV        'application/vnd.ms-word', 'application/msword'
+//UNCOMMENTIFWV    ),
+//UNCOMMENTIFWV    'icons' => array(
+//UNCOMMENTIFWV        'default' => 'msword.png'
+//UNCOMMENTIFWV    )
+//UNCOMMENTIFWV);
 
 
 /**
@@ -404,17 +388,17 @@
  * This driver requires xlhtml to be installed.
  * xlhtml homepage: http://chicago.sourceforge.net/xlhtml/
  */
-$mime_drivers['horde']['msexcel'] = array(
-    'location' => '/usr/local/bin/xlhtml',
-    'inline' => false,
-    'handles' => array(
-        'application/vnd.ms-excel', 'application/msexcel',
-        'application/x-msexcel'
-    ),
-    'icons' => array(
-        'default' => 'msexcel.png'
-    )
-);
+//UNCOMMENTIFXL$mime_drivers['horde']['msexcel'] = array(
+//UNCOMMENTIFXL    'location' => '%%LOCALBASE%%/bin/xlhtml',
+//UNCOMMENTIFXL    'inline' => false,
+//UNCOMMENTIFXL    'handles' => array(
+//UNCOMMENTIFXL        'application/vnd.ms-excel', 'application/msexcel',
+//UNCOMMENTIFXL        'application/x-msexcel'
+//UNCOMMENTIFXL    ),
+//UNCOMMENTIFXL    'icons' => array(
+//UNCOMMENTIFXL        'default' => 'msexcel.png'
+//UNCOMMENTIFXL    )
+//UNCOMMENTIFXL);
 
 
 /**
@@ -422,16 +406,16 @@
  * This driver requires ppthtml, included with xlhtml, to be installed.
  * xlhtml homepage: http://chicago.sourceforge.net/xlhtml/
  */
-$mime_drivers['horde']['mspowerpoint'] = array(
-    'location' => '/usr/local/bin/ppthtml',
-    'inline' => false,
-    'handles' => array(
-        'application/vnd.ms-powerpoint', 'application/mspowerpoint'
-    ),
-    'icons' => array(
-        'default' => 'mspowerpoint.png'
-    )
-);
+//UNCOMMENTIFXL$mime_drivers['horde']['mspowerpoint'] = array(
+//UNCOMMENTIFXL    'location' => '%%LOCALBASE%%/bin/ppthtml',
+//UNCOMMENTIFXL    'inline' => false,
+//UNCOMMENTIFXL    'handles' => array(
+//UNCOMMENTIFXL        'application/vnd.ms-powerpoint', 'application/mspowerpoint'
+//UNCOMMENTIFXL    ),
+//UNCOMMENTIFXL    'icons' => array(
+//UNCOMMENTIFXL        'default' => 'mspowerpoint.png'
+//UNCOMMENTIFXL    )
+//UNCOMMENTIFXL);
 
 
 /**
@@ -450,31 +434,31 @@
 /**
  * RPM driver settings
  */
-$mime_drivers['horde']['rpm'] = array(
-    'location' => '/usr/bin/rpm',
-    'inline' => false,
-    'handles' => array(
-        'application/x-rpm'
-    ),
-    'icons' => array(
-        'default' => 'rpm.png'
-    )
-);
+//UNCOMMENTIFRPM$mime_drivers['horde']['rpm'] = array(
+//UNCOMMENTIFRPM    'location' => '%%LOCALBASE%%/bin/rpm',
+//UNCOMMENTIFRPM    'inline' => false,
+//UNCOMMENTIFRPM    'handles' => array(
+//UNCOMMENTIFRPM        'application/x-rpm'
+//UNCOMMENTIFRPM    ),
+//UNCOMMENTIFRPM    'icons' => array(
+//UNCOMMENTIFRPM        'default' => 'rpm.png'
+//UNCOMMENTIFRPM    )
+//UNCOMMENTIFRPM);
 
 
 /**
  * Debian package driver settings
  */
-$mime_drivers['horde']['deb'] = array(
-    'location' => '/usr/bin/dpkg',
-    'inline' => false,
-    'handles' => array(
-        'application/x-deb', 'application/x-debian-package'
-    ),
-    'icons' => array(
-        'default' => 'deb.png'
-    )
-);
+//UNCOMMENTIFDEB$mime_drivers['horde']['deb'] = array(
+//UNCOMMENTIFDEB    'location' => '%%LOCALHOST%%/bin/dpkg',
+//UNCOMMENTIFDEB    'inline' => false,
+//UNCOMMENTIFDEB    'handles' => array(
+//UNCOMMENTIFDEB        'application/x-deb', 'application/x-debian-package'
+//UNCOMMENTIFDEB    ),
+//UNCOMMENTIFDEB    'icons' => array(
+//UNCOMMENTIFDEB        'default' => 'deb.png'
+//UNCOMMENTIFDEB    )
+//UNCOMMENTIFDEB);
 
 
 /**
