--- bin/smokeping.dist.orig	Sun Jan 30 17:56:30 2005
+++ bin/smokeping.dist	Mon Feb  7 21:46:26 2005
@@ -1,12 +1,11 @@
-#!/usr/sepp/bin/perl-5.8.0 -w
+#!%%PERL%% -w
 # -*-perl-*-
 
-use lib qw(/usr/pack/rrdtool-1.0.47-to/lib);
-use lib qw(/home/oetiker/data/projects/AADJ-smokeping/dist/lib);
+use lib qw(%%PREFIX%%/smokeping/lib);
 
 use Smokeping 1.42;
 
-Smokeping::main("etc/config.dist");
+Smokeping::main("%%PREFIX%%/etc/smokeping/config");
 
 =head1 NAME
 
@@ -101,22 +100,8 @@
 
 =head1 SETUP
 
-When installing SmokePing, this file has to be adjusted to fit your
-local system. Three paths have to be entered.
-
-One pointing to your B<rrdtool> installation
-
- use lib qw(/usr/pack/rrdtool-1.0.33-to/lib/perl);
-
-One pointing to the place where you have installed the SmokePing libraries
-
- use lib qw(/home/oetiker/public_html/smokeping/lib);
-
-The third path is the argument to the Smokeping::main command. It points to
-the SmokePing configuration file.
-
- use Smokeping;
- Smokeping::main("/home/oetiker/.smokeping/config");
+When installing SmokePing, this file has been adjusted to fit your
+local system. There should be no need for further path adjustments.
 
 =head1 COPYRIGHT
 
