--- etc/config.dist.orig	2008-02-04 18:00:46.000000000 +0100
+++ etc/config.dist	2008-05-01 15:26:00.000000000 +0200
@@ -7,13 +7,13 @@
 # NOTE: do not put the Image Cache below cgi-bin
 # since all files under cgi-bin will be executed ... this is not
 # good for images.
-imgcache = /home/oetiker/public_html/smokeping-ms/cache
-imgurl   = cache
-datadir  = /tmp/smokeping-ms/data
-piddir  = /tmp/smokeping-ms/var
+imgcache = %%PREFIX%%/smokeping/htdocs/img
+imgurl   = img
+datadir  = %%PREFIX%%/var/smokeping
+piddir  = %%PREFIX%%/var/smokeping
 cgiurl   = http://some.url/smokeping.cgi
-smokemail = /home/oetiker/checkouts/smokeping/trunk/software/etc/smokemail.dist
-tmail = /home/oetiker/checkouts/smokeping/trunk/software/etc/tmail.dist
+smokemail = %%PREFIX%%/etc/smokeping/smokemail
+tmail = %%PREFIX%%/etc/smokeping/tmail
 # specify this to get syslog logging
 syslogfacility = local0
 # each probe is now run in its own process
@@ -47,7 +47,7 @@
 
 *** Presentation ***
 
-template = /home/oetiker/checkouts/smokeping/trunk/software/etc/basepage.html.dist
+template = %%PREFIX%%/etc/smokeping/basepage.html
 
 + charts
 
@@ -105,7 +105,7 @@
 
 + FPing
 
-binary = /usr/sbin/fping
+binary = %%PREFIX%%/sbin/fping
 
 *** Slaves ***
 secrets=/home/oetiker/checkouts/smokeping/trunk/software/etc/smokeping_secrets.dist
