--- ./bin/tSmoke.dist.orig	2008-10-29 15:06:25.000000000 +0100
+++ ./bin/tSmoke.dist	2008-10-29 15:07:53.000000000 +0100
@@ -1,4 +1,4 @@
-#!/usr/bin/perl
+#!%%PERL%%
 #
 #-----------------------------------------------
 # tSmoke.pl
@@ -51,8 +51,7 @@ use warnings;
 # -- Getopt::Long
 #
 # Point the lib variables to your implementation
-use lib qw(lib);
-use lib qw(/usr/local/rrdtool-1.0.39/lib/perl);
+use lib qw(%%PREFIX%%/smokeping/lib);
 
 use Smokeping 2.004002;
 use Net::SMTP;
@@ -61,7 +60,7 @@ use Pod::Usage;
 use RRDs;
 
 # Point to your Smokeping config file
-my $cfgfile = "etc/config.dist";
+my $cfgfile = "%%PREFIX%%/etc/config";
 
 # global variables
 my $cfg;
@@ -482,33 +481,8 @@ Typical crontab used to invoke this are
 
 =head1 SETUP
 
-When installing tSmoke, some variables must be adjusted to fit your local system.
-
-We need to use the following B<libraries>:
-
-=over
-
-=item Smokeping
-
-=item RRDTool Perl bindings
-
-=item Getopt::Long
-
-=back
-
-Set up your libraries:
-
- use lib "/usr/local/smokeping/lib";
- use lib "/usr/local/rrdtool-1.0.39/lib/perl";
-
-Point to your Smokeping B<config> file
-
- my $cfgfile = "/usr/local/smokeping/etc/config";
-
-Modify the Smokeping config file to include a path for tmail in the
-General section:
-
- tmail = /usr/local/smokeping/etc/tmail
+When installing tSmoke, this file has been adjusted to fit your
+local system. There should be no need for further path adjustments.
 
 =head1 COPYRIGHT
 
