--- conf/graphite.wsgi.example.orig	2021-04-19 05:24:42 UTC
+++ conf/graphite.wsgi.example
@@ -2,6 +2,6 @@ import sys
 # In case of multi-instance graphite, uncomment and set appropriate name
 # import os
 # os.environ['GRAPHITE_SETTINGS_MODULE'] = 'graphite.local_settings'
-sys.path.append('/opt/graphite/webapp')
+sys.path.append('%%PYTHON_SITELIBDIR%%/graphite')
 
 from graphite.wsgi import application
