--- webapp/graphite/local_settings.py.example.orig	2022-05-22 18:11:01 UTC
+++ webapp/graphite/local_settings.py.example
@@ -112,15 +112,27 @@ DEFAULT_XFILES_FACTOR = 0
 #CONF_DIR = '/opt/graphite/conf'
 #STORAGE_DIR = '/opt/graphite/storage'
 #STATIC_ROOT = '/opt/graphite/static'
+CONF_DIR = '/usr/local/etc/graphite'
+STORAGE_DIR = '/var/db/carbon'
+STATIC_ROOT = '/usr/local/share/graphite-web/content'
+
 #LOG_DIR = '/opt/graphite/storage/log/webapp'
 #INDEX_FILE = '/opt/graphite/storage/index'     # Search index file
 
+WHISPER_DIR = '/var/db/carbon/whisper'
+RRD_DIR = '/var/db/carbon/rrd'
+DATA_DIRS = [WHISPER_DIR, RRD_DIR] # Default: set from the above variables
+LOG_DIR = '/var/log/graphite'
+INDEX_FILE = '/var/db/graphite/index'  # Search index file
+
 # To further or fully customize the paths, modify the following. Note that the
 # default settings for each of these are relative to CONF_DIR and STORAGE_DIR
 #
 ## Webapp config files
 #DASHBOARD_CONF = '/opt/graphite/conf/dashboard.conf'
 #GRAPHTEMPLATES_CONF = '/opt/graphite/conf/graphTemplates.conf'
+DASHBOARD_CONF = '/usr/local/etc/graphite/dashboard.conf'
+GRAPHTEMPLATES_CONF = '/usr/local/etc/graphite/graphTemplates.conf'
 
 ## Data directories
 #
@@ -257,7 +269,12 @@ DEFAULT_XFILES_FACTOR = 0
 #    }
 #}
 #
-
+DATABASES = {
+       'default': {
+               'NAME': '/var/db/graphite/graphite.db',
+               'ENGINE': 'django.db.backends.sqlite3',
+       }
+}
 
 #########################
 # Cluster Configuration #
