--- config/gitlab.yml.example.orig	2016-10-11 15:15:22 UTC
+++ config/gitlab.yml.example
@@ -433,7 +433,7 @@ production: &base
     # Paths where repositories can be stored. Give the canonicalized absolute pathname.
     # NOTE: REPOS PATHS MUST NOT CONTAIN ANY SYMLINK!!!
     storages: # You must have at least a `default` storage path.
-      default: /home/git/repositories/
+      default: /usr/home/git/repositories/
 
   ## Backup settings
   backup:
@@ -458,12 +458,12 @@ production: &base
 
   ## GitLab Shell settings
   gitlab_shell:
-    path: /home/git/gitlab-shell/
-    hooks_path: /home/git/gitlab-shell/hooks/
+    path: /usr/local/share/gitlab-shell/
+    hooks_path: /usr/local/share/gitlab-shell/hooks/
 
     # File that contains the secret key for verifying access for gitlab-shell.
     # Default is '.gitlab_shell_secret' relative to Rails.root (i.e. root of the GitLab app).
-    # secret_file: /home/git/gitlab/.gitlab_shell_secret
+    # secret_file: /usr/home/git/gitlab/.gitlab_shell_secret
 
     # Git over HTTP
     upload_pack: true
@@ -476,7 +476,7 @@ production: &base
   # CAUTION!
   # Use the default values unless you really know what you are doing
   git:
-    bin_path: /usr/bin/git
+    bin_path: /usr/local/bin/git
     # The next value is the maximum memory size grit can use
     # Given in number of bytes per git object (e.g. a commit)
     # This value can be increased if you have very large commits
