--- Packaging/fedora/devilutionx.desktop.orig	2021-04-06 05:51:05 UTC
+++ Packaging/fedora/devilutionx.desktop
@@ -1,10 +1,10 @@
 [Desktop Entry]
 Name=DevilutionX
 GenericName=DevilutionX
-Comment=Play Diablo I on Linux
-Comment[da]=Spil Diablo I på Linux
-Comment[hr]=Igrajte Diablo I na Linuxu
-Comment[it]=Gioca a Diablo I su Linux
+Comment=Play Diablo
+Comment[da]=Spil Diablo I
+Comment[hr]=Igrajte Diablo I
+Comment[it]=Gioca a Diablo I
 Exec=devilutionx --diablo
 Icon=devilutionx
 Terminal=false
