--- ./gtk-3.0/gtk-widgets.css.orig	2013-09-08 02:22:51.000000000 +0000
+++ ./gtk-3.0/gtk-widgets.css	2014-01-09 18:06:00.000000000 +0000
@@ -416,7 +416,7 @@
 	border-color: @border_color;
 	border-style: solid;
 	border-radius: 3px;
-	background-color: @theme_base_color;
+	background-color: @theme_bg_color;
 	padding: 0;
 }
 
@@ -1057,7 +1057,7 @@
 .menu {
 	background-color: @menu_bg_color;
 	color: @menu_fg_color;
-	padding: 0;
+	padding: 1px;
 	border-style: solid;
 	border-width: 1px;
 	border-color: @menu_border_color;
@@ -1065,7 +1065,7 @@
 
 .menu.button {
 	background-image: none;
-	background-color: @theme_base_color;
+	background-color: @menu_bg_color;
 	color: @internal_element_color;
 
 	border-image: none;
@@ -1092,7 +1092,7 @@
 /* this controls the general appearance of the menubar */
 .menubar {
 	border-style: none;
-	padding: 4px;
+	padding: 1px;
 	-GtkWidget-window-dragging: true;
 	-GtkMenuBar-internal-padding: 1;
 	background-image: -gtk-gradient (linear,
@@ -1106,6 +1106,7 @@
 .menubar .menuitem {
 	border-style: none;
 	padding: 3px 5px;
+	background-color: transparent;
 }
 
 .menubar .menuitem:hover {
@@ -1130,6 +1131,7 @@
 
 .menu .menuitem {
 	-GtkMenuItem-arrow-scaling: 0.5;
+	background-color: @menu_bg_color;
 	padding: 4px;
 }
 
@@ -1184,6 +1186,7 @@
 
 .menuitem.separator {
 	color: @menu_separator_color;
+	padding: 3px 1px 3px 1px;
 
 	-GtkMenuItem-horizontal-padding: 0;
 }
