--- ./rebar.config.orig	2013-10-28 13:30:37.000000000 +0900
+++ ./rebar.config	2013-10-28 13:31:08.000000000 +0900
@@ -3,7 +3,7 @@
 {port_env, [ %% Make sure to link -lstdc++ on linux or solaris
              {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"},
              %% Make sure to link directly on linux or openbsd
-             {"(linux|openbsd)", "ERL_LDFLAGS", "$LDFLAGS $ERL_LDFLAGS -lcrypto"},
+             {"(linux|openbsd|freebsd)", "ERL_LDFLAGS", "$LDFLAGS $ERL_LDFLAGS -lcrypto"},
              %% OS X Leopard flags for 64-bit
              {"darwin9.*-64$", "CXXFLAGS", "-m64"},
              {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},
