Index: qemu/Makefile.target
@@ -139,11 +139,11 @@
 endif
 endif
 
-ifeq ($(ARCH),x86_64)
-  ifneq ($(CONFIG_SOLARIS),yes)
-    BASE_LDFLAGS+=-Wl,-T,$(SRC_PATH)/$(ARCH).ld
-  endif
-endif
+#ifeq ($(ARCH),x86_64)
+#  ifneq ($(CONFIG_SOLARIS),yes)
+#    BASE_LDFLAGS+=-Wl,-T,$(SRC_PATH)/$(ARCH).ld
+#  endif
+#endif
 
 ifeq ($(ARCH),ppc)
 CPPFLAGS+= -D__powerpc__
@@ -560,12 +560,12 @@
   endif
 endif
 
-ifeq ($(ARCH),x86_64)
-  VL_LDFLAGS+=-m64
-  ifneq ($(CONFIG_SOLARIS),yes)
-    VL_LDFLAGS+=-Wl,-T,$(SRC_PATH)/$(ARCH).ld
-  endif
-endif
+#ifeq ($(ARCH),x86_64)
+#  VL_LDFLAGS+=-m64
+#  ifneq ($(CONFIG_SOLARIS),yes)
+#    VL_LDFLAGS+=-Wl,-T,$(SRC_PATH)/$(ARCH).ld
+#  endif
+#endif
 
 ifdef CONFIG_WIN32
 SDL_LIBS := $(filter-out -mwindows, $(SDL_LIBS)) -mconsole
