#
# Below are a list of questions you may or may not need to answer.  They
# are all one-liner.  Just change the default value if needed, and save
# the file when done.  Have fun!!!
#

# Please enter your name:
MYNAME = %%NAME%%

# Please enter your user name:
# (For NT and the basic emp_client build, use "USERNAME = win-empcl2.8")
USERNAME = %%USERNAME%%

# Please enter your e-mail address:
EMAIL = %%EMAIL%%

# Please enter the host name you will be running on:
# (For NT you can use "HOSTNAME = localhost" as this seems to be what it
#  resolves to if you use 127.0.0.1 below)
HOSTNAME = localhost

# Please enter the ip address of the host you will be running on:
# (For NT you can use "IPADDR = 127.0.0.1")
IPADDR = 127.0.0.1

# Please enter the port you will be running on:
PORTNUM = 6665

# Please enter the directory where you want the files for the game:
# (For NT builds, use two \'s and make sure you include a drive letter)
EMPDIR = %%EMPDIR%%

# Please enter the C-compiler you are using (full path is allowed):
# (For NT builds using MSVC 5.0, use "CC = CL")
CC = %%CC%%

# Please enter the linker you are using (full path is allowed):
LD = ld

# Please enter the maximum number of countries you want:
MAXNOC = 99

# Please enter the world size you would like (WORLDX must be
# divisible by 2):
WORLDX = 64
WORLDY = 32

# Please enter if you are setting up a blitz (1 - yes, 0 - no)
BLITZ = 1

# Please enter the number of ETUs per update (must be divisible by 4):
ETUS = 60

# Please enter the frequency of the updates.  For example:
#  Once per day - 1d
#  Once every 20 minutes - 20m
#  Once every 4 hours - 4h
ETUFREQ = 10m

# That's it... Save this file, and type "make <arch>" to build the
# server.  If you are not sure of what architectures are supported,
# just type "make" and it will tell you. (If you are building the
# NT port, use "nmake" instead of "make".)
