--- dist/clementine.desktop.orig	2018-12-05 17:16:34 UTC
+++ dist/clementine.desktop
@@ -31,8 +31,8 @@ Comment[sr]=Репродукује музику и las
 Comment[sr@ijekavian]=Репродукује музику и last.fm токове
 Comment[sr@ijekavianlatin]=Reprodukuje muziku i last.fm tokove
 Comment[sr@latin]=Reprodukuje muziku i last.fm tokove
-Exec=clementine %U
-TryExec=clementine
+Exec=clementine-player %U
+TryExec=clementine-player
 Icon=clementine
 Terminal=false
 Categories=AudioVideo;Player;Qt;Audio;
