[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Remotebox
GenericName=Remotebox
Comment=Open Source VirtualBox Client with Remote Management
Icon=remotebox
Exec=remotebox
Categories=System
