--- huskymak.cfg.orig	Sun Jan 12 23:42:34 2003
+++ huskymak.cfg	Mon Jun  2 22:21:25 2003
@@ -35,15 +35,15 @@
 # will not be compiled, and you won't know how to use the software ;-).
 # You should take care that this directory is listed in the INFOPATH 
 # environment variable (if necessary, modify your /etc/profile file).
-# INFODIR=/usr/local/info
+INFODIR=$(PREFIX)/info
 
 # The same as above, but for DVI documentation. This requires a working
 # "texi2dvi" program.
-# DVIDIR=${PREFIX}/share/doc/husky
+DVIDIR=${PREFIX}/share/doc/husky
 
 # The same as above, but for HTML documentation. This requires a working
 # "texi2html" program.
-#HTMLDIR=$(PREFIX)/lib/husky
+HTMLDIR=$(PREFIX)/share/doc/husky
 
 # Name of the config file of MSGED TE:
 MSGEDCFG=\"$(CFGDIR)/msged.cfg\"
@@ -113,7 +113,7 @@
 
 # update dynamic library cache
 # If your operating system does not need this, you may comment out this line.
-LDCONFIG=/sbin/ldconfig
+#LDCONFIG=/sbin/ldconfig
 
 # rename a file
 MV=mv
@@ -136,8 +136,8 @@
 OSTYPE=UNIX
 
 # short name of operating system (used for PID lines etc.)
-UNAME=LNX
-#UNAME=BSD
+#UNAME=LNX
+UNAME=BSD
 #UNAME=OS2
 #UNAME=BEOS
 
@@ -148,7 +148,7 @@
 SHORTNAMES=0
 
 # Perl support
-PERL=0
+PERL=1
 
 # The DYNLIBS switch controls if dynamic or static linkage is used.
 # This is tricky. If you set DYNLIBS=1, dynamic libraries (.so files)
@@ -173,7 +173,7 @@
 WARNFLAGS=-Wall
 
 # C-compiler: optimization
-OPTCFLAGS=-c -s -O3 -fomit-frame-pointer -fstrength-reduce -fPIC
+OPTCFLAGS=
 
 ifeq ( $(DYNLIBS), 0 )
   ifeq ($(OSTYPE), UNIX)
@@ -212,8 +212,8 @@
 DEBLFLAGS=-g
 
 # options for installing programs
-OPTIBOPT=-c -s -m 555
-DEBIBOPT=-c -m 555
+OPTIBOPT=-c -s -m 555 -o root -g wheel
+DEBIBOPT=-c -m 555 -o root -g wheel
 
 ifeq ($(DEBUG), 1)
   IBOPT = $(DEBIBOPT)
@@ -222,19 +222,19 @@
 endif
 
 # options for installing scripts
-ISOPT=-c -m 555
+ISOPT=-c -m 555 -o root -g wheel
 
 # options for installing shared libs
-ILOPT=-c -m 555
+ILOPT=-c -m 555 -o root -g wheel
 
 # options for installing static libs
-ISLOPT=-c -m 444
+ISLOPT=-c -m 444 -o root -g wheel
 
 # options for installing man-pages
-IMOPT=-c -m 444
+IMOPT=-c -m 444 -o root -g wheel
 
 # options for installing includes
-IIOPT=-c -m 444
+IIOPT=-c -m 444 -o root -g wheel
 
 # options for linking files
 LNOPT=-sf
