;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; Emacs-w3 ;;;;
;;        Emacs-w3(Ver.%VERSION%)                                        ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
(setq url-keep-history t)
(setq url-be-asynchronous t)
(setq w3-default-homepage 
      "file://localhost/usr/share/doc/handbook/handbook.html")
;;                                                       Emacs-w3 end
