[Desktop Entry]
Type=Application
Name=Omacalc
GenericName=Calculator
Comment=Dead-simple calculator
Exec=omacalc
Icon=omacalc
Terminal=false
Categories=Utility;Calculator;
Keywords=calculator;calc;math;arithmetic;
StartupWMClass=omacalc
