--- tools/gn/build/build_linux.ninja.template.orig	2024-06-18 21:56:34 UTC
+++ tools/gn/build/build_linux.ninja.template
@@ -5,7 +5,7 @@ rule alink_thin
   deps = gcc
 
 rule alink_thin
-  command = $ar rcsT $out $in
+  command = $ar rcs $out $in
   description = AR $out
 
 rule link
