--- qt/transmission-qt.desktop.orig	2023-09-24 19:03:24 UTC
+++ qt/transmission-qt.desktop
@@ -5,7 +5,7 @@ Comment=Download and share files over BitTorrent
 # Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
 Keywords=torrents;downloading;uploading;share;sharing;
 Exec=transmission-qt %U
-Icon=transmission
+Icon=transmission-qt
 Terminal=false
 Type=Application
 MimeType=application/x-bittorrent;x-scheme-handler/magnet;
