#!/bin/sh

# $FreeBSD$
#
# For postmaster startup options, edit $PGDATA/postmaster.opts.default
# Preinstalled options are -i -o "-F"

case $1 in
start)
    [ -d !!PREFIX!!/pgsql/lib ] && /sbin/ldconfig -m !!PREFIX!!/pgsql/lib
    [ -x !!PREFIX!!/pgsql/bin/pg_ctl ] && {
	su -l pgsql -c \
	    'exec !!PREFIX!!/pgsql/bin/pg_ctl -w start > !!PREFIX!!/pgsql/errlog 2>&1'
	echo -n ' pgsql'
    }
    ;;

stop)
    [ -x !!PREFIX!!/pgsql/bin/pg_ctl ] && {
	su -l pgsql -c 'exec !!PREFIX!!/pgsql/bin/pg_ctl -w -m fast stop'
    }
    ;;

status)
    [ -x !!PREFIX!!/pgsql/bin/pg_ctl ] && {
	su -l pgsql -c 'exec !!PREFIX!!/pgsql/bin/pg_ctl status'
    }
    ;;

*)
    echo "usage: `basename $0` {start|stop|status}" >&2
    exit 64
    ;;
esac
