--- doc/qnapi-download.desktop.orig	Mon Apr  7 20:55:58 2008
+++ doc/qnapi-download.desktop	Thu Apr 10 20:08:37 2008
@@ -4,7 +4,7 @@
 Actions=QNapiDownload;
 Name=Pobierz napisy do filmu z QNapi
 GenericName=Pobierz napisy do filmu z QNapi
-Icon=/usr/share/icons/qnapi-48.png
+Icon=@PREFIX@/share/icons/qnapi.png
 ServiceTypes=video/x-msvideo,video/x-ms-asf,video/mpeg,video/x-ms-wmv,video/mp4,video/quicktime,video/x-theora,video/x-matroska,video/3gpp,application/vnd.rn-realmedia,application/vnd.rn-realmedia-vbr
 X-KDE-ServiceTypes=KonqPopupMenu/Plugin
 Type=Service
@@ -12,4 +12,4 @@
 [Desktop Action QNapiDownload]
 Name=Pobierz napisy do filmu z QNapi
 Exec=qnapi %F
-Icon=/usr/share/icons/qnapi-48.png
+Icon=@PREFIX@/share/icons/qnapi.png
