--- rebar.config.orig	2016-07-07 11:03:52 UTC
+++ rebar.config
@@ -12,9 +12,6 @@
 {xref_queries, [{"(XC - UC) || (XU - X - B - \"(rebar.*|mustache)\" : Mod)", []}]}.
 
 {deps, [
-    {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.8.2"}}},
-    {lager, "(2.0|2.1|2.2).*", {git, "git://github.com/basho/lager.git", {tag, "2.2.3"}}},
-    {neotoma, "1.7.3", {git, "git://github.com/seancribbs/neotoma.git", {tag, "1.7.3"}}}
   ]}.
 
 {post_hooks, [
