--- rebar.config.orig	2015-06-30 20:31:56 UTC
+++ rebar.config
@@ -5,7 +5,7 @@
 
 {erl_opts, [debug_info]}.
 {xref_checks, [undefined_function_calls]}.
-{deps, [{edown, ".*", {git, "git://github.com/uwiger/edown.git", {tag, "0.7"}}}]}.
+{deps, []}.
 {edoc_opts, [{doclet, edown_doclet},
 	     {top_level_readme,
               {"./README.md",
