#!/bin/sh
# $FreeBSD$

case "${1}" in
start)
        nagios-statd
        echo -n " nagios-statd"
        ;;
stop)
        kill -3 `ps -x | grep nagios-statd | grep python | awk '{print $1}'`
        ;;
restart)
        $0 stop
        $0 start
        ;;
*)
        echo "Usage: $0 {start|stop|restart}"
        ;;
esac

exit 0
