--- src/Makefile.tmpl.orig	Fri Aug 23 01:36:26 2002
+++ src/Makefile.tmpl	Mon Jul 19 22:58:11 2004
@@ -35,22 +35,12 @@
 	echo
 
 install ::
-	@cp ../README* $(INST_DIR);\\
-	cp makegen/makegen makegen/*.cf makegen/*.mm $(INST_DIR)/makegen;\\
-	chmod 755 $(INST_DIR)/makegen/*;\\
-	cp site.mm $(INST_DIR)/makegen;\\
-        if test -f $(INST_DIR)/msql.conf;\
+	@if test -f $(INST_DIR)/etc/msql3/msql.conf;\
         then\
-                rm -f $(INST_DIR)/msql.conf.old;\
-                mv $(INST_DIR)/msql.conf $(INST_DIR)/msql.conf.old;\
+                rm -f $(INST_DIR)/etc/msql3/msql.conf.old;\
+                mv $(INST_DIR)/etc/msql3/msql.conf $(INST_DIR)/etc/msql3/msql.conf.old;\
         fi;\
-	sed "s,_INST_,$(INST_DIR),"< ../misc/msql.conf >$(INST_DIR)/msql.conf;\\
-	echo ;\\
-	echo ;\\
-	echo ;\\
-	echo "Setting directory ownership";\\
-	chown daemon $(INST_DIR);\\
-	chown -R daemon $(INST_DIR)/msqldb;\\
+	sed "s,_INST_,$(INST_DIR),"< ../misc/msql.conf >$(INST_DIR)/etc/msql3/msql.conf;\\
 	echo ;\\
 	echo ;\\
 	echo ;\\
