--- requirements.txt.orig	2021-04-12 09:08:50 UTC
+++ requirements.txt
@@ -54,7 +54,7 @@ XStatic-D3>=3.5.17.0 # BSD License (3 clause)
 XStatic-Hogan>=2.0.0.2 # Apache 2.0 License
 XStatic-Font-Awesome>=4.7.0.0 # SIL OFL 1.1 License, MIT License
 XStatic-Jasmine>=2.4.1.1 # MIT License
-XStatic-jQuery>=1.12.4.1,<2 # MIT License
+XStatic-jQuery>=1.12.4.1 # MIT License
 XStatic-JQuery-Migrate>=1.2.1.1 # MIT License
 XStatic-JQuery.quicksearch>=2.0.3.1 # MIT License
 XStatic-JQuery.TableSorter>=2.14.5.1 # MIT License
