--- rebar.config.orig	2019-07-12 20:04:39 UTC
+++ rebar.config
@@ -11,6 +11,9 @@
 	    {"darwin", "CFLAGS", "$CFLAGS -ObjC -D_OSX_COCOA -I/opt/X11/include"},
 	    {"darwin", "LDFLAGS", "$LDFLAGS -framework SDL -rpath @executable_path/../Frameworks"},
 	    
+	    {"freebsd", "CFLAGS", "$CFLAGS $SDL_CFLAGS"},
+	    {"freebsd", "LDFLAGS", "$LDFLAGS $SDL_LIBDIR"},
+
 	    {"win32", "CFLAGS", "$CFLAGS -DWIN32 -D_WIN32 -D__WIN32__ $SDL_INCDIR"},
 	    {"win32", "DRV_CFLAGS", "/Zi /W3 $ERL_CFLAGS"},
 	    {"win32", "ERL_LDFLAGS", " /debug /LIBPATH:$SDL_LIBDIR SDL.lib user32.lib"}
