--- base/server/etc/default.cfg.orig	2026-07-12 08:09:27 UTC
+++ base/server/etc/default.cfg
@@ -192,7 +192,7 @@ pki_client_admin_cert=%(pki_client_dir)s/%(pki_subsyst
 pki_client_pkcs12_password_conf=%(pki_client_subsystem_dir)s/pkcs12_password.conf
 pki_client_admin_cert=%(pki_client_dir)s/%(pki_subsystem_type)s_admin.cert
 
-pki_instance_path=/var/lib/pki/%(pki_instance_name)s
+pki_instance_path=/var/db/pki/%(pki_instance_name)s
 
 ###############################################################################
 ##  Tomcat Configuration:                                                    ##
@@ -254,7 +254,7 @@ pki_systemd_service_create=True
 #
 pki_systemd_service_create=True
 
-CATALINA_HOME=/usr/share/tomcat
+CATALINA_HOME=/usr/local/apache-tomcat-9.0
 pki_tomcat_bin_path=%(CATALINA_HOME)s/bin
 pki_tomcat_lib_path=%(CATALINA_HOME)s/lib
 
