--- Config.tmpl.orig	Sat Jan 26 17:48:22 2002
+++ Config.tmpl	Sat Jan 26 17:50:24 2002
@@ -13,6 +13,9 @@
  * 	Pas de popup-menu		DONT_USE_POPUP  (pb LessTif)
  */
 
+#define __FreeBSD__
+#define i386BsdArchitecture
+
 /* Pour installer le démon */
 #define INSTALLDEMON
 
@@ -41,13 +44,13 @@
 /*#define PURE*/
 
 /* Pas de Télétel vitesse rapide */
-/*#define NO_TVR*/
+#define NO_TVR
 
 /* Pour debug du demon "xteld" */
-#define DEBUG_XTELD
+/*#define DEBUG_XTELD*/
 
 /* Pour la distribution RedHat Linux */
-#define REDHAT
+/*#define REDHAT*/
 
 /* Pas de popup-menu (pb LessTif) */
 #define DONT_USE_POPUP
