--- Config.tmpl.orig	Tue Feb 13 09:53:03 2001
+++ Config.tmpl	Sat Jul 28 11:34:57 2001
@@ -13,6 +13,9 @@
  * 	Pas de popup-menu		DONT_USE_POPUP  (pb LessTif)
  */
 
+#define __FreeBSD__
+#define i386BsdArchitecture
+
 /* Pour installer le démon */
 #define INSTALLDEMON
 
