--- gx.desktop.orig	2007-06-07 16:00:13 UTC
+++ gx.desktop
@@ -1,7 +1,7 @@
 [Desktop Entry]
 Encoding=UTF-8
 Name=gx
-GenericName=Image Viewer
+GenericName=GX Image Viewer
 Comment=The lightweight image viewer
 TryExec=gx
 Exec=gx %U
