--- config/cf/Library.tmpl.orig	Mon May 24 12:06:57 2004
+++ config/cf/Library.tmpl	Fri Sep 10 21:46:00 2004
@@ -389,7 +389,7 @@
  */
 
 #ifndef MakeStringsDependency
-# ifndef UseInstalled
+# if !defined(UseInstalled) && !defined(UseInstalledPrograms)
 #  define MakeStringsDependency						@@\
 MAKESTRS = $(CONFIGSRC)/util/makestrs					@@\
 NoCmpScript(HostProgramTargetName($(MAKESTRS)) $(MAKESTRS).Osuf)	@@\
@@ -399,7 +399,8 @@
 									@@\
 includes:: HostProgramTargetName($(MAKESTRS))
 # else
-#  define MakeStringsDependency  /**/
+#  define MakeStringsDependency						@@\
+MAKESTRS = makestrs
 # endif
 #endif
 
