#!/bin/sh
#
# $FreeBSD$
#
# A sample XORP startup script.
# XXX: This needs more work to be useful.
#

# PROVIDE: xorp
# REQUIRE: NETWORKING
# BEFORE:
# KEYWORD: shutdown

# Add the following line to /etc/rc.conf to enable xorp:
#
#xorp_enable="YES"
#xorp_config_boot="/usr/local/xorp/rtrmgr/config.boot"
#

. /etc/rc.subr

name=xorp
rcvar=`set_rcvar`

load_rc_config $name

: ${xorp_enable="NO"}
: ${xorp_rtrmgr_pidfile="/var/run/xorp_rtrmgr.pid"}
: ${xorp_config_boot="/usr/local/xorp/rtrmgr/config.boot"}
: ${xorp_flags="/usr/local/xorp/rtrmgr/config.boot"}

command=/usr/local/xorp/rtrmgr/xorp_rtrmgr
pidfile=$xorp_rtrmgr_pidfile
required_files=$xorp_config_boot
sig_stop=INT

run_rc_command "$1"
