
$FreeBSD$

--- etc/ASpath-tree.config.orig
+++ etc/ASpath-tree.config
@@ -9,7 +9,7 @@
 # Full path to the directory where you have installed the ASpath-tree
 # scripts. It is the directory where the script create-bgp-pages is
 # located
-HOMEDIR = /usr/local/ASpath-tree-v4.2
+HOMEDIR = %%PREFIX%%/var/aspathree/
 
 # Router you are using. Currently supported platforms include Cisco, Juniper
 # and Zebra routers. Allowed values are "CISCO", "JUNIPER" , "ZEBRA" and
@@ -37,8 +37,14 @@
 # command:
 #         ip rcmd remote-host
 #              <router-user> <client-ip-address>  <client-user>
+# or the telnet user. See ROUTERUSERPASS also.
 ROUTERUSER = router
 
+# The password of the telnet user which have been enabled on the cisco
+# router to issue 'show bgp ipv6' command. Set up only if you want to
+# use the telnet mode.
+# ROUTERUSERPASS = router
+
 # The full path to the directory where the generated html files have to be
 # placed. If you do not specify this option the html files are stored under
 # the htdocs/ directory which comes with the distribution
@@ -46,15 +52,15 @@
 # HTMLDIR = /usr/local/httpd/htdocs/bgp
 
 # The contactname which is placed at the bottom of the generated html pages
-CONTACTNAME = IPv6 group
+CONTACTNAME = Your IPv6 group
 
 # e-mail address of the contact person. It is placed at the bottom of the
 # generated html pages together with the contactname
- CONTACTMAIL = me@myhost.com
+ CONTACTMAIL = your@ipv6.mail
 
 # The name of your IPv6 site. It is used as the root of the BGP4+ routing
 # tree displayed by the generated html pages
-SITENAME = TILAB
+SITENAME = Your IPv6 project
 
 # The name of the image file (for instance a graphical logo representing
 # your IPv6 site) to be placed at the beginning of the generated html
@@ -71,7 +77,7 @@
 # WHOISLINK = http://whois.6bone.net/cgi-bin/whois
 
 # A flag to enable the display of the last changes on the tree. Set
-# CHANGESFLAG = 1
+CHANGESFLAG = 1
 # to see the display as html pages accessible from a link within the tree pages
 
 # A flag to control which routes are filtered out from the output of
@@ -87,7 +93,7 @@
 # installed on the same WS that hosts ASpath-tree
 # This parameter is needed only if you want to update via ASpath-tree the
 # useful information available on whois DBs connected to the Internet
-# RIPEWHOISCLIENT = /usr/local/bin/whois3
+RIPEWHOISCLIENT = %%PREFIX%%/bin/whois3
 
 #### ASpath-tree v.4.2 - Released on Thu APR 17 2003, h.16:58:12
 #### File: etc/ASpath-tree.config Last modified on Thu APR 17 2003, h.16:44:43
