(autoload 'wl "wl" "Wanderlust" t)
(autoload 'wl-draft "wl-draft" "Write draft with Wanderlust." t)
(load "browse-url")
(load "mime-setup")
(setq wl-icon-dir "%%PREFIX%%/%%EMACS_PACKAGESDIR%%/etc/wl")
(provide 'wanderlust-startup)
