(autoload 'wl "wl" "Wanderlust" t)
(autoload 'wl-draft "wl-draft" "Write draft with Wanderlust." t)
(setq load-path (cons "%%PREFIX%%/%%EMACS_LIBDIR%%/site-lisp/wl" load-path))
(require 'semi-setupel)
(require 'flim-setupel)
(require 'apel-setupel)
(load "mime-setup")
(setq wl-summary-weekday-name-lang "en")
(setq wl-thread-indent-level 2)
(setq wl-thread-have-younger-brother-str "+")
(setq wl-thread-youngest-child-str       "+")
(setq wl-thread-vertical-str             "|")
(setq wl-thread-horizontal-str           "-")
(setq wl-thread-space-str                " ")
(provide 'wanderlust-startup)
