(autoload 'wl "wl" "Wanderlust" t)
(autoload 'wl-draft "wl-draft" "Write draft with Wanderlust." t)
(setq load-path (cons "%%PREFIX%%/%%EMACS_VER_LIBDIR%%/site-lisp/emu" load-path))
(load "browse-url")
(load "mime-setup")
(setq wl-icon-dir "%%PREFIX%%/%%EMACS_LIBDIR%%/etc/wl")
(setq wl-summary-weekday-name-lang "en")
(setq wl-thread-indent-level 2)
(setq wl-thread-have-younger-brother-str "+")
(setq wl-thread-youngest-child-str       "+")
(setq wl-thread-vertical-str             "|")
(setq wl-thread-horizontal-str           "-")
(setq wl-thread-space-str                " ")
(provide 'wanderlust-startup)
