(autoload 'wl "wl" "Wanderlust" t)
(autoload 'wl-draft "wl" "Write draft with Wanderlust." t)
(setq load-path (cons "%%PREFIX%%/%%EMACS_LIBDIR%%/site-lisp/wanderlust" load-path))
(provide 'wanderlust-startup)
