(autoload 'wl "wl" "Wanderlust" t)
(autoload 'wl-draft "wl-draft" "Write draft with Wanderlust." t)
(setq load-path (cons "%%PREFIX%%/%%EMACS_LIBDIR%%/site-lisp/wl" load-path))
(setq load-path (cons "%%PREFIX%%/%%EMACS_LIBDIR%%/site-lisp/bitmap" load-path))
(require 'semi-setupel)
(require 'flim-setupel)
(require 'apel-setupel)
(load "mime-setup")
(provide 'wanderlust-startup)
