--- generate/unix/Makefile.config.orig	2015-06-18 15:15:59 UTC
+++ generate/unix/Makefile.config
@@ -195,7 +195,6 @@ CWARNINGFLAGS += \
     -Wmissing-field-initializers\
     -Wnested-externs\
     -Wold-style-definition\
-    -Woverride-init\
     -Wno-format-nonliteral\
     -Wredundant-decls
 #
@@ -203,6 +202,7 @@ CWARNINGFLAGS += \
 #
 ifneq ($(HOST), _FreeBSD)
     CWARNINGFLAGS += \
+        -Woverride-init\
         -Wempty-body
 
     ifneq ($(HOST), _APPLE)
