#!/bin/sh

PREFIX=$(expr $0 : "\(/.*/\)etc/rc\.d/$(basename $0)\$")

IRCD=${PREFIX}bin/ircd

case "$1" in
start)
	if [ -x $IRCD ]; then
		su ircdru -c $IRCD >/dev/null 2>&1
		echo -n ' ircd-hybrid-ru'
	fi
	;;
stop)
	kill `cat ${PREFIX}/etc/ircd-hybrid-ru/ircd.pid` >/dev/null 2>&1
	echo -n ' ircd-hybrid-ru'
	;;
*)
	echo "Usage: `basename $0` {start|stop}" >&2
	;;
esac

exit 0
