--- config/cf/X11.tmpl.orig	Fri Sep  3 09:18:18 2004
+++ config/cf/X11.tmpl	Fri Sep 10 20:29:12 2004
@@ -616,7 +616,7 @@
 #define BuildXft1Library	BuildRenderLibrary
 #endif
 #ifndef UseFontconfig
-#define UseFontconfig		BuildXftLibrary
+#define UseFontconfig		(BuildXftLibrary || BuildXft1Library)
 #endif
 #ifndef BuildFontconfigLibrary
 #define BuildFontconfigLibrary	(UseFontconfig && !HasFontconfig)
@@ -1606,7 +1606,7 @@
 #endif
 
 #ifndef PsWrap
-# ifndef UseInstalled
+# if !defined(UseInstalled) && !defined(UseInstalledPrograms)
 #  define PsWrap $(PSWRAPSRC)/pswrap
 # else
 #  define PsWrap pswrap
@@ -1683,7 +1683,7 @@
 
      INSTAPPFLAGS = $(INSTDATFLAGS)	/* XXX - this should go away - XXX */
 
-#if UseInstalledX11
+#if UseInstalledX11 || UseInstalledClients
               RGB = $(XBINDIR)/rgb
             FONTC = $(XBINDIR)/bdftopcf
       MKFONTSCALE = $(XBINDIR)/mkfontscale
