[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Globulation 2
Comment=An innovative new strategy game
Exec=glob2
Icon=/usr/local/share/glob2/data/icons/glob2-icon-48x48.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Application;Game;StrategyGame;
