#!/bin/sh

grepv() {
	awk -v SRC=$1 'BEGIN{while (getline < SRC) {ENTRY[$0]=1}} (ENTRY[$0] != 1) {print}' $2
}

if [ "x$2" = "xPOST-DEINSTALL" ]; then
	FONTDIR=${PKG_PREFIX}/%%FONTSDIR%%
	cd ${PKG_PREFIX}/%%FONTSDIR%%; %%LOCALBASE%%/bin/mkfontdir

	# font alias entry here!
	TMPFILE=/tmp/install-fonts-alias-$$
	cat <<- EOF > ${TMPFILE}
	kanji26  -jis-mincho-medium-r-normal--26-250-75-75-c-260-jisx0208.1983-0
	kanji26b  -jis-mincho-bold-r-normal--26-250-75-75-c-260-jisx0208.1983-0
	kanji26i  -jis-mincho-medium-i-normal--26-250-75-75-c-260-jisx0208.1983-0
	kanji26bi  -jis-mincho-bold-i-normal--26-250-75-75-c-260-jisx0208.1983-0
	-jis-fixed-medium-r-normal--26-190-100-100-c-260-jisx0208.1983-0 -jis-mincho-medium-r-normal--26-190-100-100-c-260-jisx0208.1983-0
	-jis-fixed-bold-r-normal--26-190-100-100-c-260-jisx0208.1983-0 -jis-mincho-bold-r-normal--26-190-100-100-c-260-jisx0208.1983-0
	-jis-fixed-medium-i-normal--26-190-100-100-c-260-jisx0208.1983-0 -jis-mincho-medium-i-normal--26-190-100-100-c-260-jisx0208.1983-0
	-jis-fixed-bold-i-normal--26-190-100-100-c-260-jisx0208.1983-0 -jis-mincho-bold-i-normal--26-190-100-100-c-260-jisx0208.1983-0
	-jis-fixed-medium-r-normal--26-250-75-75-c-260-jisx0208.1983-0 -jis-mincho-medium-r-normal--26-250-75-75-c-260-jisx0208.1983-0
	-jis-fixed-bold-r-normal--26-250-75-75-c-260-jisx0208.1983-0 -jis-mincho-bold-r-normal--26-250-75-75-c-260-jisx0208.1983-0
	-jis-fixed-medium-i-normal--26-250-75-75-c-260-jisx0208.1983-0 -jis-mincho-medium-i-normal--26-250-75-75-c-260-jisx0208.1983-0
	-jis-fixed-bold-i-normal--26-250-75-75-c-260-jisx0208.1983-0 -jis-mincho-bold-i-normal--26-250-75-75-c-260-jisx0208.1983-0
	-jis-mincho-medium-r-normal--26-190-100-100-c-260-jisx0208.1983-0 -jis-mincho-medium-r-normal--26-250-75-75-c-260-jisx0208.1983-0
	-jis-mincho-bold-r-normal--26-190-100-100-c-260-jisx0208.1983-0 -jis-mincho-bold-r-normal--26-250-75-75-c-260-jisx0208.1983-0
	-jis-mincho-medium-i-normal--26-190-100-100-c-260-jisx0208.1983-0 -jis-mincho-medium-i-normal--26-250-75-75-c-260-jisx0208.1983-0
	-jis-mincho-bold-i-normal--26-190-100-100-c-260-jisx0208.1983-0 -jis-mincho-bold-i-normal--26-250-75-75-c-260-jisx0208.1983-0
	EOF
	echo "Updating ${FONTDIR}/fonts.alias"
	cd ${FONTDIR}
	touch fonts.alias
	cp fonts.alias fonts.alias.orig
	grepv ${TMPFILE} fonts.alias.orig > fonts.alias
	if [ ! -s fonts.alias ]; then rm -f fonts.alias; fi
	rm -f fonts.alias.orig ${TMPFILE}

	%%LOCALBASE%%/bin/xset fp rehash ||
	(
	 echo "**********************************************************"
	 echo "You should restart X server or do 'xset fp rehash' command"
	 echo "to enable this update."
	 echo "**********************************************************"
	)
	if [ "`wc -c ${PKG_PREFIX}/%%FONTSDIR%%/fonts.dir | awk '{print $1}'`" = 2 ]; then 
		rm -f ${PKG_PREFIX}/%%FONTSDIR%%/fonts.dir
	fi
fi


