--- Xvnc/config/cf/Imake.tmpl.orig	Thu Apr 13 02:18:19 2000
+++ Xvnc/config/cf/Imake.tmpl	Wed Nov 20 21:48:33 2002
@@ -1254,7 +1254,7 @@
         LDOPTIONS = $(CDEBUGFLAGS) $(CCOPTIONS)  $(EXTRA_LDOPTIONS) $(THREADS_LDFLAGS) $(LOCAL_LDFLAGS) $(LDPRELIBS)
      CXXLDOPTIONS = $(CXXDEBUGFLAGS) $(CXXOPTIONS) $(EXTRA_LDOPTIONS) $(THREADS_CXXLDFLAGS) $(LOCAL_LDFLAGS) $(LDPRELIBS)
 
-           LDLIBS = $(LDPOSTLIBS) $(THREADS_LIBS) $(SYS_LIBRARIES) $(EXTRA_LIBRARIES)
+           LDLIBS = $(LDPOSTLIBS) $(THREADS_LIBS) $(SYS_LIBRARIES) $(EXTRA_LIBRARIES) -L%%LOCALBASE%%/lib
 #if HasBrokenCCForLink
            CCLINK = LdCmd
 #else
