# vi: ft=yaml
# see https://h2o.examp1e.net/ for detailed documentation
# see h2o --help for command-line options and settings
user: www
pid-file: /var/run/h2o.pid
access-log: /var/log/h2o/h2o-access.log
error-log: /var/log/h2o/h2o-error.log
listen: 80
listen:
    port: 443
    ssl:
        minimum-version: TLSv1.2
        # generate your own certificates
        certificate-file: /usr/local/etc/h2o/server.crt
        key-file: /usr/local/etc/h2o/server.key
# enable Apache-style directory listings
# file.dirlisting: on
# per-host configuration
hosts:
    my.example.org:
        paths:
            "/":
                file.dir: "/usr/local/www/data/my.example.org"
    pkg.example.org:
        # virtual directory layout
        paths:
            "/poudriere":
                file.dir: "/usr/local/poudriere/data/logs/bulk"
            "/FreeBSD:10:amd64":
                file.dir: "/usr/local/poudriere/data/packages/10_2_amd64-default/"
            "/FreeBSD:11:amd64":
                file.dir: "/usr/local/poudriere/data/packages/current_amd64-default/"
