
$FreeBSD$

--- Makefile.config.orig
+++ Makefile.config
@@ -4,8 +4,8 @@
 #
 
 # Uncomment the line for your OS
-OS=linux
-#OS=freebsd
+#OS=linux
+OS=freebsd
 
 # Linux only: Where is your linux kernel source?
 # Ignored for non-Linux
@@ -19,7 +19,7 @@
 #CC=gcc-4.0
 
 # Where to install
-prefix=/usr
+prefix=%%PREFIX%%
 
 # Set to "y" to build MT versions of sendd and cgatool
 USE_THREADS=n
