# drop privileges
user "_gmid"

# it's a good idea to enable chroot
chroot "/var/gemini"

# An example of a server block:
server "localhost" {
	listen on * port 1965

	# set the directory to serve; it's relative to the
	# chroot (if enabled)
	root "/localhost"

	# Set self-signed TLS cert and key.  It's better to keep
	# the keys outside the chroot.
	#
	# You should generate them manually, for example:
	# openssl req -x509 -newkey rsa:4096 -nodes		\
	#	-out /usr/local/etc/ssl/gmid/localhost.crt	\
	#	-keyout /usr/local/etc/ssl/gmid/localhost.key	\
	# 	-subj "/CN=localhost"
	cert "/usr/local/etc/ssl/gmid/localhost.crt"
	key  "/usr/local/etc/ssl/gmid/localhost.key"
}
