--- config.toml.example.orig	2023-12-20 08:48:30 UTC
+++ config.toml.example
@@ -2,10 +2,10 @@
 # For Gitaly documentation, see https://docs.gitlab.com/ee/administration/gitaly/
 
 # A path which Gitaly should open a Unix socket.
-socket_path = "/home/git/gitlab/tmp/sockets/private/gitaly.socket"
+socket_path = "%%PREFIX%%/www/gitlab-ce/tmp/sockets/private/gitaly.socket"
 
 # Directory containing Gitaly executables.
-bin_dir = "/home/git/gitaly/_build/bin"
+bin_dir = "%%PREFIX%%/share/gitaly/bin/"
 
 # # Optional. The directory where Gitaly can create all files required to
 # # properly operate at runtime. If not set, Gitaly will create a directory in
@@ -39,9 +39,9 @@ bin_dir = "/home/git/gitaly/_build/bin"
 # # Path to the key.
 # key_path = '/home/git/key.pem'
 
-# # Git settings
-# [git]
-# bin_path = "/usr/bin/git"
+# Git settings
+[git]
+bin_path = "%%PREFIX%%/bin/git"
 # catfile_cache_size = 100
 #
 # [[git.config]]
@@ -53,7 +53,7 @@ bin_dir = "/home/git/gitaly/_build/bin"
 # # The name of the storage
 name = "default"
 # # The path to the storage.
-path = "/home/git/repositories"
+path = "%%PREFIX%%/git/repositories"
 
 # # You can optionally configure more storages for this Gitaly instance to serve up
 #
@@ -63,9 +63,9 @@ path = "/home/git/repositories"
 #
 
 # # You can optionally configure Gitaly to output JSON-formatted log messages to stdout
-# [logging]
+[logging]
 # # The directory where Gitaly stores extra log files
-dir = "/home/git/gitlab/log"
+dir = "%%PREFIX%%/www/gitlab-ce/log"
 # format = "json"
 # # Optional. Set log level to only log entries with that severity or above
 # # One of, in order: debug, info, warn, errror, fatal, panic
@@ -80,11 +80,11 @@ dir = "/home/git/gitlab/log"
 # grpc_latency_buckets = [0.001, 0.005, 0.025, 0.1, 0.5, 1.0, 10.0, 30.0, 60.0, 300.0, 1500.0]
 
 [hooks]
-custom_hooks_dir = "/home/git/custom_hooks"
+custom_hooks_dir = "%%PREFIX%%/git/custom_hooks"
 
 [gitlab]
-secret_file = "/home/git/gitlab-shell/.gitlab_shell_secret"
-url = "http+unix://%2Fhome%2Fgit%2Fgitlab%2Ftmp%2Fsockets%2Fgitlab-workhorse.socket"
+secret_file = "%%PREFIX%%/share/gitlab-shell/.gitlab_shell_secret"
+url = "http+unix://%2Fusr%2Flocal%2Fwww%2Fgitlab-ce%2Ftmp%2Fsockets%2Fgitlab-workhorse.socket"
 # Only needed if a UNIX socket is used in `url` and GitLab is configured to
 # use a relative path (e.g. /gitlab).
 # relative_url_root = '/'
