--- rebar.config.orig	2015-02-12 21:36:22 UTC
+++ rebar.config
@@ -12,9 +12,6 @@
 {xref_queries, [{"(XC - UC) || (XU - X - B - \"(rebar.*|mustache)\" : Mod)", []}]}.
 
 {deps, [
-    {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.4.3"}}},
-    {lager, "2.0.3", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
-    {neotoma, "1.7.2", {git, "git://github.com/seancribbs/neotoma.git", {tag, "1.7.2"}}}
   ]}.
 
 {post_hooks, [{compile, "./rebar escriptize"}]}.
