--- ./tickr.desktop.orig	2013-03-15 01:22:11.000000000 +0100
+++ ./tickr.desktop	2013-03-15 01:22:33.000000000 +0100
@@ -4,8 +4,8 @@
 Type=Application
 Terminal=false
 Name=Tickr - Feed Reader
-Icon=/usr/share/tickr/pixmaps/tickr-icon.xpm
-Exec=/usr/bin/tickr
+Icon=%%PREFIX%%/share/pixmaps/tickr/tickr-icon.xpm
+Exec=%%PREFIX%%/bin/tickr
 Comment=GTK-based highly graphically-customizable Feed Ticker
-Categories=GNOME;GTK;Network;News
+Categories=GNOME;GTK;Network;News;
 Name[en_US]=Tickr - Feed Reader
