--- rebar.config.orig	2016-10-13 18:07:54 UTC
+++ rebar.config
@@ -3,8 +3,6 @@
 {cover_enabled, true}.
 
 {deps, [
-       {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "3.2.4"}}},
-       {'syslog', "1.0.*", {git, "https://github.com/basho/erlang-syslog", {tag, "1.0.3"}}}
        ]
 }.
 
