--- mk.config.orig	2023-01-13 17:03:48 UTC
+++ mk.config
@@ -17,32 +17,32 @@ POSIX_SHELL = /bin/sh
 #
 # A BSD-compatible install command.
 #
-INSTALL=/usr/ucb/install
+INSTALL?=/usr/ucb/install
 
 #
 # Prefix.
 #
-PREFIX=/usr/ccs
+PREFIX?=/usr/ccs
 
 #
 # Where to place binaries.
 #
-BINDIR=$(PREFIX)/bin
+BINDIR?=$(PREFIX)/bin
 
 #
 # Where to place additional binaries that aim at POSIX conformance.
 #
-SUSBIN=/usr/5bin/posix
+SUSBIN?=/usr/5bin/posix
 
 #
 # Where to place libraries.
 #
-LIBDIR=$(PREFIX)/lib
+LIBDIR?=$(PREFIX)/lib
 
 #
 # Where to place manual pages.
 #
-MANDIR=$(PREFIX)/share/man
+MANDIR?=$(PREFIX)/share/man
 
 #
 # Binaries are stripped with this command after installation.
@@ -52,13 +52,13 @@ STRIP=strip
 #
 # C++ compiler.
 #
-CXX = c++
+CXX ?= c++
 
 #
 # Compiler flags.
 #
-CFLAGS=-O
-CXXFLAGS=-O
+CFLAGS?=-O
+CXXFLAGS?=-O
 
 #
 # C preprocessor flags.
@@ -66,7 +66,7 @@ CXXFLAGS=-O
 # Use -D_GNU_SOURCE for Linux with GNU libc.
 # Use -D_INCLUDE__STDC_A1_SOURCE for HP-UX.
 #
-CPPFLAGS=-D_GNU_SOURCE
+CPPFLAGS+=-D_GNU_SOURCE
 
 #
 # Warning flags for the compiler.
@@ -76,12 +76,12 @@ WARN=
 #
 # Linker flags.
 #
-LDFLAGS=
+#LDFLAGS=
 
 #
 # Additional libraries to link with.
 #
-LIBS=
+#LIBS=
 
 #
 # It may be necessary to define AR on some systems, e.g. on HP-UX.
