--- scripts/dkimproxy_out.conf.example	2014-11-05 08:45:08.311726160 +0300
+++ scripts/dkimproxy_out.conf.example	2014-11-05 08:47:29.601719665 +0300
@@ -1,8 +1,8 @@
 # specify what address/port DKIMproxy should listen on
-listen    127.0.0.1:10027
+listen    host.name:10027
 
 # specify what address/port DKIMproxy forwards mail to
-relay     127.0.0.1:10028
+relay     host.name:10028
 
 # specify what domains DKIMproxy can sign for (comma-separated, no spaces)
 domain    example.org
