# Makefile.dist
#
# Copyright (c) 1996-2002 Internet Software Consortium.
# Use is subject to license terms which appear in the file named
# ISC-LICENSE that should have accompanied this file when you
# received it.   If a file named ISC-LICENSE did not accompany this
# file, or you are not sure the one you have is correct, you may
# obtain an applicable copy of the license at:
#
#             http://www.isc.org/isc-license-1.0.html. 
#
# This file is part of the ISC DHCP distribution.   The documentation
# associated with this file is listed in the file DOCUMENTATION,
# included in the top-level directory of this release.
#
# Support and other services are available for ISC products - see
# http://www.isc.org for more information.
#

CATMANPAGES = omshell.cat1
SEDMANPAGES = omshell.man1
SRCS   = omshell.c
OBJS   = omshell.o
PROG   = omshell
MAN    = omshell.1

INCLUDES = -I$(TOP)/dhcpctl $(BINDINC) -I$(TOP)/includes
CFLAGS = $(DEBUG) $(PREDEFINES) $(INCLUDES) $(COPTS)
DHCPCTLLIBS = ../dhcpctl/libdhcpctl.a ../common/libdhcp.a $(BINDLIB) \
		../omapip/libomapi.a ../dst/libdst.a

all:	$(PROG) $(CATMANPAGES)

$(PROG):	$(OBJS) $(DHCPCTLLIBS)
	$(CC) $(DEBUG) $(LFLAGS) -o $(PROG) $(OBJS) $(DHCPCTLLIBS) $(LIBS)

install: all $(CATMANPAGES)
	for dir in $(USRMANDIR) $(USERBINDIR); do \
	  foo=""; \
	  for bar in `echo $(DESTDIR)$${dir} |tr / ' '`; do \
	    foo=$${foo}/$$bar; \
	    if [ ! -d $$foo ]; then \
	      mkdir $$foo; \
	      chmod 755 $$foo; \
	    fi; \
	  done; \
	done
	$(INSTALL) omshell $(DESTDIR)$(USERBINDIR)
	$(CHMOD) 755 $(DESTDIR)$(USERBINDIR)/omshell
	$(MANINSTALL) $(MANFROM) omshell.$(MANCAT)1 $(MANTO) \
				$(DESTDIR)$(USRMANDIR)/omshell$(USRMANEXT)

depend:
	$(MKDEP) $(INCLUDES) $(PREDEFINES) $(SRCS)

clean:
	-rm -f $(OBJS)

realclean: clean
	-rm -f $(PROG) *~ $(CATMANPAGES) $(SEDMANPAGES) #*

distclean: realclean
	-rm -f Makefile

links:
	@for foo in $(SRCS) $(MAN); do \
	  if [ ! -b $$foo ]; then \
	    rm -f $$foo; \
	  fi; \
	  ln -s $(TOP)/omshell/$$foo $$foo; \
	done

omshell.cat1:	omshell.man1
	nroff -man omshell.man1 >omshell.cat1

omshell.man1:	omshell.1
	sed -e "s#ETCDIR#$(ETC)#g" -e "s#DBDIR#$(VARDB)#g" \
		-e "s#RUNDIR#$(VARRUN)#g" < omshell.1 >omshell.man1

# Dependencies (semi-automatically-generated)
