--- requirements.txt.orig	2019-05-25 02:03:39 UTC
+++ requirements.txt
@@ -7,8 +7,8 @@ html5lib>=0.11
 PyRSS2Gen
 pynzb
 #PY3 progressbar
-rpyc~=4.0
-jinja2~=2.10
+rpyc
+jinja2
 # There is a bug in requests 2.4.0 where it leaks urllib3 exceptions
 requests>=2.20.0
 python-dateutil
@@ -24,11 +24,11 @@ colorclass>=2.2.0
 cherrypy>=3.7.0
 flask>=0.7
 flask-restful>=0.3.3
-flask-restplus==0.10.1
+flask-restplus>=0.10.1
 flask-compress>=1.2.1
 flask-login>=0.4.0
 flask-cors>=2.1.2
 pyparsing>=2.0.3
-zxcvbn-python
+zxcvbn
 future>=0.15.2
-progressbar==2.5
\ No newline at end of file
+progressbar>=2.5
