--- requirements.txt.orig	2016-08-14 10:12:26 UTC
+++ requirements.txt
@@ -16,7 +16,7 @@ python-dateutil>=2.5.2
 jsonschema>=2.0
 path.py>=8.1.1
 pathlib>=1.0
-guessit<=2.0.4
+guessit>=2.0.4
 apscheduler>=3.2.0
 # WebUI Requirements
 cherrypy>=3.7.0
