--- rebar.config.orig	2018-05-19 07:23:21 UTC
+++ rebar.config
@@ -1,11 +1,10 @@
 %%-*- mode: erlang -*-
-{erl_opts, [warnings_as_errors]}.
 {cover_enabled, true}.
 {edoc_opts, [{preprocess, true}]}.
 
 {xref_checks, [undefined_function_calls]}.
 
-{deps, [{mochiweb, {git, "https://github.com/mochi/mochiweb", {tag, "v2.17.0"}}}]}.
+{deps, []}.
 
 {eunit_opts, [
               no_tty,
