--- texk/texlive/tl_support/fmtutil.cnf.orig	2020-10-07 21:13:01 UTC
+++ texk/texlive/tl_support/fmtutil.cnf
@@ -41,118 +41,118 @@
 #    AddFormat directives in (ultimately) the *.tlpsrc files. Don't edit here.
 #
 # from aleph:
-aleph aleph - *aleph.ini
+#aleph aleph - *aleph.ini
 #
 # from amstex:
-amstex pdftex - -translate-file=cp227.tcx *amstex.ini
+#amstex pdftex - -translate-file=cp227.tcx *amstex.ini
 #
 # from context:
-cont-en pdftex cont-usr.tex -8bit *cont-en.mkii
-cont-en xetex cont-usr.tex -8bit *cont-en.mkii
+#cont-en pdftex cont-usr.tex -8bit *cont-en.mkii
+#cont-en xetex cont-usr.tex -8bit *cont-en.mkii
 #! cont-fr pdftex cont-usr.tex -8bit *cont-fr.mkii
 #! cont-it pdftex cont-usr.tex -8bit *cont-it.mkii
 #! cont-nl pdftex cont-usr.tex -8bit *cont-nl.mkii
 #! cont-ro pdftex cont-usr.tex -8bit *cont-ro.mkii
 #
 # from cslatex:
-cslatex pdftex - -etex cslatex.ini
-pdfcslatex pdftex - -etex cslatex.ini
+#cslatex pdftex - -etex cslatex.ini
+#pdfcslatex pdftex - -etex cslatex.ini
 #
 # from csplain:
-csplain pdftex - -etex -enc csplain-utf8.ini
-luacsplain luatex - -etex csplain.ini
-pdfcsplain luatex - -etex csplain.ini
-pdfcsplain pdftex - -etex -enc csplain-utf8.ini
-pdfcsplain xetex - -etex csplain.ini
+#csplain pdftex - -etex -enc csplain-utf8.ini
+#luacsplain luatex - -etex csplain.ini
+#pdfcsplain luatex - -etex csplain.ini
+#pdfcsplain pdftex - -etex -enc csplain-utf8.ini
+#pdfcsplain xetex - -etex csplain.ini
 #
 # from eplain:
-eplain pdftex language.dat -translate-file=cp227.tcx *eplain.ini
+#eplain pdftex language.dat -translate-file=cp227.tcx *eplain.ini
 #
 # from jadetex:
-jadetex pdftex language.dat *jadetex.ini
-pdfjadetex pdftex language.dat *pdfjadetex.ini
+#jadetex pdftex language.dat *jadetex.ini
+#pdfjadetex pdftex language.dat *pdfjadetex.ini
 #
 # from latex-bin:
-dvilualatex luatex language.dat,language.dat.lua dvilualatex.ini
-latex pdftex language.dat -translate-file=cp227.tcx *latex.ini
-lualatex luahbtex language.dat,language.dat.lua lualatex.ini
-pdflatex pdftex language.dat -translate-file=cp227.tcx *pdflatex.ini
+#dvilualatex luatex language.dat,language.dat.lua dvilualatex.ini
+#latex pdftex language.dat -translate-file=cp227.tcx *latex.ini
+#lualatex luahbtex language.dat,language.dat.lua lualatex.ini
+#pdflatex pdftex language.dat -translate-file=cp227.tcx *pdflatex.ini
 #
 # from latex-bin-dev:
-dvilualatex-dev luatex language.dat,language.dat.lua dvilualatex.ini
-latex-dev pdftex language.dat -translate-file=cp227.tcx *latex.ini
-lualatex-dev luahbtex language.dat,language.dat.lua lualatex.ini
-pdflatex-dev pdftex language.dat -translate-file=cp227.tcx *pdflatex.ini
+#dvilualatex-dev luatex language.dat,language.dat.lua dvilualatex.ini
+#latex-dev pdftex language.dat -translate-file=cp227.tcx *latex.ini
+#lualatex-dev luahbtex language.dat,language.dat.lua lualatex.ini
+#pdflatex-dev pdftex language.dat -translate-file=cp227.tcx *pdflatex.ini
 #
 # from lollipop:
-lollipop tex - lollipop.ini
+#lollipop tex - lollipop.ini
 #
 # from luahbtex:
-luahbtex luahbtex language.def,language.dat.lua luatex.ini
+#luahbtex luahbtex language.def,language.dat.lua luatex.ini
 #
 # from luajittex:
-luajithbtex luajithbtex language.def,language.dat.lua luatex.ini
-luajittex luajittex language.def,language.dat.lua luatex.ini
+#luajithbtex luajithbtex language.def,language.dat.lua luatex.ini
+#luajittex luajittex language.def,language.dat.lua luatex.ini
 #
 # from luatex:
-dviluatex luatex language.def,language.dat.lua dviluatex.ini
-luatex luatex language.def,language.dat.lua luatex.ini
+#dviluatex luatex language.def,language.dat.lua dviluatex.ini
+#luatex luatex language.def,language.dat.lua luatex.ini
 #
 # from metafont:
-mf mf-nowin - -translate-file=cp227.tcx mf.ini
+#mf mf-nowin - -translate-file=cp227.tcx mf.ini
 #
 # from mex:
-mex pdftex mexconf.tex -translate-file=cp227.tcx *mex.ini
-pdfmex pdftex mexconf.tex -translate-file=cp227.tcx *pdfmex.ini
-utf8mex pdftex mexconf.tex -enc *utf8mex.ini
+#mex pdftex mexconf.tex -translate-file=cp227.tcx *mex.ini
+#pdfmex pdftex mexconf.tex -translate-file=cp227.tcx *pdfmex.ini
+#utf8mex pdftex mexconf.tex -enc *utf8mex.ini
 #
 # from mflua:
 #! mflua mflua-nowin - mf.ini
 #
 # from mltex:
-mllatex pdftex language.dat -translate-file=cp227.tcx -mltex *mllatex.ini
-mltex pdftex - -translate-file=cp227.tcx -mltex mltex.ini
+#mllatex pdftex language.dat -translate-file=cp227.tcx -mltex *mllatex.ini
+#mltex pdftex - -translate-file=cp227.tcx -mltex mltex.ini
 #
 # from mptopdf:
-mptopdf pdftex - -translate-file=cp227.tcx mptopdf.tex
+#mptopdf pdftex - -translate-file=cp227.tcx mptopdf.tex
 #
 # from optex:
-optex luatex hyphen-lan.opm optex.ini
+#optex luatex hyphen-lan.opm optex.ini
 #
 # from pdftex:
-etex pdftex language.def -translate-file=cp227.tcx *etex.ini
-pdfetex pdftex language.def -translate-file=cp227.tcx *pdfetex.ini
-pdftex pdftex language.def -translate-file=cp227.tcx *pdfetex.ini
+#etex pdftex language.def -translate-file=cp227.tcx *etex.ini
+#pdfetex pdftex language.def -translate-file=cp227.tcx *pdfetex.ini
+#pdftex pdftex language.def -translate-file=cp227.tcx *pdfetex.ini
 #
 # from platex:
-platex eptex language.dat *platex.ini
-platex-dev eptex language.dat *platex.ini
+#platex eptex language.dat *platex.ini
+#platex-dev eptex language.dat *platex.ini
 #
 # from ptex:
-eptex eptex language.def *eptex.ini
-ptex ptex - ptex.ini
+#eptex eptex language.def *eptex.ini
+#ptex ptex - ptex.ini
 #
 # from tex:
-tex tex - tex.ini
+#tex tex - tex.ini
 #
 # from texsis:
-texsis pdftex - -translate-file=cp227.tcx texsis.ini
+#texsis pdftex - -translate-file=cp227.tcx texsis.ini
 #
 # from uplatex:
-uplatex euptex language.dat *uplatex.ini
-uplatex-dev euptex language.dat *uplatex.ini
+#uplatex euptex language.dat *uplatex.ini
+#uplatex-dev euptex language.dat *uplatex.ini
 #
 # from uptex:
-euptex euptex language.def *euptex.ini
-uptex uptex - uptex.ini
+#euptex euptex language.def *euptex.ini
+#uptex uptex - uptex.ini
 #
 # from xelatex-dev:
-xelatex-dev xetex language.dat -etex xelatex.ini
+#xelatex-dev xetex language.dat -etex xelatex.ini
 #
 # from xetex:
-xelatex xetex language.dat -etex xelatex.ini
-xetex xetex language.def -etex xetex.ini
+#xelatex xetex language.dat -etex xelatex.ini
+#xetex xetex language.def -etex xetex.ini
 #
 # from xmltex:
-pdfxmltex pdftex language.dat *pdfxmltex.ini
-xmltex pdftex language.dat *xmltex.ini
+#pdfxmltex pdftex language.dat *pdfxmltex.ini
+#xmltex pdftex language.dat *xmltex.ini
