--- pyroom.desktop	2009-04-06 10:32:56.000000000 +0200
+++ pyroom.desktop	2009-04-06 10:32:56.000000000 +0200
@@ -1,9 +1,9 @@
 [Desktop Entry]
 Version=1.0
 Name=PyRoom
-Icon=/usr/share/pyroom/pyroom.png
+Icon=%%PREFIX%%/share/pyroom/pyroom.png
 Comment=Distraction free full-screen text editor
-Exec=/usr/bin/pyroom %F
+Exec=%%PREFIX%%/bin/pyroom %F
 Terminal=false
 Type=Application
 Categories=GNOME;GTK;Office;
