--- jit/jabber-icq.example.orig	Mon Jan 19 23:30:03 2004
+++ jit/jabber-icq.example	Thu Feb 17 20:38:49 2005
@@ -2,20 +2,20 @@
 
   <!-- you can add elogger and rlogger entries here if
        you don't want the main Jabber server do the
-       logging
+       logging -->
   <log id='elogger'>
     <host/>
     <logtype/>
     <format>%d: [%t] (%h): %s</format>
-    <file>icqerror</file>
+    <file>/var/log/jabber/icqerror</file>
   </log>
 
   <log id='rlogger'>
     <host/>    
     <logtype>record</logtype>
     <format>%d %h %s</format>
-    <file>icqrecord</file>
-  </log> -->
+    <file>/var/log/jabber/icqrecord</file>
+  </log> 
 
   <!-- Some Jabber server implementations do not
      provide XDB services (for example jabberd 2.0).
@@ -23,16 +23,16 @@
      XDB requests. This is strongly recommended if
      you use xdb_ldap, xdb_sql or other non-file XDB
      implementations, too.
-     See xdb_file directory for more information.
+     See xdb_file directory for more information. -->
   <xdb id="xdb">
     <host/>
     <load>
-      <xdb_file>xdb_file/xdb_file.so</xdb_file>
+      <xdb_file>%%PREFIX%%/lib/jabber/jit/xdb_file.so</xdb_file>
     </load>
     <xdb_file xmlns="jabber:config:xdb_file">
-      <spool><jabberd:cmdline flag='s'>./spool</jabberd:cmdline></spool>
+      <spool><jabberd:cmdline flag='s'>/var/spool/jit</jabberd:cmdline></spool>
     </xdb_file>
-  </xdb> -->
+  </xdb>
 
   <!--
      localhost is your jabber host.
@@ -103,7 +103,7 @@
       <session_timeout>18000</session_timeout>
 
       <!-- Charset -->
-      <charset>windows-1252</charset>
+      <charset>windows-1251</charset>
 
       <!-- You may want to replace login.icq.com by the corresponding
            IPs to speed up JIT but keep in mind the IPs may change -->
@@ -115,7 +115,7 @@
 
     <!-- JIT module -->
     <load>
-      <icqtrans>jit/jit.so</icqtrans>
+      <icqtrans>%%PREFIX%%/lib/jabber/jit/jit.so</icqtrans>
     </load>
 
   </service>
