--- syncthing-gtk.desktop.orig	2015-10-06 17:39:30 UTC
+++ syncthing-gtk.desktop
@@ -2,7 +2,7 @@
 Name=Syncthing GTK
 GenericName=Syncthing GTK
 Comment=GUI for Syncthing
-Exec=/usr/bin/syncthing-gtk
+Exec=%%LOCALBASE%%/bin/syncthing-gtk
 Type=Application
 Icon=syncthing-gtk
 Categories=Network
