--- src/K9copy.desktop.orig    Tue Dec 20 16:03:59 2005
+++ src/K9copy.desktop Tue Dec 20 16:04:12 2005
@@ -3,6 +3,6 @@
 Name=k9copy
 Exec=k9copy -caption "%c" %i %m %u
 Comment=
-Icon=/home/jmp/dev/k9copy/src/k9copy.png
+Icon=k9copy
 MimeTypes=
 Terminal=false
