# From https://raw.githubusercontent.com/badjware/certbot-dns-cpanel/master/credentials.ini.exemple

# The url cPanel url
# include the scheme and the port number (usually 2083 for https)
certbot_dns_cpanel:cpanel_url = https://cpanel.exemple.com:2083

# The cPanel username
certbot_dns_cpanel:cpanel_username = user

# The cPanel password
certbot_dns_cpanel:cpanel_password = hunter2

# vi:syntax=ini
