--- templates/install.tmpl.orig	2017-11-17 23:20:54 UTC
+++ templates/install.tmpl
@@ -8,12 +8,9 @@
 			<div class="ui attached segment">
 				{{template "base/alert" .}}
 
-				<p>{{.i18n.Tr "install.docker_helper" "https://github.com/gogits/gogs/tree/master/docker" | Safe}}</p>
-
 				<form class="ui form" action="{{AppSubURL}}/install" method="post">
 					<!-- Dtabase Settings -->
 					<h4 class="ui dividing header">{{.i18n.Tr "install.db_title"}}</h4>
-					<p>{{.i18n.Tr "install.requite_db_desc"}}</p>
 					<div class="inline required field {{if .Err_DbType}}error{{end}}">
 						<label>{{.i18n.Tr "install.db_type"}}</label>
 						<div class="ui selection database type dropdown">
@@ -65,7 +62,7 @@
 					</div>
 
 					<div id="sqlite_settings" class="{{if not (or (eq .CurDbOption "SQLite3") (eq .CurDbOption "TiDB"))}}hide{{end}}">
-						<div class="inline required field {{if or .Err_DbPath .Err_DbSetting}}error{{end}}">
+						<div class="disabled inline required field {{if or .Err_DbPath .Err_DbSetting}}error{{end}}">
 							<label for="db_path">{{.i18n.Tr "install.path"}}</label>
 							<input id="db_path" name="db_path" value="{{.db_path}}">
 							<span class="help">{{.i18n.Tr "install.sqlite_helper" | Safe}}</span>
@@ -79,12 +76,12 @@
 						<input id="app_name" name="app_name" value="{{.app_name}}" required>
 						<span class="help">{{.i18n.Tr "install.app_name_helper"}}</span>
 					</div>
-					<div class="inline required field {{if .Err_RepoRootPath}}error{{end}}">
+					<div class="disabled inline required field {{if .Err_RepoRootPath}}error{{end}}">
 						<label for="repo_root_path">{{.i18n.Tr "install.repo_path"}}</label>
 						<input id="repo_root_path" name="repo_root_path" value="{{.repo_root_path}}" required>
 						<span class="help">{{.i18n.Tr "install.repo_path_helper"}}</span>
 					</div>
-					<div class="inline required field {{if .Err_RunUser}}error{{end}}">
+					<div class="disabled inline required field {{if .Err_RunUser}}error{{end}}">
 						<label for="run_user">{{.i18n.Tr "install.run_user"}}</label>
 						<input id="run_user" name="run_user" value="{{.run_user}}" required>
 						<span class="help">{{.i18n.Tr "install.run_user_helper"}}</span>
