--- resources/packaging/linux/sniffnet.desktop.orig	2026-07-22 07:46:56 UTC
+++ resources/packaging/linux/sniffnet.desktop
@@ -5,7 +5,7 @@ Icon=sniffnet
 Comment=Application to comfortably monitor your network traffic
 Categories=Network;Utility;
 Icon=sniffnet
-Exec=/usr/bin/sniffnet
+Exec=sniffnet
 StartupWMClass=sniffnet
 Terminal=false
 Keywords=traffic;inspect;monitor;internet;network;
