
$FreeBSD$

--- scripts/bucardo_ctl.rc.orig
+++ scripts/bucardo_ctl.rc
@@ -11,10 +11,11 @@
 . /etc/rc.subr
 
 name="bucardo_ctl"
-rcvar=`set_rcvar`
+rcvar="bucardo_ctl_enable"
 command="/usr/local/bin/${name}"
 
 load_rc_config $name
+bucardo_ctl_enable=${bucardo_ctl_enable:-"NO"}
 bucardo_ctl_flags=${bucardo_ctl_flags:-"--dbuser bucardo --dbname bucardo"}
 
 rc_usage="start|stop|reload|restart|status|kick [sync_name]"
