#!/bin/sh
#
#	$FreeBSD$
#

USER=%%NAGIOSUSER%%
GROUP=%%NAGIOSGROUP%%
DIR=%%NAGIOSDIR%%

ask() {
    local question default answer

    question=$1
    default=$2
    if [ -z "${PACKAGE_BUILDING}" ]; then
        read -p "${question} [${default}]? " answer
    fi
    if [ x${answer} = x ]; then
        answer=${default}
    fi
    echo ${answer}
}

yesno() {
    local dflt question answer

    question=$1
    dflt=$2
    while :; do
        answer=$(ask "${question}" "${dflt}")
        case "${answer}" in
        [Yy]*)          return 0;;
        [Nn]*)          return 1;;
        esac
        echo "Please answer yes or no."
    done
}

if [ x"$2" = xPRE-INSTALL ]; then
    if /usr/sbin/pw groupshow "${GROUP}" 2>/dev/null; then
        echo "You already have a group \"${GROUP}\", so I will use it."
    else
        echo "You need a group \"${GROUP}\"."
        if yesno "Would you like me to create it" y; then
            /usr/sbin/pw groupadd ${GROUP} -h - || exit
            echo "Done."
        else
            echo "Please create it, and try again."
            exit 1
        fi
    fi

    if /usr/sbin/pw user show "${USER}" 2>/dev/null; then
        echo "You already have a user \"${USER}\", so I will use it."
    else
        echo "You need a user \"${USER}\"."
        if yesno "Would you like me to create it" y; then
            /usr/sbin/pw useradd ${USER} -g ${GROUP} -h - -d ${DIR} \
                -s /nonexistent -c "Nagios pseudo-user" || exit
            echo "Done."
        else
            echo "Please create it, and try again."
            exit 1
        fi
    fi

fi
