#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: snmpd
# REQUIRE: DAEMON
# KEYWORD: FreeBSD
#
# Add the following line to /etc/rc.conf to enable xinetd:
#
# xinetd_enable="YES"
#

. %%RC_SUBR%%

name=xinetd
rcvar=`set_rcvar`

command=%%PREFIX%%/sbin/xinetd > /dev/null 2>&1

xinetd_enable=${xinetd_enable:-"NO"}
xinetd_flags=${xinetd_flags:-"-f %%PREFIX%%/etc/xinetd.conf"}

load_rc_config $name
run_rc_command "$1"
