--- data/applications/mime-dummy-handler.desktop.orig	2013-08-26 10:09:17.171162980 +0000
+++ data/applications/mime-dummy-handler.desktop	2013-08-26 10:09:28.342160146 +0000
@@ -1,6 +1,6 @@
 [Desktop Entry]
 Type=Application
 Name=Dummy URI Handler
-Exec=/bin/true %U
+Exec=/usr/bin/true %U
 Terminal=false
 StartupNotify=false
