--- src/kmplayer.desktop.orig	Mon Jul 19 23:08:46 2004
+++ src/kmplayer.desktop	Mon Jul 19 23:10:31 2004
@@ -38,7 +38,8 @@
 Name[sv]=Kmplayer
 Name[ta]=கேஎம்இயக்கி
 Name[xx]=xxKMPlayerxx
-MimeType=audio/x-mp3;audio/mpegurl;audio/x-pn-realaudio;audio/x-scpls;audio/x-vorbis;application/x-kmplayer;application/x-mplayer2;application/x-ogg;audio/x-mp2;video/mpeg;audio/x-mpegurl;audio/x-wav;audio/x-mod;video/x-avi;video/x-ms-asf;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/quicktime;video/x-flic;
+MimeType=audio/x-mp3;audio/x-pn-realaudio;audio/x-scpls;audio/x-vorbis;application/x-kmplayer;application/x-mplayer2;application/x-ogg;video/mpeg;audio/x-mpegurl;audio/x-wav;audio/x-mod;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/quicktime;video/x-flic;application/vnd.ms-asf;application/vnd.rn-realmedia;audio/ac3;audio/vorbis;audio/x-matroska;video/x-matroska;video/x
+-ogm;
 InitialPreference=7
 Categories=Qt;KDE;AudioVideo
 GenericName=Media Player
