--- src/Config.tmpl_freebsd.orig	Thu Jan  9 23:37:38 2003
+++ src/Config.tmpl_freebsd	Tue Jan 28 03:06:02 2003
@@ -5,14 +5,16 @@
 STRIP           = /usr/bin/strip --strip-debug
 # STRIP           = true
 
-CFLAGS          = -Wall -pedantic
+CC              = $(CXX)
+
+CFLAGS          = $(CXXFLAGS)
 CFLAGS      	+= -fomit-frame-pointer
 # CFLAGS      	+= -g
 
 LEX		= flex
 YACC		= bison
 
-XWIN_HOME	= /usr/X11R6
+XWIN_HOME	= $(X11BASE)
 
 SYSFLAGS        = -DBSD
 # SYSFLAGS += -DDEBUG
@@ -21,8 +23,8 @@
 # add your own.
 
 # Lesstif 1.2 (dynamic linked)
-MOTIF_HOME = /usr/X11R6/LessTif/Motif1.2
-LDLIBS = -lXm
+# MOTIF_HOME = /usr/X11R6/LessTif/Motif1.2
+# LDLIBS = -lXm
 
 # Lesstif 1.2 (static linked)
 # MOTIF_HOME = /usr/X11R6/LessTif/Motif1.2
@@ -53,8 +55,8 @@
 # LDLIBS = $(MOTIF_LIB)/libXm.a $(XWIN_LIB)/libXp.a
 
 # OpenMotif 2.1 (dynamic linked)
-# MOTIF_HOME = $(XWIN_HOME)
-# LDLIBS = -lXm -lXp
+MOTIF_HOME = $(XWIN_HOME)
+LDLIBS = -lXm -lXp
 
 # OpenMotif 2.1 (static linked)
 # MOTIF_HOME  = $(XWIN_HOME)
@@ -65,7 +67,6 @@
 
 # 'make depend' and its flags
 MKDEPEND=$(TCM_HOME)/bin/makedepend.sh
-MKDEPENDFLAGS := $(CPPFLAGS) -D__i386__ -I/usr/include/g++-3 \
-                -I/usr/include/g++-2 \
+MKDEPENDFLAGS := $(CPPFLAGS) -D__i386__ -I/usr/include/g++/backward \
                 -I/usr/include/g++
 
