$OpenBSD: patch-allegro_cfg,v 1.1 2010/04/26 02:56:30 jakemsr Exp $
--- allegro.cfg.orig	2006-05-21 10:01:46 UTC
+++ allegro.cfg
@@ -326,6 +326,7 @@ mouse_accel_factor = 
 #  ARTS     - aRts (Analog Real-Time Synthesizer)
 #  ALSA     - ALSA Sound System
 #  JACK     - JACK Audio Server
+#  SIOD     - sndio Audio API
 #
 # BeOS digital sound drivers:
 #
