--- install/share/pki-acme-configsources.conf.template.orig	2026-07-16 09:36:59 UTC
+++ install/share/pki-acme-configsources.conf.template
@@ -1,3 +1,3 @@ engine.class=org.dogtagpki.acme.server.ACMEEngineConfi
 # VERSION 2 - DO NOT REMOVE THIS LINE
 engine.class=org.dogtagpki.acme.server.ACMEEngineConfigFileSource
-engine.filename=/etc/pki/pki-tomcat/acme/engine.conf
+engine.filename=/var/db/pki/pki-tomcat/conf/acme/engine.conf
