--- darkice.cfg.orig	2015-05-18 17:38:07 UTC
+++ darkice.cfg
@@ -26,7 +26,9 @@ bitrate         = 96        # bitrate of the stream se
 server          = yp.yourserver.com
                             # host name of the server
 port            = 8000      # port of the IceCast2 server, usually 8000
-password        = hackme    # source password to the IceCast2 server
+# source password to the IceCast2 server
+password        = hackme
+# there must not be a comment following the password
 mountPoint      = sample96  # mount point of this stream on the IceCast2 server
 name            = DarkIce trial
                             # name of the stream
@@ -48,7 +50,9 @@ quality         = 0.8       # encoding quality
 server          = yp.yourserver.com
                             # host name of the server
 port            = 8000      # port of the IceCast server, usually 8000
-password        = hackme    # source password to the IceCast server
+# source password to the IceCast2 server
+password        = hackme
+# there must not be a comment following the password
 mountPoint      = sample96  # mount point of this stream on the IceCast server
 name            = DarkIce trial
                             # name of the stream
@@ -68,7 +72,9 @@ quality         = 0.5       # encoding quality
 server          = yp.yourserver.com
                             # host name of the server
 port            = 8001      # source port of the ShoutCast server, usually 8001
-password        = hackme    # source password to the ShoutCast server
+# source password to the IceCast2 server
+password        = hackme
+# there must not be a comment following the password
 name            = DarkIce trial
                             # name of the stream
 url             = http://www.yourserver.com
