--- chrome/browser/resources/signin/signin_shared.css.orig	2022-09-24 10:57:32 UTC
+++ chrome/browser/resources/signin/signin_shared.css
@@ -37,7 +37,7 @@ cr-button + cr-button {
   margin-inline-start: 8px;
 }
 
-<if expr="is_macosx or is_linux or is_chromeos">
+<if expr="is_macosx or is_posix or is_chromeos">
 .action-container {
   flex-flow: row-reverse;
   justify-content: flex-start;
