--- chrome/browser/resources/settings/autofill_page/passwords_shared.css.orig	2022-08-31 12:19:35 UTC
+++ chrome/browser/resources/settings/autofill_page/passwords_shared.css
@@ -72,7 +72,7 @@ cr-input.password-input::part(input),
    * necessary to prevent Chrome from using the operating system's font
    * instead of the Material Design font.
    * TODO(dbeam): why not font: inherit? */
-<if expr="is_linux or chromeos_ash or chromeos_lacros">
+<if expr="is_posix or chromeos_ash or chromeos_lacros">
   font-family: 'DejaVu Sans Mono', monospace;
 </if>
 <if expr="is_win">
