#!/bin/sh

# $FreeBSD$

# pgsql.sh - postgresql startup file for FreeBSD and possibly *BSD (untested)

# Changes:
# - renamed startup script to be in sync with INSTALL file
# - merged ldconfig start sequence from former postgrsql.sh script (andreas)
# - modified the postmaster startup sequence as suggested in the 
#   INSTALL file which was given as example for FreeBSD 2.2 (andreas)
# - removed the commandline option
#		-D!!PG_PATH!!/data \
#   because the postmaster process, which starts up under the
#   environment of the pgsql user, sets this with the PGDATA
#   environment variable in !!PG_PATH!!/.profile
#

case "$1" in
start)
	[ -d !!PG_PATH!!/lib ] && /sbin/ldconfig -m !!PG_PATH!!/lib

	[ -x !!PG_PATH!!/bin/postmaster ] && {
		su -l !!PGSQL_UID!! -c 'exec !!PG_PATH!!/bin/postmaster -i -S -o -F \
			-D!!PG_PATH!!/data > !!PG_PATH!!/errlog'
		echo -n ' PostgreSQL' 
	}
	;;
stop)
	# XXX some pgsql user should check this --tg
	killall !!PG_PATH!!/bin/postmaster
	;;
*)
	echo "Usage: `basename $0` {start|stop}" >&2
	exit 64
	;;
esac

exit 0
