--- requirements.txt.orig	2024-07-03 09:16:08 UTC
+++ requirements.txt
@@ -3,5 +3,5 @@ netaddr>=0.10.0 # BSD
 # you find any incorrect lower bounds, let us know or propose a fix.
 fixtures>=3.0.0 # Apache-2.0/BSD
 netaddr>=0.10.0 # BSD
-ovs>=2.10.0 # Apache-2.0
+ovs>=2.9.0 # Apache-2.0
 pbr!=2.1.0,>=2.0.0 # Apache-2.0
