--- ./milkytracker.desktop.orig	2013-03-22 16:45:01.000000000 +0100
+++ ./milkytracker.desktop	2013-03-22 16:44:53.000000000 +0100
@@ -0,0 +1,10 @@
+
+[Desktop Entry]
+Name=MilkyTracker
+Comment=Module tracker
+Exec=milkytracker %U
+Terminal=false
+Type=Application
+Icon=milkytracker
+StartupNotify=false
+Categories=AudioVideo;Audio;Sequencer;
