--- texmf.cnf.orig	2021-03-23 18:18:30 UTC
+++ texmf.cnf
@@ -59,7 +59,7 @@
 % SELFAUTOPARENT (its grandparent = /usr/local/texlive/YYYY), and
 % SELFAUTOGRANDPARENT (its great-grandparent = /usr/local/texlive).
 % Sorry for the off-by-one-generation names.
-TEXMFROOT = $SELFAUTOPARENT
+TEXMFROOT = $SELFAUTODIR/share
 
 % The main tree of distributed packages and programs:
 TEXMFDIST = $TEXMFROOT/texmf-dist
@@ -69,7 +69,7 @@ TEXMFDIST = $TEXMFROOT/texmf-dist
 TEXMFMAIN = $TEXMFDIST
 
 % Local additions to the distribution trees.
-TEXMFLOCAL = $SELFAUTOGRANDPARENT/texmf-local
+TEXMFLOCAL = $TEXMFROOT/texmf-local
 
 % TEXMFSYSVAR, where *-sys store cached runtime data.
 TEXMFSYSVAR = $TEXMFROOT/texmf-var
@@ -566,6 +566,7 @@ $SELFAUTOLOC/texmf-local/web2c,\
 $SELFAUTOLOC/texmf-dist/web2c,\
 $SELFAUTOLOC/texmf/web2c,\
 \
+/var/db/tlpkg,\
 $SELFAUTODIR,\
 $SELFAUTODIR/share/texmf-local/web2c,\
 $SELFAUTODIR/share/texmf-dist/web2c,\
@@ -804,7 +805,7 @@ hash_extra = 600000
 pool_size = 6250000
 % Minimum pool space after TeX's own strings; must be at least
 % 25000 less than pool_size, but doesn't need to be nearly that large.
-string_vacancies = 90000
+string_vacancies = 150000
 % Maximum number of strings.
 max_strings = 500000
 % Min pool space left after loading .fmt.
@@ -816,7 +817,7 @@ strings_free = 100
 % expansion works by writing material into the buffer and reparsing the
 % line.  As a consequence, certain constructs require the buffer to be
 % very large, even though most documents can be handled with a small value.
-buf_size = 200000
+buf_size = 300000
 
 % Hyphenation trie.  The maximum possible is 4194303 (ssup_trie_size in
 % the sources), but we don't need that much.  The value here suffices
@@ -828,7 +829,7 @@ trie_size = 1100000
 hyph_size = 8191        % prime number of hyphenation exceptions, >610, <65535
                         % http://primes.utm.edu/curios/page.php/8191.html
                         % dynamically increased as necessary, so not important.
-nest_size = 500         % simultaneous semantic levels (e.g., groups)
+nest_size = 2500        % simultaneous semantic levels (e.g., groups)
 max_in_open = 15        % simultaneous input files and error insertions, 
                         % also applies to MetaPost
 param_size = 10000      % simultaneous macro parameters, also applies to MP
