*** Modules/Setup.dist.orig	Mon Nov 11 15:38:27 2002
--- Modules/Setup.dist	Mon Nov 11 15:38:41 2002
***************
*** 162,168 ****
  #fcntl fcntlmodule.c	# fcntl(2) and ioctl(2)
  #pwd pwdmodule.c		# pwd(3) 
  #grp grpmodule.c		# grp(3)
! #errno errnomodule.c	# posix (UNIX) errno values
  #select selectmodule.c	# select(2); not on ancient System V
  
  # Memory-mapped files (also works on Win32).
--- 162,168 ----
  #fcntl fcntlmodule.c	# fcntl(2) and ioctl(2)
  #pwd pwdmodule.c		# pwd(3) 
  #grp grpmodule.c		# grp(3)
! errno errnomodule.c	# posix (UNIX) errno values
  #select selectmodule.c	# select(2); not on ancient System V
  
  # Memory-mapped files (also works on Win32).
