--- rebar.config.orig	2017-06-23 09:04:51 UTC
+++ rebar.config
@@ -1,4 +1,4 @@
-{require_otp_vsn, "R13B04|R14|R15|R16|17|18|19"}.
+{require_otp_vsn, "R13B04|R14|R15|R16|17|18|19|20"}.
 {erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
 {eunit_opts, [verbose]}.
 {pre_hooks, [
