#!/bin/sh

# $FreeBSD$

# pgsql.sh - postgresql startup file for FreeBSD and possibly *BSD (untested)

# Changes:
# - renamed startup script to be in sync with INSTALL file
# - merged ldconfig start sequence from former postgrsql.sh script (andreas)
# - modified the postmaster startup sequence as suggested in the 
#   INSTALL file which was given as example for FreeBSD 2.2 (andreas)
# - removed the commandline option
#		-D!!PREFIX!!/pgsql/data \
#   because the postmaster process, which starts up under the
#   environment of the pgsql user, sets this with the PGDATA
#   environment variable in !!PREFIX!!/pgsql/.profile
#

[ -d !!PREFIX!!/pgsql/lib ] && /sbin/ldconfig -m !!PREFIX!!/pgsql/lib

[ -x !!PREFIX!!/pgsql/bin/postmaster ] && {
	su -l pgsql -c 'exec !!PREFIX!!/pgsql/bin/postmaster -i -S -o -F \
		2>&1 > !!PREFIX!!/pgsql/errlog'
	echo -n ' pgsql' 
}
