--- rebar.config.orig	2015-06-28 16:44:38 UTC
+++ rebar.config
@@ -42,8 +42,6 @@
                    ]},
             {dev, [{deps,
                     [
-                     {reloader, ".*", {git, "git://github.com/mykook/reloader.git", {branch, "master"}}},
-                     {edown,    ".*", {git, "git://github.com/uwiger/edown.git",    {branch, "master"}}}
                     ]}
                   ]}
            ]}.
