--- rebar.config.orig	2022-01-25 23:33:52 UTC
+++ rebar.config
@@ -1,18 +1,5 @@
-{plugins, [
-    coveralls,
-    pc
-]}.
-
-{project_plugins, [
-    erlfmt
-]}.
-
-{provider_hooks, [
-    {pre, [
-        {compile, {pc, compile}},
-        {clean, {pc, clean}}
-    ]}
-]}.
+{pre_hooks, [{"", compile, "enc compile"}]}.
+{post_hooks, [{"", clean,  "enc clean"}]}.
 
 {port_specs, [
     {"priv/erlfdb_nif.so", ["c_src/*.c"]}
