--- rebar.config.orig	2020-01-20 22:26:46 UTC
+++ rebar.config
@@ -6,12 +6,12 @@
 
 {port_env, [
     {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
-        "CFLAGS", "$CFLAGS -Ic_src/ -g -Wall -Werror"},
+        "CFLAGS", "$CFLAGS -Ic_src/ -I /usr/local/include -g -Wall -Werror"},
     {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
-        "CXXFLAGS", "$CXXFLAGS -Ic_src/ -g -Wall -Werror"},
+        "CXXFLAGS", "$CXXFLAGS -Ic_src/ -I /usr/local/include -g -Wall -Werror"},
 
     {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
-        "LDFLAGS", "$LDFLAGS -lfdb_c"}
+        "LDFLAGS", "$LDFLAGS -lfdb_c -L /usr/local/lib"}
 ]}.
 
 {eunit_opts, [
