--- libs/wave/test/testwave/testfiles/test.cfg.orig	2026-04-15 14:39:01 UTC
+++ libs/wave/test/testwave/testfiles/test.cfg
@@ -112,7 +112,8 @@ t_5_006.cpp
 #t_5_004.cpp
 t_5_005.cpp
 t_5_006.cpp
-t_5_007.cpp
+# skip test due to error: could not find include file: boost/version.hpp
+# t_5_007.cpp
 t_5_008.cpp
 t_5_009.cpp
 t_5_010.cpp
