--- requirements_dev.txt.orig	2024-06-11 17:54:39 UTC
+++ requirements_dev.txt
@@ -6,14 +6,10 @@ numpy>=1.25 ; python_version >= '3.9'
 # ------------------------------------------------
 # ** MUST sync with misc/requirements_wheel.txt **
 # ------------------------------------------------
-build
-cmake >= 3.23
 cython
 pybind11
-setuptools >= 64
+setuptools >= 61
 setuptools_scm >= 8
 wheel >= 0.30
 contextvars ;python_version<"3.7"
 dataclasses ;python_version<"3.7"
-pytest
--r misc/requirements_test.txt
