--- requirements_dev.txt.orig	2024-03-22 14:33:47 UTC
+++ requirements_dev.txt
@@ -3,14 +3,10 @@ numpy >= 1.16.5
 # ------------------------------------------------
 # ** MUST sync with misc/requirements_wheel.txt **
 # ------------------------------------------------
-build
-cmake >= 3.23
 cython
 pybind11
-setuptools >= 64
+setuptools >= 61
 setuptools_scm >= 8
 wheel >= 0.30
 contextvars ;python_version<"3.7"
 dataclasses ;python_version<"3.7"
-pytest
--r misc/requirements_test.txt
