--- ./rebar.config.orig	2013-10-18 02:39:37.000000000 +0900
+++ ./rebar.config	2013-10-29 18:10:05.000000000 +0900
@@ -6,31 +6,7 @@
 %% this rebar.config file.
 %%
 %% {erl_opts, [debug_info]}.
-
-{deps, [{chef_objects, ".*",
-         {git, "git://github.com/opscode/chef_objects.git", {branch, "master"}}},
-
-        {couchbeam, ".*",
-         {git, "git://github.com/opscode/couchbeam.git", {branch, "old_api"}}},
-
-        {meck, ".*",
-         {git, "git://github.com/eproxus/meck.git", "HEAD"}},
-
-        {sqerl, ".*",
-            {git, "git://github.com/opscode/sqerl.git", {branch, "master"}}},
-
-        {stats_hero, ".*",
-            {git, "git://github.com/opscode/stats_hero.git", {branch, "master"}}},
-
-        {ej, ".*",
-         {git, "git://github.com/seth/ej.git", {branch, "master"}}},
-
-        {depsolver, ".*",
-         {git, "git://github.com/opscode/depsolver.git", {branch, "master"}}},
-        
-        {envy, ".*",
-         {git, "git://github.com/manderson26/envy.git", {branch, "master"}}}
-       ]}.
+{erl_opts, [{i, "../include"}]}.
 
 {cover_enabled, true}.
 
