[DEFAULT]
compute_driver=libvirt.LibvirtDriver
force_raw_images = True
use_cow_images = False

[libvirt]
virt_type=qemu

# Force using PHY driver for Xen hypervisor
force_xen_phy=True

# Disable CPU tracking when using QEMU driver.
# Change this option to True when using Xen driver.
online_cpu_tracking=False

