[DEFAULT]
dhcpbridge_flagfile=/usr/local/etc/nova/nova.conf
dhcpbridge=/usr/local/bin/nova-dhcpbridge
log-dir=/var/log/nova
state_path=/var/lib/nova
force_dhcp_release=False
verbose=True
ec2_private_dns_show_ip=True
enabled_apis=osapi_compute,metadata
rpc_backend = rabbit
auth_strategy = keystone
my_ip = 192.168.1.10
use_neutron = False
firewall_driver = nova.virt.firewall.NoopFirewallDriver
use_ipv6 = False

osapi_compute_listen="0.0.0.0"
osapi_compute_listen_port=8774

network_driver=nova.network.freebsd_net
libvirt_vif_driver=nova.virt.libvirt.vif.LibvirtGenericVIFDriver
freebsdnet_interface_driver=nova.network.freebsd_net.FreeBSDBridgeInterfaceDriver
l3_lib=nova.network.l3.FreeBSDNetL3
network_api_class=nova.network.api.API
security_group_api=nova
network_manager=nova.network.manager.FlatDHCPManager
network_size=254
allow_same_net_traffic=False
multi_host=True
send_arp_for_ha=False
share_dhcp_address=True
# specify nic for public
public_interface=em0
# specify any name you like for bridge
flat_network_bridge=br100
flat_interface=tap0

[vnc]
enabled = False

[glance]
api_servers = http://controller:9292

[keystone_authtoken]
auth_uri = http://controller:5000
auth_url = http://controller:35357
memcached_servers = controller:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = nova
password = nova

[oslo_messaging_rabbit]
rabbit_host = controller
rabbit_userid = openstack
rabbit_password = RABBIT_PASS

[api_database]
connection = mysql+pymysql://nova:NOVA_DBPASS@controller/nova_api

[database]
connection = mysql+pymysql://nova:NOVA_DBPASS@controller/nova

[oslo_concurrency]
lock_path=/var/lock/nova

[libvirt]
use_virtio_for_bridges=True

# add this options when using QEMU
cpu_mode=none

[wsgi]
api_paste_config=/usr/local/etc/nova/api-paste.ini

[serial_console]
# Enable serial console when using QEMU driver
enabled=True
