#!/bin/sh
#

case "$1" in

start)
	if [ -x PREFIX/xitami/xitami ]
	then
		cd PREFIX/xitami
		./xitami -s && echo -n " xitami"
	fi
	;;

stop)
	if [ -r /var/run/xitami.pid ]
	then
		kill `cat /var/run/xitami.pid` && echo -n " xitami"
	fi
	;;

*)
	echo "usage: $0 {start|stop}" 1>&2
	exit 64
	;;

esac

