--- rel/leo_gateway/reltool.config.orig	2015-05-09 18:40:37.000000000 +0300
+++ rel/leo_gateway/reltool.config	2015-05-09 18:41:02.000000000 +0300
@@ -64,7 +64,7 @@
        {app, stdlib,                [{incl_cond, include}]},
        {app, syntax_tools,          [{incl_cond, include}]},
        {app, tools,                 [{incl_cond, include}]},
-       {app, wx,                    [{incl_cond, include}]},
+       %% {app, wx,                    [{incl_cond, include}]},
        {app, xmerl,                 [{incl_cond, include}]},
        %% LeoFS-related
        {app, leo_gateway,           [{incl_cond, include}]},
