--- deps/bcrypt/rebar.config.orig	2017-05-16 10:06:50.323294000 +0300
+++ deps/bcrypt/rebar.config	2017-05-16 10:14:15.468298000 +0300
@@ -16,8 +16,8 @@
 %% These post_hooks are for rebar2. rebar.config.script removes them if
 %% rebar3 is detected
 {post_hooks,
- [{clean, "make -C c_src clean"},
-  {compile, "make -C c_src"}]}.
+ [{clean, "gmake -C c_src clean"},
+  {compile, "gmake -C c_src"}]}.
 
 %% plugins and provider_hooks are for rebar3. rebar.config.script removes them
 %% if rebar2 is detected
