--- config.example.orig	2012-05-06 20:26:34.000000000 +0000
+++ docs/config.example	2012-05-25 20:13:28.000000000 +0000
@@ -1,4 +1,14 @@
-
 # For more information on configuration, see "man gdnsd.config"
-options => { zones_default_ttl = 43200 }
+
+options => {
+        username = gdnsd
+        zones_default_ttl = 3600
+        http_port = 13506
+        tcp_clients_per_socket = 256
+        tcp_timeout = 8
+        max_http_clients = 32
+        priority = 0
+        listen = 127.0.0.1
+        http_listen = 127.0.0.1
+}
 zones => { example.com => { default_ttl = 86400 } }
