[Desktop Entry]
Categories=Network;WebBrowser;
Comment=Vieb Inspired Electron Browser
Exec=vieb %U
Icon=vieb
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;
Name=Vieb
Terminal=false
Type=Application
