--- Makefile.config.orig	Thu Jul 15 21:36:56 2004
+++ Makefile.config	Sun Aug 15 20:24:40 2004
@@ -32,7 +32,7 @@
 #CFLAGS += -O2 -Wall
 #CFLAGS += -O3 -Wall -march=athlon-tbird -mtune=athlon-tbird 
 #CFLAGS += -O3 -Wall -march=pentium -mtune=pentium4
-CFLAGS += -Wall
+CFLAGS ?= -Wall
 
 # gettext/internationalisation support
 # (is automatically turned off if you don't have gettext)
