--- Makefile.config.orig	Fri Nov  3 00:37:10 2006
+++ Makefile.config	Fri Nov  3 00:38:07 2006
@@ -84,9 +84,9 @@
 ifeq ($(DEBUG), 1)
 #additional CFLAGS -g -O0 will always be added when in debug mode
 #CFLAGS = -Wall -Wextra -Wno-unused -Winline
-CFLAGS = -Wall -Winline
+CFLAGS ?= -Wall -Winline
 else
-CFLAGS = -O2 -Wall
+CFLAGS ?= -O2 -Wall
 #CFLAGS = -O3 -Wall -march=athlon-tbird -mtune=athlon-tbird
 #CFLAGS = -O3 -Wall -march=pentium -mtune=pentium4
 endif
