
$FreeBSD$

--- ramond.conf.example.orig
+++ ramond.conf.example
@@ -1,5 +1,5 @@
 <?xml version="1.0" encoding="ISO-8859-15"?>
-<!DOCTYPE ramond SYSTEM "ramond.conf.dtd">
+<!DOCTYPE ramond SYSTEM "%%PREFIX%%/share/ramond/ramond.conf.dtd">
 <ramond>
 
 	<!-- 
@@ -41,7 +41,7 @@
   <rule mac="ecs-routers" lifetime="0">
    <execute>/home/james/ramond/demo.pl native-router-killed</execute>
   </rule>
-  <rule mac="ecs-routers" prefix="2001:630:d0:f000::/52">
+  <rule mac="ecs-routers" prefix="2001:db8:d0:f000::/52">
    <!-- do nothing -->
   </rule>
 
