--- langscan/php/phptok.c.dist-	Wed Feb  9 03:01:40 2005
+++ langscan/php/phptok.c.dist	Wed Feb  9 03:01:59 2005
@@ -1144,8 +1144,8 @@
 /* rule 7 can match eol */
 YY_RULE_SETUP
 #line 76 "phptok.l"
-{ UPD;
-	char *p = yytext+3;
+{ char *p = NULL; UPD;
+	p = yytext+3;
 	p += strspn(p, " \t");
 	heredocident = strdup(p);
 	*strpbrk(heredocident, "\r\n") = '\0';
