#!/bin/sh

pkgname=$1

CP=${CP:-%%CP%%}
ECHO=${ECHO:-%%ECHO%%}
GREP=${GREP:-%%GREP%%}
RM=${RM:-%%RM%%}
SED=${SED:-%%SED%%}

infodir=${INFODIR:-%%INFODIR%%}
infofiles=${INFOFILES:-%%INFOFILES%%}

if [ "X$2" = X"DEINSTALL" -a %%EMACS_NAME%% != xemacs ]; then
	${ECHO} "Deleting entry for \"${pkgname}\" from ${infodir}/dir"
	for file in `echo  ${infofiles} | ${SED} "s,:, ,g"`; do
		install-info --delete ${infodir}/${file} ${infodir}/dir
	done
else
	exit 0
fi
