######################################################################
To use YaTeX, add the next line into your .emacs;

    (require 'yatex-startup)

where yatex-startup.el is in %%ELISPDIR%%.
Please check the setup file because it has a lot of examples.
To get more information, see the info file of YaTeX;

Installation::
Customizations => Lisp variables::
######################################################################
