#!/bin/sh

case "$1" in
	start)
		if [ -x %%PREFIX%%/sbin/ddclient ]; then
			%%PREFIX%%/sbin/ddclient -daemon 300 && echo -n ' ddclient'
		fi
		;;
	stop)
		/usr/bin/killall ddclient
		echo -n ' ddclient'
		;;
	*)
		echo ""
		echo "Usage: `basename $0` { start | stop }"
		echo ""
		exit 64
		;;
esac
