--- support/config.h.dist.orig	2004-07-07 17:31:29.000000000 +0300
+++ support/config.h.dist	2004-11-10 07:36:58.000000000 +0200
@@ -57,7 +57,7 @@
  * russian nicks and channels, channel mode +z (latin nicks only) etc
  */
 #define RUSNET_IRCD
-#define NETWORKNAME "RusNet"
+#define NETWORKNAME @IRC_NETNAME@
 
 /* define if you don't want fun made with /connnect's */
 #define NOWALLOPS_TO_USERS
@@ -446,13 +446,8 @@
  * define IRC_UID to that UID.  This should only be defined if you are running
  * as root and even then perhaps not.
  */
-#undef	IRC_UID
-#undef	IRC_GID
-
-#ifdef	notdef
-#define	IRC_UID	65534	/* eg for what to do to enable this feature */
-#define	IRC_GID	65534
-#endif
+#define	IRC_UID	@IRC_UID@
+#define	IRC_GID	@IRC_GID@
 
 /*
  * CLIENT_FLOOD
