--- doc/siproxd.conf.example.orig	2008-05-17 17:56:11.000000000 +0200
+++ doc/siproxd.conf.example	2008-09-23 12:03:33.000000000 +0200
@@ -17,8 +17,8 @@
 #    or a hostname that resolves to that address (use a dyndns address for
 #    example).
 #
-if_inbound  = eth0
-if_outbound = ppp0
+if_inbound  = ed0
+if_outbound = tun0
 # uncomment the following line ONLY IF YOU KNOW WHAT YOU ARE DOING!
 # READ THE FAQ FIRST!
 #host_outbound = 1.2.3.4
@@ -79,7 +79,7 @@
 #   user:	uid/gid to switch to after startup
 #   chrootjail:	path to chroot to (chroot jail)
 user = nobody
-#chrootjail = /var/lib/siproxd/
+chrootjail = %%PREFIX%%/siproxd/
 
 ######################################################################
 # Registration file:
@@ -88,7 +88,7 @@
 #   the specified directory path does exist!
 #   Note: If running in chroot jail, this path starts relative
 #         to the jail.
-registration_file = /var/lib/siproxd/siproxd_registrations
+registration_file = siproxd_registrations
 
 ######################################################################
 # Automatically save current registrations every 'n' seconds
@@ -101,7 +101,7 @@
 #   This file holds the PID of the main thread of siproxd.
 #   Note: If running in chroot jail, this path starts relative
 #         to the jail.
-pid_file = /var/run/siproxd/siproxd.pid
+pid_file = siproxd.pid
 
 ######################################################################
 # global switch to control the RTP proxy behaviour
@@ -286,7 +286,7 @@
 # the processing order is given by the load order.
 #
 # plugin_dir: MUST be terminated with '/'
-plugindir=/home/hb9xar/src/siproxd/src/.libs/
+plugindir=%%PREFIX%%/lib/siproxd/
 #
 # List of plugins to load:
 #load_plugin=plugin_demo.so
