--- config/mime_drivers.php.dist.orig	Mon Mar 14 14:48:05 2005
+++ config/mime_drivers.php.dist	Wed Mar 30 00:41:34 2005
@@ -37,10 +37,21 @@
  * zip            Zip files
  */
 $mime_drivers_map['horde']['registered'] = array(
-    'css', 'deb', 'enriched', 'enscript', 'html', 'images', 'msword',
-    'msexcel', 'mspowerpoint', 'ooo', 'pdf', 'php', 'plain', 'rar', 'report',
-    'rfc822', 'richtext', 'rpm', 'security', 'simple', 'srchighlite', 'tgz',
-    'tnef', 'vcard', 'webcpp', 'zip');
+    'css'
+//UNCOMMENTIFDEB , 'deb'
+   , 'enriched'
+//UNCOMMENTIFES , 'enscript'
+   , 'html', 'images'
+//UNCOMMENTIFWV , 'msword'
+//UNCOMMENTIFXL , 'msexcel', 'mspowerpoint'
+   , 'ooo', 'pdf', 'php', 'plain', 'rar', 'report',
+    'rfc822', 'richtext'
+//UNCOMMENTIFRPM , 'rpm'
+   , 'security', 'simple'
+//UNCOMMENTIFSRCHIGH , 'srchighlite'
+   , 'tgz', 'tnef', 'vcard'
+//UNCOMMENTIFWCPP , 'webcpp'
+   , 'zip');
 
 
 /**
@@ -161,66 +172,66 @@
  * Web C Plus Plus driver settings
  * http://webcpp.sourceforge.net/
  */
-$mime_drivers['horde']['webcpp']['location'] = '/usr/bin/webcpp';
-$mime_drivers['horde']['webcpp']['inline'] = true;
-$mime_drivers['horde']['webcpp']['handles'] = array(
-    'text/xml', 'text/sgml', 'application/xml',
-    'application/x-sh', 'application/x-javascript', 'application/x-tcl',
-    'x-extension/asm', 'application/x-asp', 'x-extension/bas',
-    'x-extension/cs', 'text/x-csrc', 'x-extension/rc',
-    'text/x-c++src', 'text/x-c++src', 'text/x-c++src',
-    'text/x-chdr', 'x-extension/bat', 'text/x-fortran',
-    'x-extension/f77', 'x-extension/f90', 'x-extension/for',
-    'x-extension/ftn', 'text/x-java', 'application/x-javascript',
-    'text/sgml', 'text/xml', 'text/x-pascal',
-    'application/x-cgi', 'application/x-perl', 'application/x-python',
-    'text/x-sql', 'text/x-tcl',
-    'application/x-shellscript', 'x-extension/vhd', 'x-extension/vhdl');
-$mime_drivers['horde']['webcpp']['icons'] = array(
-    'default'                  => 'text.png',
-    'text/xml'                 => 'xml.png',
-    'text/x-csrc'              => 'source-c.png',
-    'text/x-chdr'              => 'source-h.png',
-    'text/x-java'              => 'source-java.png',
-    'application/x-javascript' => 'script-js.png');
+//UNCOMMENTIFWCPP$mime_drivers['horde']['webcpp']['location'] = '%%LOCALBASE%%/bin/webcpp';
+//UNCOMMENTIFWCPP$mime_drivers['horde']['webcpp']['inline'] = true;
+//UNCOMMENTIFWCPP$mime_drivers['horde']['webcpp']['handles'] = array(
+//UNCOMMENTIFWCPP    'text/xml', 'text/sgml', 'application/xml',
+//UNCOMMENTIFWCPP    'application/x-sh', 'application/x-javascript', 'application/x-tcl',
+//UNCOMMENTIFWCPP    'x-extension/asm', 'application/x-asp', 'x-extension/bas',
+//UNCOMMENTIFWCPP    'x-extension/cs', 'text/x-csrc', 'x-extension/rc',
+//UNCOMMENTIFWCPP    'text/x-c++src', 'text/x-c++src', 'text/x-c++src',
+//UNCOMMENTIFWCPP    'text/x-chdr', 'x-extension/bat', 'text/x-fortran',
+//UNCOMMENTIFWCPP    'x-extension/f77', 'x-extension/f90', 'x-extension/for',
+//UNCOMMENTIFWCPP    'x-extension/ftn', 'text/x-java', 'application/x-javascript',
+//UNCOMMENTIFWCPP    'text/sgml', 'text/xml', 'text/x-pascal',
+//UNCOMMENTIFWCPP    'application/x-cgi', 'application/x-perl', 'application/x-python',
+//UNCOMMENTIFWCPP    'text/x-sql', 'text/x-tcl',
+//UNCOMMENTIFWCPP    'application/x-shellscript', 'x-extension/vhd', 'x-extension/vhdl');
+//UNCOMMENTIFWCPP$mime_drivers['horde']['webcpp']['icons'] = array(
+//UNCOMMENTIFWCPP    'default'                  => 'text.png',
+//UNCOMMENTIFWCPP    'text/xml'                 => 'xml.png',
+//UNCOMMENTIFWCPP    'text/x-csrc'              => 'source-c.png',
+//UNCOMMENTIFWCPP    'text/x-chdr'              => 'source-h.png',
+//UNCOMMENTIFWCPP    'text/x-java'              => 'source-java.png',
+//UNCOMMENTIFWCPP    'application/x-javascript' => 'script-js.png');
 
 /**
  * Source-Highlight driver settings
  * http://www.gnu.org/software/src-highlite/
  */
-$mime_drivers['horde']['srchighlite']['location'] = '/usr/bin/source-highlight';
-$mime_drivers['horde']['srchighlite']['inline'] = true;
-$mime_drivers['horde']['srchighlite']['handles'] = array(
-    'text/x-csrc', 'text/x-c++src', 'text/x-java',
-    'application/x-perl', 'application/x-python', 'text/x-c++src',
-    'text/cpp');
-$mime_drivers['horde']['srchighlite']['icons'] = array(
-    'default'                  => 'text.png',
-    'text/x-csrc'              => 'source-c.png',
-    'text/x-c++src'            => 'source-c.png',
-    'text/cpp'                 => 'source-c.png',
-    'text/x-java'              => 'source-java.png');
+//UNCOMMENTIFSRCHIGH$mime_drivers['horde']['srchighlite']['location'] = '%%LOCALBASE%%/bin/source-highlight';
+//UNCOMMENTIFSRCHIGH$mime_drivers['horde']['srchighlite']['inline'] = true;
+//UNCOMMENTIFSRCHIGH$mime_drivers['horde']['srchighlite']['handles'] = array(
+//UNCOMMENTIFSRCHIGH    'text/x-csrc', 'text/x-c++src', 'text/x-java',
+//UNCOMMENTIFSRCHIGH    'application/x-perl', 'application/x-python', 'text/x-c++src',
+//UNCOMMENTIFSRCHIGH    'text/cpp');
+//UNCOMMENTIFSRCHIGH$mime_drivers['horde']['srchighlite']['icons'] = array(
+//UNCOMMENTIFSRCHIGH    'default'                  => 'text.png',
+//UNCOMMENTIFSRCHIGH    'text/x-csrc'              => 'source-c.png',
+//UNCOMMENTIFSRCHIGH    'text/x-c++src'            => 'source-c.png',
+//UNCOMMENTIFSRCHIGH    'text/cpp'                 => 'source-c.png',
+//UNCOMMENTIFSRCHIGH    'text/x-java'              => 'source-java.png');
 
 /**
  * GNU Enscript driver settings
  */
-$mime_drivers['horde']['enscript']['location'] = '/usr/bin/enscript';
-$mime_drivers['horde']['enscript']['inline'] = true;
-$mime_drivers['horde']['enscript']['handles'] = array(
-    'application/x-cgi', 'application/x-shellscript', 'application/x-javascript',
-    'application/x-perl', 'application/xml', 'text/xml',
-    'text/diff', 'text/x-diff', 'text/x-patch', 'text/x-csrc',
-    'x-extension/cs', 'text/x-java', 'text/x-chdr', 'text/x-c++src',
-    'text/x-c++hdr', 'x-extension/vhd', 'x-extension/vhdl', 'text/x-sql',
-    'x-extension/vb', 'x-extension/vba', 'text/x-emacs-lisp');
-$mime_drivers['horde']['enscript']['icons'] = array(
-    'default'                  => 'text.png',
-    'text/xml'                 => 'xml.png',
-    'application/xml'          => 'xml.png',
-    'text/x-csrc'              => 'source-c.png',
-    'text/x-chdr'              => 'source-h.png',
-    'text/x-java'              => 'source-java.png',
-    'application/x-javascript' => 'script-js.png');
+//UNCOMMENTIFES$mime_drivers['horde']['enscript']['location'] = '%%LOCALBASE%%/bin/enscript';
+//UNCOMMENTIFES$mime_drivers['horde']['enscript']['inline'] = true;
+//UNCOMMENTIFES$mime_drivers['horde']['enscript']['handles'] = array(
+//UNCOMMENTIFES    'application/x-cgi', 'application/x-shellscript', 'application/x-javascript',
+//UNCOMMENTIFES    'application/x-perl', 'application/xml', 'text/xml',
+//UNCOMMENTIFES    'text/diff', 'text/x-diff', 'text/x-patch', 'text/x-csrc',
+//UNCOMMENTIFES    'x-extension/cs', 'text/x-java', 'text/x-chdr', 'text/x-c++src',
+//UNCOMMENTIFES    'text/x-c++hdr', 'x-extension/vhd', 'x-extension/vhdl', 'text/x-sql',
+//UNCOMMENTIFES    'x-extension/vb', 'x-extension/vba', 'text/x-emacs-lisp');
+//UNCOMMENTIFES$mime_drivers['horde']['enscript']['icons'] = array(
+//UNCOMMENTIFES    'default'                  => 'text.png',
+//UNCOMMENTIFES    'text/xml'                 => 'xml.png',
+//UNCOMMENTIFES    'application/xml'          => 'xml.png',
+//UNCOMMENTIFES    'text/x-csrc'              => 'source-c.png',
+//UNCOMMENTIFES    'text/x-chdr'              => 'source-h.png',
+//UNCOMMENTIFES    'text/x-java'              => 'source-java.png',
+//UNCOMMENTIFES    'application/x-javascript' => 'script-js.png');
 
 
 /**
@@ -272,15 +283,15 @@
  * The 'location' entry should point to the 'wvHtml' program, NOT the
  * 'wvWare' program.
  */
-$mime_drivers['horde']['msword']['location'] = '/usr/bin/wvHtml';
-$mime_drivers['horde']['msword']['inline'] = false;
-$mime_drivers['horde']['msword']['handles'] = array(
-    'application/vnd.ms-word',
-    'application/msword',
-    'application/rtf',
-    'text/rtf');
-$mime_drivers['horde']['msword']['icons'] = array(
-    'default' => 'msword.png');
+//UNCOMMENTIFWV$mime_drivers['horde']['msword']['location'] = '%%LOCALBASE%%/bin/wvHtml';
+//UNCOMMENTIFWV$mime_drivers['horde']['msword']['inline'] = false;
+//UNCOMMENTIFWV$mime_drivers['horde']['msword']['handles'] = array(
+//UNCOMMENTIFWV    'application/vnd.ms-word',
+//UNCOMMENTIFWV    'application/msword',
+//UNCOMMENTIFWV    'application/rtf',
+//UNCOMMENTIFWV    'text/rtf');
+//UNCOMMENTIFWV$mime_drivers['horde']['msword']['icons'] = array(
+//UNCOMMENTIFWV    'default' => 'msword.png');
 
 
 /**
@@ -288,14 +299,14 @@
  * This driver requires xlhtml to be installed.
  * xlhtml homepage: http://chicago.sourceforge.net/xlhtml/
  */
-$mime_drivers['horde']['msexcel']['location'] = '/usr/local/bin/xlhtml';
-$mime_drivers['horde']['msexcel']['inline'] = false;
-$mime_drivers['horde']['msexcel']['handles'] = array(
-    'application/vnd.ms-excel',
-    'application/msexcel',
-    'application/x-msexcel');
-$mime_drivers['horde']['msexcel']['icons'] = array(
-    'default' => 'msexcel.png');
+//UNCOMMENTIFXL$mime_drivers['horde']['msexcel']['location'] = '%%LOCALBASE%%/bin/xlhtml';
+//UNCOMMENTIFXL$mime_drivers['horde']['msexcel']['inline'] = false;
+//UNCOMMENTIFXL$mime_drivers['horde']['msexcel']['handles'] = array(
+//UNCOMMENTIFXL    'application/vnd.ms-excel',
+//UNCOMMENTIFXL    'application/msexcel',
+//UNCOMMENTIFXL    'application/x-msexcel');
+//UNCOMMENTIFXL$mime_drivers['horde']['msexcel']['icons'] = array(
+//UNCOMMENTIFXL    'default' => 'msexcel.png');
 
 
 /**
@@ -303,13 +314,13 @@
  * This driver requires ppthtml, included with xlhtml, to be installed.
  * xlhtml homepage: http://chicago.sourceforge.net/xlhtml/
  */
-$mime_drivers['horde']['mspowerpoint']['location'] = '/usr/local/bin/ppthtml';
-$mime_drivers['horde']['mspowerpoint']['inline'] = false;
-$mime_drivers['horde']['mspowerpoint']['handles'] = array(
-    'application/vnd.ms-powerpoint',
-    'application/mspowerpoint');
-$mime_drivers['horde']['mspowerpoint']['icons'] = array(
-    'default' => 'mspowerpoint.png');
+//UNCOMMENTIFXL$mime_drivers['horde']['mspowerpoint']['location'] = '%%LOCALBASE%%/bin/ppthtml';
+//UNCOMMENTIFXL$mime_drivers['horde']['mspowerpoint']['inline'] = false;
+//UNCOMMENTIFXL$mime_drivers['horde']['mspowerpoint']['handles'] = array(
+//UNCOMMENTIFXL    'application/vnd.ms-powerpoint',
+//UNCOMMENTIFXL    'application/mspowerpoint');
+//UNCOMMENTIFXL$mime_drivers['horde']['mspowerpoint']['icons'] = array(
+//UNCOMMENTIFXL    'default' => 'mspowerpoint.png');
 
 
 /**
@@ -325,24 +336,24 @@
 /**
  * RPM driver settings
  */
-$mime_drivers['horde']['rpm']['location'] = '/usr/bin/rpm';
-$mime_drivers['horde']['rpm']['inline'] = false;
-$mime_drivers['horde']['rpm']['handles'] = array(
-    'application/x-rpm');
-$mime_drivers['horde']['rpm']['icons'] = array(
-    'default' => 'rpm.png');
+//UNCOMMENTIFRPM$mime_drivers['horde']['rpm']['location'] = '%%LOCALBASE%%/bin/rpm';
+//UNCOMMENTIFRPM$mime_drivers['horde']['rpm']['inline'] = false;
+//UNCOMMENTIFRPM$mime_drivers['horde']['rpm']['handles'] = array(
+//UNCOMMENTIFRPM    'application/x-rpm');
+//UNCOMMENTIFRPM$mime_drivers['horde']['rpm']['icons'] = array(
+//UNCOMMENTIFRPM    'default' => 'rpm.png');
 
 
 /**
  * Debian package driver settings
  */
-$mime_drivers['horde']['deb']['location'] = '/usr/bin/dpkg';
-$mime_drivers['horde']['deb']['inline'] = false;
-$mime_drivers['horde']['deb']['handles'] = array(
-    'application/x-deb',
-    'application/x-debian-package');
-$mime_drivers['horde']['deb']['icons'] = array(
-    'default' => 'deb.png');
+//UNCOMMENTIFDEB$mime_drivers['horde']['deb']['location'] = '%%LOCALBASE%%/bin/dpkg';
+//UNCOMMENTIFDEB$mime_drivers['horde']['deb']['inline'] = false;
+//UNCOMMENTIFDEB$mime_drivers['horde']['deb']['handles'] = array(
+//UNCOMMENTIFDEB    'application/x-deb',
+//UNCOMMENTIFDEB    'application/x-debian-package');
+//UNCOMMENTIFDEB$mime_drivers['horde']['deb']['icons'] = array(
+//UNCOMMENTIFDEB    'default' => 'deb.png');
 
 
 /**
