--- src/mailman/config/mailman.cfg.orig	2018-01-22 20:19:40 UTC
+++ src/mailman/config/mailman.cfg
@@ -34,14 +34,17 @@ var_dir: $cwd/var
 [paths.fhs]
 # Filesystem Hiearchy Standard 2.3
 # http://www.pathname.com/fhs/pub/fhs-2.3.html
-bin_dir: /sbin
+bin_dir: /usr/local/bin
 var_dir: /var/lib/mailman
 queue_dir: /var/spool/mailman
 log_dir: /var/log/mailman
-lock_dir: /var/lock/mailman
-etc_dir: /etc
-ext_dir: /etc/mailman.d
+lock_dir: /var/spool/lock/mailman
+etc_dir: /usr/local/etc
+ext_dir: /usr/local/etc/mailman.d
 pid_file: /var/run/mailman/master.pid
+
+[paths.home]
+var_dir: /usr/local/mailman
 
 [language.en]
 
