--- src/mailman/config/mhonarc.cfg.orig	2017-03-28 19:07:28 UTC
+++ src/mailman/config/mhonarc.cfg
@@ -24,4 +24,4 @@ base_url: http://$hostname/archives/$fqdn_listname
 
 # If the archiver works by calling a command on the local machine, this is the
 # command to call.
-command: /usr/bin/mhonarc -outdir /path/to/archive/$listname -add
+command: /usr/local/bin/mhonarc -outdir /path/to/archive/$listname -add
