--- src/mailman/config/schema.cfg.orig	2018-01-22 20:19:40 UTC
+++ src/mailman/config/schema.cfg
@@ -55,7 +55,7 @@ pending_request_life: 3d
 cache_life: 7d
 
 # Which paths.* file system layout to use.
-layout: here
+layout: home
 
 # Can MIME filtered messages be preserved by list owners?
 filtered_messages_are_preservable: no
@@ -65,7 +65,7 @@ filtered_messages_are_preservable: no
 # where the substitution variable $filename is filled in by Mailman, and
 # contains the path to the temporary file that the command should read from.
 # The command should print the converted text to stdout.
-html_to_plain_text_command: /usr/bin/lynx -dump $filename
+html_to_plain_text_command: /usr/local/bin/lynx -dump $filename
 
 # Specify what characters are allowed in list names.  Characters outside of
 # the class [-_.+=!$*{}~0-9a-z] matched case insensitively are never allowed,
