#!/bin/sh
#
# $FreeBSD$
#

# PROVIDE: gld
# REQUIRE: LOGIN
# BEFORE: mail
# KEYWORD: FreeBSD shutdown

#
# Add the following lines to /etc/rc.conf to enable gld:
#
#gld_enable="YES"
#

. %%RC_SUBR%%

name=gld
rcvar=`set_rcvar`

command=%%PREFIX%%/sbin/gld

required_files=%%PREFIX%%/etc/gld.conf

# set defaults

gld_enable=${gld_enable:-"NO"}

load_rc_config $name
run_rc_command "$1"
