
*******************************************************************
  Enable gld in /etc/rc.conf with the following line:
  
      gld_enable="YES"

 To complete the installation, you need to create the neccesary
 database and tables. An example configuration file is available in
 %%PREFIX%%/etc/gld.conf-dist. For more information see the
 documentation in %%DOCSDIR%%/share/doc/gld.
*******************************************************************

