--- contrib/thg.desktop.orig	2021-02-03 05:58:06 UTC
+++ contrib/thg.desktop
@@ -5,7 +5,7 @@ GenericName=Version Control GUI
 GenericName[ru]=Графический интерфейс для системы контроля версий
 Comment=GUI application for using Mercurial
 Comment[ru]=Графический интерфейс для Mercurial
-Icon=thg_logo
+Icon=tortoisehg/scalable/apps/thg
 Exec=thg --nofork
 Categories=Development;RevisionControl;
 X-Desktop-File-Install-Version=0.23
