--- tumblerd/tumbler.rc.orig	2017-05-28 10:17:58 UTC
+++ tumblerd/tumbler.rc
@@ -37,7 +37,7 @@ MaxFileSize=0
 
 # RAW image files using libopenraw
 [RawThumbnailer]
-Disabled=false
+Disabled=true
 Priority=1
 Locations=
 MaxFileSize=0
@@ -58,7 +58,7 @@ MaxFileSize=0
 
 # ffmpegthumbnailer plugin
 [FfmpegThumbnailer]
-Disabled=false
+Disabled=true
 Priority=2
 Locations=
 MaxFileSize=0
