--- rebar.config.orig	2016-03-28 13:13:31 UTC
+++ rebar.config
@@ -14,11 +14,6 @@
 {post_hooks, [{clean, "rm -rf *~ */*~ */*.xfm test/*.beam"}]}.
 
 {deps, [
-        {idna, "1.2.0"},
-        {mimerl, "1.0.2"},
-        {certifi, "0.4.0"},
-        {metrics, "1.0.1"},
-        {ssl_verify_fun, "1.1.0"}
        ]}.
 
 {profiles, [{docs, [{deps,
