--- rebar.config.orig	2015-11-04 09:48:27 UTC
+++ rebar.config
@@ -13,13 +13,6 @@
 
 {post_hooks, [{clean, "rm -rf *~ */*~ */*.xfm test/*.beam"}]}.
 
-{deps, [
-        {idna, "1.0.2"},
-        {mimerl, "1.0.0"},
-        {certifi, "0.1.1"},
-        {ssl_verify_hostname, "1.0.5"}
-       ]}.
-
 {profiles, [{docs, [{deps,
                      [
                       {edown,
