#!/bin/sh
#
# $FreeBSD$
#

# PROVIDE: lighttpd
# REQUIRE: DAEMON
# BEFORE: LOGIN
# KEYWORD: FreeBSD shutdown

#
# Add the following lines to /etc/rc.conf to enable lighttpd:
#
#lighttpd_enable="YES"
#
# See lighttpd(1) for manual
#

. %%RC_SUBR%%

name=lighttpd
rcvar=`set_rcvar`

command=%%PREFIX%%/sbin/lighttpd
pidfile=/var/run/lighttpd.pid
required_files=${lighttpd_conf}

stop_postcmd=stop_postcmd

stop_postcmd()
{
  rm -f $pidfile
}

# set defaults

lighttpd_enable=${lighttpd_enable:-"NO"}
lighttpd_conf=${lighttpd_conf:-"%%PREFIX%%/etc/lighttpd.conf"}

command_args="-f ${lighttpd_conf}"

load_rc_config $name
run_rc_command "$1"
