--- doc/examples/Makefile.examples.template.orig	2017-01-07 14:57:52 UTC
+++ doc/examples/Makefile.examples.template
@@ -11,9 +11,9 @@
 #
 # This makefile is purposefully kept simple to support GNU and BSD make.
 
-ifdef AM_CC
+.if defined(AM_CC)
 CC = $(AM_CC)
-endif
+.endif
 CFLAGS = -g -O2 -Wall
 
 all: $(BINARY)
